{literal}
	<script type="text/javascript">
	$.metadata.setType("attr", "validate");
		function validate_pass() {
			var validator=$("#planform").validate();
			var x=validator.form();
			if(x){
				return true;
			}else {
				return false;
			}
		}
	</script> 
<style>
	label.error	{
		color:#FF0000;
		font-size:15px;
	}
</style>
{/literal}
<div class="box box-75 altbox">
    <div class="boxin">
        <div class="header">
            <h3>Change Password</h3>
        </div>
        <form id="planform" action="##LBL_ADMIN_SITE_URL##user/update_password" onSubmit="return validate_pass();" method="post" class="basic">
        <input type="hidden" name="id_category" value="{$x.id_category}"/>
            <div class="inner-form">
            <dl>
            <dt><label for="some1">Enter Old Password :</label></dt>
            
            <dd>
            <input type="password" name="pwd[pwd]" id="pwd" validate="required:true,minlength:6" class="txt" />
            </dd>
            
            <dt><label for="some2">Enter New Password :</label></dt><!-- .ttop for vertical-align: top -->
            <dd><input type="password" name="pwd[pass]" id="npwd1" validate="required:true,minlength:6" class="txt"/></dd>
            
            <dt><label for="some2">Confirm New Password :</label></dt>
            
            <dd><input type="password" name="pwd[new_pass]" id="npwd2" validate="required:true,equalTo:'#npwd1',minlength:6" class="txt"/>
            </dd>
            <dt></dt>
            <dd>
            <input class="button" type="submit" value="Change Password"/ />
            </dd>
            
            </dl>
            </div>
        </form>
    </div>
</div>
