{literal}
<style type="text/css">
  .profiledetailsadmin_fancy{display:none;}
</style>
{/literal}
<!--started by gayatree-->
<div style="width:600px;" id="dv1">
  <div class="row-fluid">
<div class="span12">
                        <!-- BEGIN BASIC PORTLET-->
                        <div class="widget green">
                          <div class="widget-title">
                                <h4><i class="icon-reorder"></i>  Profile Details</h4>
<!--                            <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>-->
                            </div>
<!--	<div class="headprt settheme">
		<div class="mdl">
			<div class="fltlft">
		     Profile Details
			</div>
			<div class="clear"></div>
		</div>
	</div>-->
	<div class="widget-body">
		<table class="table table-striped">
		    <tr>
			<th>Name:</th><td>{$sm.res.first_name} {$sm.res.last_name}</td>
		    </tr>
		    <tr>
			<th>Email:</th><td><a title="Email {$sm.res.email} " href="mailto:{$sm.res.email}">{$sm.res.email}</a></td>
		    </tr>
		    <tr>
			<th>Password:</th><td>{$sm.res.password}</td>
		    </tr>
		     <tr>
			<th>Status:</th><td>{if $sm.res.user_status == 1}Active {else}Inactive{/if}</td>
		    </tr>
		    <tr>
			<th>Dob:</th><td>{$sm.res.dob|date_format:"%m-%d-%Y"|default:NA}</td>
		    </tr>
		    <tr>
			<th>Gender:</th><td>{if $sm.res.gender eq M}Male{elseif $sm.res.gender eq F}Female{else}N/A{/if}</td>
		    </tr>
		   
		    <tr>
			<th>Signup Date:</th><td>{$sm.res.add_date|date_format:"%m-%d-%Y"|default:NA}</td>
		    </tr>
		    <tr>
			<th>Login Ip:</th><td>{if $sm.res.ip == "" }N/A{else}{$sm.res.ip}{/if}</td>
		    </tr>
		</table>
		</div>
                          </div>
                        </div>
    </div>
</div>
                        

<!--ended by gayatree-->




<div class="makebox center profiledetailsadmin_fancy" id="dv1">
	<div class="headprt settheme">
		<div class="mdl">
			<div class="fltlft">
		     Profile Details
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="bodyprt">
		<table cellspacing="0" width="400">
		    <tr>
			<th>Name:</th><td>{$sm.res.first_name} {$sm.res.last_name}</td>
		    </tr>
		    <tr>
			<th>Email:</th><td><a title="Email {$sm.res.email} " href="mailto:{$sm.res.email}">{$sm.res.email}</a></td>
		    </tr>
		    <tr>
			<th>Password:</th><td>{$sm.res.password}</td>
		    </tr>
		     <tr>
			<th>Status:</th><td>{if $sm.res.user_status == 1}Active {else}Inactive{/if}</td>
		    </tr>
		    <tr>
			<th>Dob:</th><td>{$sm.res.dob|date_format:"%m-%d-%Y"|default:NA}</td>
		    </tr>
		    <tr>
			<th>Gender:</th><td>{if $sm.res.gender eq M}Male{elseif $sm.res.gender eq F}Female{else}N/A{/if}</td>
		    </tr>
		   
		    <tr>
			<th>Signup Date:</th><td>{$sm.res.add_date|date_format:"%m-%d-%Y"|default:NA}</td>
		    </tr>
		    <tr>
			<th>Login Ip:</th><td>{if $sm.res.ip == "" }N/A{else}{$sm.res.ip}{/if}</td>
		    </tr>
		</table>
		</div>
</div>
</br>