<div id="faq_list">
<div class="box box-60 altbox">
    <div class="boxin">
        <div class="header">
            <h3>FAQ LIST</h3>
            <a class="button" href="javascript:void(0);" onclick="addfaq();">Add</a>
            <a class="button" href="javascript:void(0);" onclick="deletefaq();">delete</a>
        </div>
        <div class="content">
       <form>
            <table border="1">
            {if $sm.faqlist}
                <thead>
                	<th>
                    	<input type="checkbox" id="chkall" name="chkall"/>SELECT ALL
                    </th>
                    <th>Questions</th>
                    <th>Answers</th>
                    <th>Images</th>
                    <th>TIME</th>
                    <th>EDIT</th>
                </thead>
             {/if}
                <tbody>
            {foreach from=$sm.faqlist item=item}
                <tr>
                	<td><input type="checkbox" id="id_chk{$item.id_faq}" value="{$item.id_faq}" name="chk[]" onclick="unSelect()"/></td>
                    <td>{$item.question}</td>
                    <td>{$item.answer}</td>
                    <td><img src="##LBL_SITE_URL##image/thumb/{$item.img}"> </td>
                    <td>{$item.time_faq|date_format:"%m/%d/%Y %r"}</td>
                    <td><a href="javascript:void(0);" onclick="editfaq({$item.id_faq});">Edit</a></td>
                </tr>
            {foreachelse}
                <tr>
                    <td colspan="2">No record found.</td>
                </tr>
            {/foreach}
            </tbody>
            </table>
          </form>
    </div>
<div>{$sm.failmsg}</div>
</div>
</div>
</div>
{literal}
<script type="text/javascript">
	function unSelect() {
		$("input[id^=id_chk]:unchecked").each(function(){
				$('#chkall').removeAttr('checked');
		});
	}
		
	$("#chkall").click(function()
		{
			var checked_status = this.checked;
			$("input[id^=id_chk]").each(function()
				{
					this.checked = checked_status;
				});
		});
	function addfaq() {
		var url="##LBL_ADMIN_SITE_URL##";
		$.fancybox.showActivity();
		$.post(url,{"page":"login","choice":"addFaq",ce:0},function(res){
			$.fancybox(res);
		});
	}
	function editfaq(faqid) {
		var url="##LBL_ADMIN_SITE_URL##";
		$.fancybox.showActivity();
		$.post(url,{"page":"login","choice":"addFaq",edit:1,"faqid":faqid,ce:0},function(res){
			$.fancybox(res);
		});
	}
	function deletefaq() {
		var url="##LBL_ADMIN_SITE_URL##";
		var choice=confirm('Do you want to delete?');
		if(choice){
			var x='';
			$("input[id^=id_chk]:checked").each(function(){
				x=x+','+$(this).val();
			});
			alert(url);
			$.post(url,{"page":"login","choice":"deleteFaq",ce:0,faqid:x},function(res){
				window.location.href = res;
			});
		}
	}
</script>
{/literal}
