<center>
	<div id="user_alphabet_menu">
		<a href="javascript:void(0);" onclick="getUserDat('a');" id="a">a</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('b');" id="b">b</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('c');" id="c">c</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('d');" id="d">d</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('e');" id="e">e</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('f');" id="f">f</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('g');" id="g">g</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('h');" id="h">h</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('i');" id="i">i</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('j');" id="j">j</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('k');" id="k">k</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('l');" id="l">l</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('m');" id="m">m</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('n');" id="n">n</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('o');" id="o">o</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('p');" id="p">p</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('q');" id="q">q</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('r');" id="r">r</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('s');" id="s">s</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('t');" id="t">t</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('u');" id="u">u</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('v');" id="v">v</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('w');" id="w">w</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('x');" id="x">x</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('y');" id="y">y</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('z');" id="z">z</a>&nbsp;|&nbsp;
		<a href="javascript:void(0);" onclick="getUserDat('all');" id="all">all</a>&nbsp;&nbsp;
	</div>
</center>
<div id="showerr" style="color:red" >{$sm.failmsg}{if $sm.delete_msg}Record deleted.{/if}</div>
<div id="user_getUserLogin"></div>
{literal}
<script type="text/javascript">
	{/literal}
	var qstart="{$sm.qstart}";
	var c="{$sm.c}";
	{literal}
	$(document).ready(function(){
		$('.selectc').attr('id','all');
		$('#all').attr('class','selectc');
		$('#all').css({ color:"red", fontWeight:"bolder" });
		var url="##LBL_ADMIN_SITE_URL##";
		if(c){
			c=c;
		}else{
			c="all";
		}
		$.post(url,{"page":"user","choice":"getUserLogin","c":c,ce:0,'qstart1':qstart},function(res){
			$('#user_getUserLogin').html(res);
		});
	});
	function getUserDat(txt) {
		$('#showerr').html('');
		if($('.selectc').attr('id')) {
			$('.selectc').css('color','black');
			$('.selectc').css('fontWeight','normal');
			$('.selectc').removeAttr('class');
		}
		$('#'+txt).attr('class','selectc');
		$('#'+txt).css({ color:"red", fontWeight:"bolder" });
		var url="##LBL_ADMIN_SITE_URL##";
		var c=txt;
		$.post(url,{"page":"user","choice":"getUserLogin","c":c,"ce":0},function(res){
			$('#user_getUserLogin').html(res);
		});
	}
</script>
{/literal}
