{assign var=check_field value=$util->get_values_from_config('LOGIN')}
{literal}
<style type="text/css">
	 .formtbl tr td select{
		  width:120px;
		  margin-right:5px;
	 }
     .updateprofileadmin_fancy{display:none;}
</style>
<script type="text/javascript">
    var emailcheck;
    var usernamecheck;
    $(function(){
	var c="{/literal}{$check_field.name}{literal}";
	if(c==1){
	    usernamecheck=true;
	    emailcheck=false;
	}else{
	    usernamecheck=false;
	    emailcheck=true;
	}
    });
    $.validator.addMethod("username", function(value) {
	return /^[a-z0-9]([a-z0-9_.]+)?$/i.test(value);
    },'<br>Please enter a valid username'
);
    function checkValidate() {
	var validator=$("#signupform").validate({
	    rules: {
		"user[first_name]": {
		    required:true,
		    maxlength: 50
		},
		"user[last_name]":{
		    required: true,
		    maxlength: 50						
		},
		"user[username]":{
		    required:true,
		    maxlength: 20,
		    username:usernamecheck,
		    email:emailcheck
		},
		"user[email]":{
		    required: true,
		    email: true
		},
		"user[password]":{
		    required: true,
		    minlength: 6,
		    maxlength: 20
		},
		"cpwd":{
		    required: true,
		    equalTo:'#pwd'
		},
		"gender":{
		    required: true
		},
		"user[address]":{
		    required: true
		},
		"dob_Month":{
		    required: true
		},
		"dob_Year":{
		    required: true
		},
		"dob_Day":{
		    required: true
		}
	    },
	    messages: {
		"user[first_name]": {
		    required:flexymsg.required,
		    maxlength:flexymsg.mixlength
		},
		"user[last_name]":{
		    required: flexymsg.required,
		    maxlength:flexymsg.mixlength
		},
		"user[username]" :{
		    required: flexymsg.required,
		    maxlength:flexymsg.mixlength
		},
		"user[email]" :{
		    required: flexymsg.required,
		    email: flexymsg.email
		},
		"user[password]":{
		    required:flexymsg.required,
		    minlength:flexymsg.minlength,
		    maxlength:flexymsg.mixlength
		},
		"cpwd":{
		    required: flexymsg.required,
		    equalTo: flexymsg.equalTo
		},
		"gender" :{
		    required: flexymsg.required
		},
		"user[address]" :{
		    required: flexymsg.required
		},
		"dob_Month" :{
		    required: flexymsg.required_dob
		},
		"dob_Year" :{
		    required: flexymsg.required_dob
		},
		"dob_Day" :{
		    required: flexymsg.required_dob
		}					
	    }
	});
	var x=validator.form();
	return x;
    }
    function checkDate(e) {
			
    }
    function showUsernameExist() {
	var username=document.getElementById('username').value;
	var url="##LBL_SITE_URL##";
	$.post(url,{"page":"user","choice":"checkUsername",ce:0,"username":username},function(res){
			
	    if(res!=0 && username!=""){
		$('#add_user_msg').html("<div class='message'>This Username Already Exist.</div>");
		$('#username').val("");
		return false;
	    }else{
		$('#add_user_msg').html('');
		return true;
	    }
	});
    }
    function checkPassword() {
	var text=document.getElementById('pwd').value;
	var i,s,color,width;
	var n_o_small_char=0;
	var n_o_cap_char=0;
	var n_o_spe_char=0;
	var n_o_dig=0;
	var point=0;
	for(i=0;i<text.length;i++){
	    if(97<=text.charCodeAt(i) && text.charCodeAt(i)<=122) {
		point++;
		n_o_small_char=n_o_small_char+1;
	    }else if(65<=text.charCodeAt(i) && text.charCodeAt(i)<=90){
		point=point+2;
		n_o_cap_char++;
	    }else if(48<=text.charCodeAt(i) && text.charCodeAt(i)<=57){
		point=point+2;
		n_o_dig++;
	    }else if(text.charCodeAt(i)!=32){
		n_o_spe_char++;
		point=point+3;
	    }
	}	
			
	if(n_o_small_char>0 && n_o_cap_char>0 && n_o_spe_char>0 && n_o_dig>0){
	    point=point+4;
	}
	if(n_o_spe_char>2){
	    point=point+3;
	}
			
	if(point<10){
	    if(!point){
		s="";
		width=0;
	    }else{
		s="poor";
		color="#FFFFCC";
		width=30;
	    }
	}else if(10<=point && point<=15){
	    s="good";
	    color="#CCFFFF";
	    width=60;
	}else if(point>=15){
	    s="best";
	    width=100;
	    color="#00FF00";
	}
	document.getElementById('status').innerHTML=s;
	//document.getElementById('pnts').innerHTML=point;
	document.getElementById('subpassprogressbar').style.backgroundColor=color;
	document.getElementById('subpassprogressbar').style.width=width+'%';
    }
	function updateUser(){
		var qstart = "{/literal}{$sm.qstart}{literal}"; 
		var url = siteurl+"?"+$("#signupform").serialize();
		$.post(url,{'page':'user','choice':'updateUserProfile','ce':'0','qstart':qstart},function(res){
			//show_fancybox(res);
			$("#user_listing").html(res);
			$.fancybox.close();
		});
	}
</script> 
{/literal}
<!--started by gayatree-->
<div style="width: 500px;">
  <div class="row-fluid">
<div class="span12">
                        <!-- BEGIN BASIC PORTLET-->
                        <div class="widget green">
                           <div class="widget-title">
                                <h4><i class="icon-reorder"></i>{if $sm.res}Update{else}Add{/if} User Profile</h4>
<!--                            <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>-->
                            </div>
<!--    <div class="headprt settheme">
	<div class="mdl">
	    <span>{if $sm.res}Update{else}Add{/if} User Profile</span>
	</div>
    </div>-->
    <div id="error" align="center" style="display:none"></div>
    <div class="widget-body">
	<form id="signupform" name="signupform" action="##LBL_ADMIN_SITE_URL##user/{if $sm.flag}updateUserProfile{else}insert{/if}" method="post" onSubmit="return checkValidate();">
	    <input type="hidden" name="id_user" value="{$sm.res.id_user}" />
	    <input type="hidden" name="qstart" value="{$sm.qstart}">
	    <input type="hidden" name="search[fname]" value="{$sm.search_val.0}"/>
	    <input type="hidden" name="search[email]" value="{$sm.search_val.1}"/>
	    <input type="hidden" name="search[addr]" value="{$sm.search_val.2}"/>
	    <input type="hidden" name="search[cond]" value="0"/>
	    <table class="table table-striped">
		<tr>
		    <td width="20%">First Name:</td>
		    <td>
			<input type="text" name="user[first_name]" id="fname" value="{$sm.res.first_name}" />
			<span id="err">{$sm.err.first_name}</span> 
		    </td>
		</tr>
		<tr>
		    <td>Last Name :</td>
		    <td>
			<input type="text" name="user[last_name]" id="lname" value="{$sm.res.last_name}" />
			<span id="err1">{$sm.err.last_name}</span>
		    </td>
		</tr>
		<tr>
		    <td>Username :</td>
		    <td>
			<input type="text" name="user[username]" id="username" value="{$sm.res.username}" {if $sm.flag}readonly="readonly"{/if} {if !$sm.flag}onblur="return showUsernameExist();"{/if} />
			       <span id="add_user_msg"><b></b></span>
			<span id="err2">{if $sm.d_name}{$sm.d_name}{else}{$sm.err.username}{/if}</span>
		    </td>
		</tr>
		<tr>
		    <td>Email :</td>
		    <td>
			<input type="text" name="user[email]" id="email" value="{$sm.res.email}" />
			<span id="err3">{$sm.err.email}</span>
		    </td>
		</tr>
		{if !$sm.flag}
		<tr>
		    <td>Password :</td>
		    <td>
			<input type="password" name="user[password]" id="pwd" value="{$sm.res.password}" onkeyup="checkPassword();"/>
			<span id="err4">{$sm.err.password}</span>
		    </td>
		</tr>
		<tr>
		    <td colspan="2">
			<div id="passprogressbar">
			    <div id="subpassprogressbar">
				<span id="status">&nbsp;</span>
			    </div>
			</div>
		    </td>
		</tr>
		<tr>
		    <td>Confirm Password :</td>
		    <td>
			<input type="password" name="cpwd" id="cpwd" value="{$sm.conf_pwd}" />
			<span id="err9">{$sm.err.conf_pwd}</span>
		    </td>
		</tr>
		{/if}
		<tr>
                    <td>Gender </td>
		    <td>
		    {html_radios name=gender options=$sm.gender selected=$sm.res.gender}<br />
			<label for="gender" class="error" style="display:none">Please choose one option.</label>
			<span id="err5">{$sm.err.gender}</span>
		    </td>
		</tr>
		<tr>
		    <td>Hobbies :</td>
		    <td>
		{html_checkboxes name=hobbies options=$sm.hobbies selected=$sm.res.hobbies}
			<span id="err6">{$sm.err.hobbies}</span>
		    </td>
		</tr>
		<tr>
		    <td>Address :</td>
		    <td>
			<textarea name="user[address]" id="address" cols="16" rows="3" >{$sm.res.address}</textarea>
			<span id="err7">{$sm.err.address}</span>
		    </td>
		</tr>
		<tr>
		    <td>Date of Birth :</td>
		    <td>
		    {if $sm.res.dob}
		    {assign var=date value=$sm.res.dob}
		    {else}
		    {assign var=date value="--"}
		    {/if}
		    {html_select_date prefix="dob_" start_year="-110" end_year="+1"  year_empty="Year" month_empty="Month" day_empty="Date" reverse_years=true time=$date month_extra='onchange="check_date();"' day_extra='id="dt"'}
			<span id="err8">{$sm.err.dob}</span>
		    </td>
		</tr>
<!--		<tr>
		    <td>&nbsp;</td>
		    <td>
			<div class="settheme fltlft">
			<input type="{if $sm.flag}Update{else}submit{/if}" name="sub" value="{if $sm.flag}Update{else}Register{/if}" class="buton" {if $sm.flag}onclick="updateUser();"{/if}/>
			</div>
			<div class="clear"></div>
		    </td>
		</tr>-->
	    </table>
        <div class="form-actions" align="center">

<input type="{if $sm.flag}Update{else}submit{/if}" name="sub" value="{if $sm.flag}Update{else}Register{/if}" class="btn btn-success" {if $sm.flag}onclick="updateUser();"{/if}//>

<!--<input type="button" class="btn" value="Cancel" onclick="$.fancybox.close();" />-->

</div>
	</form>
      </div>
    </div>
                        </div>
    </div>
</div>

<!--ended by gayatree-->




<div style="width: 500px;" class="updateprofileadmin_fancy">
    <div class="headprt settheme">
	<div class="mdl">
	    <span>{if $sm.res}Update{else}Add{/if} User Profile</span>
	</div>
    </div>
    <div id="error" align="center" style="display:none"></div>
    <div class="bodyprt">
	<form id="signupform" name="signupform" action="##LBL_ADMIN_SITE_URL##user/{if $sm.flag}updateUserProfile{else}insert{/if}" method="post" onSubmit="return checkValidate();">
	    <input type="hidden" name="id_user" value="{$sm.res.id_user}" />
	    <input type="hidden" name="qstart" value="{$sm.qstart}">
	    <input type="hidden" name="search[fname]" value="{$sm.search_val.0}"/>
	    <input type="hidden" name="search[email]" value="{$sm.search_val.1}"/>
	    <input type="hidden" name="search[addr]" value="{$sm.search_val.2}"/>
	    <input type="hidden" name="search[cond]" value="0"/>
	    <table border="0" class="formtbl">
		<tr>
		    <td width="20%">First Name:</td>
		    <td>
			<input type="text" name="user[first_name]" id="fname" value="{$sm.res.first_name}" />
			<span id="err">{$sm.err.first_name}</span> 
		    </td>
		</tr>
		<tr>
		    <td>Last Name :</td>
		    <td>
			<input type="text" name="user[last_name]" id="lname" value="{$sm.res.last_name}" />
			<span id="err1">{$sm.err.last_name}</span>
		    </td>
		</tr>
		<tr>
		    <td>Username :</td>
		    <td>
			<input type="text" name="user[username]" id="username" value="{$sm.res.username}" {if $sm.flag}readonly="readonly"{/if} {if !$sm.flag}onblur="return showUsernameExist();"{/if} />
			       <span id="add_user_msg"><b></b></span>
			<span id="err2">{if $sm.d_name}{$sm.d_name}{else}{$sm.err.username}{/if}</span>
		    </td>
		</tr>
		<tr>
		    <td>Email :</td>
		    <td>
			<input type="text" name="user[email]" id="email" value="{$sm.res.email}" />
			<span id="err3">{$sm.err.email}</span>
		    </td>
		</tr>
		{if !$sm.flag}
		<tr>
		    <td>Password :</td>
		    <td>
			<input type="password" name="user[password]" id="pwd" value="{$sm.res.password}" onkeyup="checkPassword();"/>
			<span id="err4">{$sm.err.password}</span>
		    </td>
		</tr>
		<tr>
		    <td colspan="2">
			<div id="passprogressbar">
			    <div id="subpassprogressbar">
				<span id="status">&nbsp;</span>
			    </div>
			</div>
		    </td>
		</tr>
		<tr>
		    <td>Confirm Password :</td>
		    <td>
			<input type="password" name="cpwd" id="cpwd" value="{$sm.conf_pwd}" />
			<span id="err9">{$sm.err.conf_pwd}</span>
		    </td>
		</tr>
		{/if}
		<tr>
		    <td><Gender :/td>
		    <td>
		    {html_radios name=gender options=$sm.gender selected=$sm.res.gender}<br />
			<label for="gender" class="error" style="display:none">Please choose one option.</label>
			<span id="err5">{$sm.err.gender}</span>
		    </td>
		</tr>
		<tr>
		    <td>Hobbies :</td>
		    <td>
		{html_checkboxes name=hobbies options=$sm.hobbies selected=$sm.res.hobbies}
			<span id="err6">{$sm.err.hobbies}</span>
		    </td>
		</tr>
		<tr>
		    <td>Address :</td>
		    <td>
			<textarea name="user[address]" id="address" cols="16" rows="3" >{$sm.res.address}</textarea>
			<span id="err7">{$sm.err.address}</span>
		    </td>
		</tr>
		<tr>
		    <td>Date of Birth :</td>
		    <td>
		    {if $sm.res.dob}
		    {assign var=date value=$sm.res.dob}
		    {else}
		    {assign var=date value="--"}
		    {/if}
		    {html_select_date prefix="dob_" start_year="-110" end_year="+1"  year_empty="Year" month_empty="Month" day_empty="Date" reverse_years=true time=$date month_extra='onchange="check_date();"' day_extra='id="dt"'}
			<span id="err8">{$sm.err.dob}</span>
		    </td>
		</tr>
		<tr>
		    <td>&nbsp;</td>
		    <td>
			<div class="settheme fltlft">
			<input type="{if $sm.flag}Update{else}submit{/if}" name="sub" value="{if $sm.flag}Update{else}Register{/if}" class="buton" {if $sm.flag}onclick="updateUser();"{/if}/>
			</div>
			<div class="clear"></div>
		    </td>
		</tr>
	    </table>
	</form>
    </div>
</div>