<!--done by gayatree starts-->
<div style="width:600px;">
  <div class="row-fluid">
<div class="span12"> 
  <div class="widget green">
    <div class="widget-title">
                                <h4><i class="icon-reorder"></i>Search Login</h4>
<!--                            <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>-->
                            </div>
    <div class="widget-body">
      <form class="basic" action="##LBL_ADMIN_SITE_URL##user/getUserLogin" name="search_form" id="search_form" enctype="multipart/form-data">
                   <input type="hidden" name="sfld" id="sfld" value="1">
                <table class="table table-striped">
                       <tr>
                           <td style="vertical-align:middle;">Username:</td>
                           <td><input type="text" id="s_user" name="username" class="txt"/></td>
                       </tr>
                       <tr>
                           <td style="vertical-align:middle;">IP Address:</td>
                           <td><input type="text" id="s_ip" name="ip" class="txt"/></td>
                       </tr>
                       <tr>
                           <td style="vertical-align:middle;">Email Id:</td>
                           <td><input type="text" id="s_email" name="email" class="txt"/></td>
                       </tr>
                       <tr>
<!--                           <td>&nbsp;</td>-->
                           <td colspan="2">
                             <div class="form-actions" align="center">
                               <input class="btn btn-success"  type="button" id="btn_search" name="btn_search" value="Search" onclick="loginUserpost();"/>
                             </div>
<!--								   <div class="fltlft settheme">
								   <input class="buton" type="button" id="btn_search" name="btn_search" value="Search" onclick="loginUserpost();"/>
								   </div>-->
								<div class="clear"></div>
								<div id="failmsg" style="color:#FF0000;font-weight:normal;">{if $sm.fail_msg}{$sm.fail_msg}{/if}</div>
                           </td>
                       </tr>
                    </table>
			</form>
    </div>
  </div>
  </div>
    </div>
</div>


<!--done by gayatree ends-->
<div class="wid90 center searchlogin_fancy_admin" style="width:500px;">
        <div class="headprt settheme">
            <div class="mdl">
                <span>Search Login</span>
            </div>
        </div>
        <div class="bodyprt">
          <form class="basic" action="##LBL_ADMIN_SITE_URL##user/getUserLogin" name="search_form" id="search_form" enctype="multipart/form-data">
                   <input type="hidden" name="sfld" id="sfld" value="1">
                <table border="0" class="formtbl">
                       <tr>
                           <td style="vertical-align:middle;">Username:</td>
                           <td><input type="text" id="s_user" name="username" class="txt"/></td>
                       </tr>
                       <tr>
                           <td style="vertical-align:middle;">IP Address:</td>
                           <td><input type="text" id="s_ip" name="ip" class="txt"/></td>
                       </tr>
                       <tr>
                           <td style="vertical-align:middle;">Email Id:</td>
                           <td><input type="text" id="s_email" name="email" class="txt"/></td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td>
								   <div class="fltlft settheme">
								   <input class="buton" type="button" id="btn_search" name="btn_search" value="Search" onclick="loginUserpost();"/>
								   </div>
								<div class="clear"></div>
								<div id="failmsg" style="color:#FF0000;font-weight:normal;">{if $sm.fail_msg}{$sm.fail_msg}{/if}</div>
                           </td>
                       </tr>
                    </table>
			</form>
        </div>
    </div>
{literal}
 <script type="text/javascript">
	function checkfield() {
		$.validator.addMethod("check_ip", function(value) {
			if(value){
				return /^(([0-9]|[1-9][0-9]|1[0-9]([0-9])?|2[0-4][0-9]|25[0-5])\.)((([0-9]|[1-9][0-9]|1[0-9]([0-9])?|2[0-4][0-9]|25[0-5])\.))((([0-9]|[1-9][0-9]|1[0-9]([0-9])?|2[0-4][0-9]|25[0-5])\.))([0-9]|[1-9][0-9]|1[0-9]([0-9])?|2[0-4][0-9]|25[0-5])$/.test(value);
			}else{
				return true;
			}
			
		},'Please enter a valid ip');
		$('#failmsg').html('');
		var validator=$("#search_form").validate({
			rules: {
			"email":{email: true},
			"ip":{check_ip: true}
			
		},
		messages: {
			"email" :{
				email: "Please enter a valid email address."
			},
			"ip":{check_ip: "Please enter a valid ip address."}
		}
	});
	var x=validator.form();
	if(x){
		return checkBlank();
	}
	return false;
	}
	 $(document).ready(function(){
	//css_even_odd();
	 });
	function checkBlank(){
		if($('#s_user').val() || $('#s_ip').val() || $('#s_email').val()){
				$('#failmsg').html('');
				return true;
				checkfield();
		}else{
			$('#failmsg').html('Atleast mention one search field.');
			return false;
		}
	}
	function loginUserpost(){
		var sfld=$('#sfld').val();
		var email=$('#s_email').val();
		var username=$('#s_user').val();
		var ip=$('#s_ip').val();
		var url="##LBL_ADMIN_SITE_URL##";
		var x=checkfield();
		if(x){
			$.post(url,{"page":"user","choice":"getUserLogin",ce:0,"username":username,"ip":ip,"email":email,'sfld':sfld},function(res){//alert(res);
				$('#user_getUserLogin').html(res);
				$('#user_alphabet_menu > a').css({ color:"black",fontWeight:"normal"})
				$.fancybox.close();
				css_even_odd();
			});	
		}
		
		
	}
 </script>
 <style>
   .searchlogin_fancy_admin{display:none;}
 </style>
{/literal}
