{assign var=checklist value=$util->get_values_from_config('CHECK_LIST')}
<div id="chklist">
    <div id="dv1">
	<div class="makebox wid60 center">
	    <div class="headprt settheme">
		<div class="mdl">
		    <div  class="fltrht"><input type="button" class="buton" name="search" value="Add" onclick="addCheckList();" /></div>
		    <span>Check List</span>
		    <div class="clear"></div>
		</div>
	    </div>
	    <div class="bodyprt">
	    {if $sm.res}
		<table width="97%" border="0" align="center" class="tbl_listing">
		    <thead>
			<tr>
			    <th>Category</th>
			    <th>Check Data</th>
			    <th>Action</th>
			</tr>
		    </thead>
		    <tbody>
			{section name=cur loop=$sm.res}
			{assign var=x value=$sm.res[cur]}
			<tr>
			    <td>{$checklist[$x.category]}</td>
			    <td>{$x.checkvalue}</td>
			    <td>
				<a href="javascript:void(0);" onclick="editCheckList('{$x.id_checklist}');">
				    <img src="##CSS_PATH##img/led-ico/pencil.png" alt="Edit CheckList" title="Edit CheckList"/>
				</a>&nbsp;&nbsp;
				<a href="javascript:void(0);" onclick="return deleteCheckList('{$x.id_checklist}');">
				    <img src="##CSS_PATH##img/led-ico/delete.png" alt="Delete CheckList" title="Delete CheckList"/>
				</a>&nbsp;&nbsp;
			    </td>
			</tr>
			{/section}
		    </tbody>
		</table>
	    </div>
	    {else}
	    <div>No check list found</div>
	    {/if}
	    <br />
        </div>
    </div>
</div>
{literal}
<script type="text/javascript">
    function addCheckList(){
	$('#succ_msg,.alert').html('');
	$.fancybox.showActivity();
	$.post(siteurl,{"page" : "dutil", "choice" : "addCheckList", "ce" : "0"},function(res){
	    show_fancybox(res);
		css_even_odd();
	});
		
    }
    function editCheckList(id){
	$('#succ_msg,.alert').html('');
	$.fancybox.showActivity();
	$.post(siteurl,{"page" : "dutil", "choice" : "editCheckList", "ce" : "0", "id" : id},function(res){
	    show_fancybox(res);
		css_even_odd();
	});
    }
    function deleteCheckList(id){
	$('#succ_msg,.alert').html('');
	var conf=confirm('Are you sure to delete this record ?');
	if(conf){
	    $.post(siteurl,{"page" : "dutil", "choice" : "deleteCheckList", "ce" : "0", "id" : id},function(res){
		//$('.alert').html('Deleted successfully');
		messageShow("Deleted successfully.");
		$("#chklist").html(res);
		css_even_odd();
	    });
	}else
	    return false;
    }
</script>

{/literal}