<div class="makebox wid50 fltlft mrglft5">
    	<div class="headprt settheme">
		<div class="mdl">
			List of Database Dump
		</div>
	</div>
	<div style="max-height: 300px;overflow: auto;overflow-x: hidden;">
		<table border="1px solid" width="100%">
			<tr><td>File Name</td><td>Date</td></tr>
			{foreach from=$sm.res item=i key=k}
			<tr><td><a href="##LBL_ADMIN_SITE_URL##dutil/showdetails/fname/{$i}" target="_blank">{$i}</a></td>
				<td>{$sm.dt[$i]}</td>
			</tr>
			{/foreach}
		</table>
	</div>
</div>
<div class="makebox wid40 fltlft">
    	<div class="headprt settheme">
		<div class="mdl">
			Take Dump of Database
		</div>
	</div>
	<div>
		<table border="1px solid" width="100%">
			<tr>
				<th>File name</th>
				<td>
					<input type="text" id="name" name="fname" value="{$sm.fname}" style="width:400px"/>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="radio" id="sql" name="filetype" value=".sql"/><label for="sql">Sql
					</label>
					<input type="radio" id="tar" name="filetype" value=".tar" checked="checked" ><label for="tar">Tar
					</label>
					<input type="radio" id="zip" name="filetype" value=".zip"><label for="zip">Zip
					</label>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="button" value="SAVE" onclick="createfile();"/>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="clear"></div>
{literal}
<script type="text/javascript">
	function createfile(){
		var name=$('#name').val();
		var type=$('input[type=radio]:checked').val();
		window.location.href='##LBL_ADMIN_SITE_URL##dutil/createfile/filetype/'+type+"/fname/"+name;
	}
</script>
{/literal}