{literal}
<script type="text/javascript">
    $(function($){
        var typ = "{/literal}{$sm.elect_type}{literal}";
            if(typ == 2){
//                $(".hid").attr('style','display:none');
            }else{
//                $(".new").attr('style','display:none');
            }
    });
    function searchList(i){
	    $('#succ_msg').html('');
            var nw=$("#nwlst").val();
	    if(i){
        var prod_srch = $("#search").serialize();
		$.post(siteurl,{"page" : "csvuser", "choice" : "userdata_list", 'psearch' : 1,"searchval":prod_srch,"voterslist":nw,'ce' : 0},function(res){//alert(res);//return false;
		    $("#csvuser_userdata_list").html(res);
		});
		
	    }else{
         $.post(siteurl,{"page" : "csvuser", "choice" : "userdata_list", 'psearch' : 1,"voterslist":nw,'ce' : 0,},function(res){
		    $("#csvuser_userdata_list").html(res);
		});
	    }
          }
          
          function showdiv(){
              $('.hid').removeAttr('style');
          }

</script>
{/literal}
<div class="center">
     <div id="succ_msg" align="center"></div>
     <div id="dv1">
         <div id="page-wraper">
           <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN BASIC PORTLET-->
                        <div class="widget red">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i>Search Users</h4>
                            <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>
                            </div>
                            <div class="widget-body">
                        <form name="search" id="search" method="post" action="javascript:void(0);" class="form-horizontal">
                            <input type="hidden" id="nwlst" value="{$sm.voterlist}">
		     <table border="0" align="center" class="formtbl">
                    {assign var=flg value=0}
                    <tr>
                    {foreach from=$sm.clmnm item=i key=k}
                     {assign var=flg value=$flg+1}
                        <td class="hid" align="right">{$i} :</td>
                        <td class="hid">
			    <input type="text" name="{$i}" id="{$i}" class="txt"/>
			</td>
		    {if $flg ==2}
		</tr><tr>
		    {assign var=flg value=0}
		{/if}
              {/foreach}
	     </tr>
                     <tr>
                        <td colspan="2">
                           <button class="btn btn-success fltrht" type="button" name="search" value="Search" onclick="searchList(1),showdiv();">Search</button>
                        </td>
                        <td colspan="2">
                             <button class="btn btn-success" type="reset" name="search" value="Reset" onclick="searchList(0);">Reset</button>
                        </td>
		</table>
                            </form>
                            </div>
                        </div>
                        <!-- END BASIC PORTLET-->
                    </div>
             
                </div>
             </div>
       </div>
     </div>
 <div id="csvuser_userdata_list"> {include file=admin/csvuser/userdata_list}</div>
