{literal}
<script type="text/javascript" src="##JS_PATH_EXT##1.7/jquery-1.7.js"></script>
<script type="text/javascript" src="##LIBSEXT_PATH##fckeditor/fckeditor.js"></script>
<script type="text/javascript" language="javascript">
$(document).ready(function() {
	var oFCKeditor = new FCKeditor('fck')
	oFCKeditor.BasePath ="##LIBSEXT_PATH##fckeditor/";
	oFCKeditor.Width = '600px';
	oFCKeditor.Height = '350px';
	oFCKeditor.Config["SkinPath"]=  oFCKeditor.BasePath + 'editor/skins/office2003/';
	oFCKeditor.ReplaceTextarea();
 });
 </script>
 {/literal}
 <table>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>key</td>
	 <td>value</td>
     </tr>
     <tr>
	 <td>fck</td>
	 <td><textarea id="fck"></textarea></td>
     </tr>
 </table>