{*notag*}
<?xml version="1.0" encoding="UTF-8"?>
 <urlset>
<url>
  <loc>##LBL_SITE_URL##</loc>
  <priority>1.00</priority>
  <changefreq>never</changefreq>
</url>
{foreach from = $sm.cms item = item}
<url>
    <loc>##LBL_SITE_URL##{$item.lang}/{$item.code}.html</loc>
    <priority>0.80</priority>
    <changefreq>never</changefreq>
</url>
{/foreach}
</urlset>