{* notag *}
<!--done by gayatree starts-->
{literal}
<script>
  // widget tools

jQuery('.widget .tools .icon-chevron-down').click(function () {
var el = jQuery(this).parents(".widget").children(".widget-body");
if (jQuery(this).hasClass("icon-chevron-down")) {
jQuery(this).removeClass("icon-chevron-down").addClass("icon-chevron-up");
el.slideUp(200);
} 
else {
jQuery(this).removeClass("icon-chevron-up").addClass("icon-chevron-down");
el.slideDown(200);
}
});

jQuery('.widget .tools .icon-remove').click(function () {
jQuery(this).parents(".widget").parent().remove();
});

  </script>
<style>
  .listing_admin{display:none;}
  .prdt_anchor:hover{text-decoration: none !important;}
 
</style>
{/literal}
 <div class="" id="product_listing">
<div class="row-fluid">
  <div class="span12">
    <!--BEGIN BASIC PORTLET-->
   
      <div class="widget red">
        <div class="widget-title">
          <h4><i class="icon-reorder"></i> Product Listing({$sm.next_prev->total})</h4>
          <span class="tools">
            <a href="javascript:;" class="icon-chevron-down"></a>
            <a href="javascript:;" class="icon-remove"></a>
          </span>
           <div class="fltrht">                            
          {if !$sm.id_cat}
          <div  class="fltrht pdnga">
            <a class="btn btn-success" href="#" onclick="addProduct('{$sm.next_prev->start}');">Add Product</a>
          </div>
          <div class="fltrht pdngin">
            <input class="btn btn-success" type="button" onclick="downloadxls();" value="Download XLS"/>
          </div>
          {/if}
          <div class="clear"></div>
          </div>
          </div>
        <div class="widget-body widget-body_scrl">
          {if $sm.list}
          <table class="table table-striped table-bordered table-advance table-hover" id="img_tbl">
            <thead>
              <tr>
                <th>
                  <i class="icon-picture"></i>
                  Image
                </th>
                <th>
                  <i class="icon-user"></i>
                  Name
                </th>
                {if $sm.active_cat==1}
                <th>
                  <i class="icon-file"></i>
                  Category Name
                </th>
                {/if}
                <th>
                  <i class="icon-question-sign"></i>
                  Description
                </th>
                <th>
                  <i class="icon-code"></i>
                  Code
                </th>
               
                {if !$sm.id_cat}
                <th class="actn_hd">
                   <i class="icon-suitcase"></i>
                  Action
                </th>
                {/if}
              </tr>
            </thead>

            <tbody>
              {section name=cur loop=$sm.list}
              {assign var=x value=$sm.list[cur]}
            <input type='hidden' id='pname' value='{$x.name|escape}'/>
            <tr>
              <td id="tdimage{$x.id_product}">
                {*if $x.id_image*}
                {if $x.image_name}
                <a href="javascript:void(0);" onclick="showImages('{$x.id_product}');">
                  <img src="##IMAGE_THUMB_PATH##product/{$x.id_image}_{$x.image_name}"  alt="no image" />
                </a>
                {else}
                <!--				    No image-->
                <img src="##TEMP_COM_IMG##defaultnoImage.jpg"  alt="no image"/>
                {/if}
              </td>
              <td>{$x.name|truncate:20:"....":true}({$x.total|default:"0"|cat:"&nbsp;images"})</td>
              {if $sm.active_cat==1}
              <td>{if $x.category_name}{$x.category_name}{else}<font color='#FF0000'>*No Category</font>{/if}</td>
              {/if}
              <td title="{$x.description}">{$x.description|truncate:40:"....":true}</td>
              <td>{$x.code|truncate:20:"....":true}</td>
              {if !$sm.id_cat}
              <td>
                <input type="hidden" value='{$sm.uri|escape}' id="{$x.id_product}_uri" />
                <a class="prdt_anchor" href="javascript:void(0);" onclick="editProduct('{$x.id_product}', '{$sm.next_prev->start}');" title="Edit Product">
<!--                  <img src="##CSS_PATH##img/led-ico/pencil.png" alt="Edit Product" title="Edit Product"/>-->
<button class="btn btn-success">
<i class="icon-edit"></i>
</button>
                </a>&nbsp;&nbsp;
                <a class="prdt_anchor" href="javascript:void(0);" onclick="return deleteProduct('{$x.id_product}', '{$sm.next_prev->start}', '{$sm.list|@count}');" title="Delete Product">
<!--                  <img src="##CSS_PATH##img/led-ico/delete.png" alt="Delete Product" title="Delete Product"/>-->
<button class="btn btn-danger">
<i class="icon-trash"></i>
</button>
                </a>&nbsp;&nbsp;
                <a class="prdt_anchor" href="javascript:void(0);" onclick="showDetail('{$x.id_product}');" title="Product Detail">
<!--                  <img src="##CSS_PATH##img/led-ico/eye.png" alt="Product Detail" title="Product Detail"/>-->
<button class="btn btn-primary">
<i class="icon-eye-open"></i>
</button>
                </a>&nbsp;&nbsp;
                <a href="javascript:void(0);" onclick="makeSeq('{$x.id_product}');">Seq</a>
              </td>
              {/if}
            </tr>
            {/section}
            <!--                                    <tr>
                                                    <td>2</td>
                                                    <td>Jacob</td>
                                                    <td>Thornton</td>
                                                    <td>@fat</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Larry</td>
                                                    <td>the Bird</td>
                                                    <td>@twitter</td>
                                                </tr>-->
            </tbody>
          </table>
          {else}
          <div>No product found..</div>
          {/if}
          
        </div>
        <div class="pagination_box" align="center">{$sm.next_prev->generate()}
          </div>
        <div>
        </div>
        <!-- END BASIC PORTLET-->
      </div>
    </div>

    <!--done by gayatree ends-->

 </br>
    {literal}
    <script type="text/javascript" src="##LIBSEXT_PATH##jquery/js/table_dnd.js"></script>
       <script type="text/javascript" src="##LIBSEXT_PATH##jquery/js/reorder.js"></script>
    <script type="text/javascript">
      var code;
      function addProduct(qstart) {
        $('#succ_msg').html('');
        $('#target').html('');
        $.fancybox.showActivity();
        $.post(siteurl, {"page": "product", "choice": "addProduct", "qstart": qstart, "ce": 0}, function (res) {
          if (res == "no category") {
            alert("please add category first");
            $.fancybox.hideActivity();
            return false;
          } else {
            show_fancybox(res);
          }
        });
      }

      function editProduct(id, qstart) {
        var uri = $("#" + id + "_uri").val();
        var pname = $('#product_name').val();
        var product_category = ($('#product_category').val() == undefined) ? "" : $('#product_category').val();
        $('#succ_msg').html('');
        $.fancybox.showActivity();
        $.post(siteurl, {"page": "product", "choice": "addProduct", "ce": "0", "id_product": id, "qstart": qstart, "uri": uri, 'pname': pname, 'product_category': product_category}, function (res) {
          show_fancybox(res);
        });
      }

     function deleteProduct(id_product, qstart, cnt){
		$('#succ_msg').html('');
		var uri = $("#"+id_product+"_uri").val();
		var pname = $('#pname').val();
		var conf=confirm('Are you sure to delete "'+pname+'" ?');
		if(conf){
			$.post(siteurl,{"page" : "product", "choice" : "deleteProduct", "ce" : 0, "id_product" : id_product, "qstart" : qstart, "uri" : uri, "cnt" : cnt},function(res){
				messageShow("Product deleted successfully.");//$('#succ_msg').html('<font color="red">Product deleted successfully</font>');
				$("#product_listing").html(res);
			});
		}else
			return false;
	}

      function showDetail(id_product) {
        $('#succ_msg').html('');
        $.fancybox.showActivity();
        $.post(siteurl, {"page": "product", "choice": "productDetail", "ce": 0, "id_product": id_product}, function (res) {
          show_fancybox(res);
        });
      }

      function showImages(id_product) {
        $('#succ_msg').html('');
        $('#target').html('');
        $.fancybox.showActivity();
        $.post(siteurl, {"page": "product", "choice": "showGallery", ce: 0, 'id_product': id_product}, function (response) {
          show_fancybox(response);
        });
      }

      function show_video(id) {
        $('#succ_msg').html('');
        $('#target').html('');
        var url = "##LBL_ADMIN_SITE_URL##index.php";
        $.fancybox.showActivity();
        $.post(url, {"page": "product", "choice": "show_video", ce: 0, 'id': id}, function (response) {
          $.fancybox(response);
        });
      }
      function makeSeq(pro_id) {
        $.fancybox.showActivity();
        $.post(siteurl, {"page": "product", "choice": "showImageList", ce: 0, 'id_product': pro_id}, function (res) {
          show_fancybox(res);
        });
      }
      function downloadxls() {
        var uri = "{/literal}{$sm.uri}{literal}";
        window.location.href = siteurl + "product/downloadExcel/uri/" + uri + "/ce/0/";
      }
    </script>
    {/literal}

<!--    




    <div class="center listing_admin" id="product_listing">
      <div class="makebox center">
        <div class="headprt settheme">
          <div class="mdl">
            {if !$sm.id_cat}
            <div  class="fltrht">
              <a href="#" onclick="addProduct('{$sm.next_prev->start}');" class="buton">Add Product</a>
            </div>
            <div class="fltrht">
              <input class="buton" type="button" onclick="downloadxls();" value="Download XLS" >
            </div>
            {/if}
            <span>Product Listing ({$sm.next_prev->total})</span>
            <div class="clear"></div>
          </div>
        </div>
        <div class="bodyprt">
          {if $sm.list}
          <table width="100%" border="0" class="tbl_listing" id="img_tbl">
            <thead>
              <tr>
                <th width="20%">Image</th>
                <th width="20%">Name</th>
                {if $sm.active_cat==1}
                <th>Category Name</th>
                {/if}
                <th>Description</th>
                <th>Code</th>
                {if !$sm.id_cat}
                <th class="actn_hd">Action</th>
                {/if}
              </tr>
            </thead>
            <tbody>
              {section name=cur loop=$sm.list}
              {assign var=x value=$sm.list[cur]}
            <input type='hidden' id='pname' value='{$x.name|escape}'/>
            <tr>
              <td id="tdimage{$x.id_product}">
                {*if $x.id_image*}
                {if $x.image_name}
                <a href="javascript:void(0);" onclick="showImages('{$x.id_product}');">
                  <img src="##IMAGE_THUMB_PATH##product/{$x.id_image}_{$x.image_name}"  alt="no image" />
                </a>
                {else}
                				    No image
                <img src="##TEMP_COM_IMG##defaultnoImage.jpg"  alt="no image"/>
                {/if}
              </td>
              <td>{$x.name|truncate:20:"....":true}({$x.total|default:"0"|cat:"&nbsp;images"})</td>
              {if $sm.active_cat==1}
              <td>{if $x.category_name}{$x.category_name}{else}<font color='#FF0000'>*No Category</font>{/if}</td>
              {/if}
              <td title="{$x.description}">{$x.description|truncate:40:"....":true}</td>
              <td>{$x.code|truncate:20:"....":true}</td>
              {if !$sm.id_cat}
              <td>
                <input type="hidden" value='{$sm.uri|escape}' id="{$x.id_product}_uri" />
                <a href="javascript:void(0);" onclick="editProduct('{$x.id_product}', '{$sm.next_prev->start}');">
                  <img src="##CSS_PATH##img/led-ico/pencil.png" alt="Edit Product" title="Edit Product"/>
                </a>&nbsp;&nbsp;
                <a href="javascript:void(0);" onclick="return deleteProduct('{$x.id_product}', '{$sm.next_prev->start}', '{$sm.list|@count}');">
                  <img src="##CSS_PATH##img/led-ico/delete.png" alt="Delete Product" title="Delete Product"/>
                </a>&nbsp;&nbsp;
                <a href="javascript:void(0);" onclick="showDetail('{$x.id_product}');">
                  <img src="##CSS_PATH##img/led-ico/eye.png" alt="Product Detail" title="Product Detail"/>
                </a>&nbsp;&nbsp;
                <a href="javascript:void(0);" onclick="makeSeq('{$x.id_product}');">Seq</a>
              </td>
              {/if}
            </tr>
            {/section}
            </tbody>
          </table>
          {else}
          <div>No product found..</div>
          {/if}
          <div class="pagination_box" align="center">{$sm.next_prev->generate()}
          </div>
        </div>
      </div>
    </div>
    </br>
    {literal}
    <script type="text/javascript" src="##LIBSEXT_PATH##jquery/js/table_dnd.js"></script>
       <script type="text/javascript" src="##LIBSEXT_PATH##jquery/js/reorder.js"></script>
    <script type="text/javascript">
      var code;
      function addProduct(qstart) {
        $('#succ_msg').html('');
        $('#target').html('');
        $.fancybox.showActivity();
        $.post(siteurl, {"page": "product", "choice": "addProduct", "qstart": qstart, "ce": 0}, function (res) {
          if (res == "no category") {
            alert("please add category first");
            $.fancybox.hideActivity();
            return false;
          } else {
            show_fancybox(res);
          }
        });
      }

      function editProduct(id, qstart) {
        var uri = $("#" + id + "_uri").val();
        var pname = $('#product_name').val();
        var product_category = ($('#product_category').val() == undefined) ? "" : $('#product_category').val();
        $('#succ_msg').html('');
        $.fancybox.showActivity();
        $.post(siteurl, {"page": "product", "choice": "addProduct", "ce": "0", "id_product": id, "qstart": qstart, "uri": uri, 'pname': pname, 'product_category': product_category}, function (res) {
          show_fancybox(res);
        });
      }

      function deleteProduct(id_product, qstart, cnt) {
        $('#succ_msg').html('');
        var uri = $("#" + id_product + "_uri").val();
        var pname = $('#pname').val();
        var conf = confirm('Are you sure to delete "' + pname + '" ?');
        if (conf) {
          $.post(siteurl, {"page": "product", "choice": "deleteProduct", "ce": 0, "id_product": id_product, "qstart": qstart, "uri": uri, "cnt": cnt}, function (res) {
            messageShow("Product deleted successfully.");//$('#succ_msg').html('<font color="red">Product deleted successfully</font>');
            $("#product_listing").html(res);
          });
        } else
          return false;
      }

      function showDetail(id_product) {
        $('#succ_msg').html('');
        $.fancybox.showActivity();
        $.post(siteurl, {"page": "product", "choice": "productDetail", "ce": 0, "id_product": id_product}, function (res) {
          show_fancybox(res);
        });
      }

      function showImages(id_product) {
        $('#succ_msg').html('');
        $('#target').html('');
        $.fancybox.showActivity();
        $.post(siteurl, {"page": "product", "choice": "showGallery", ce: 0, 'id_product': id_product}, function (response) {
          show_fancybox(response);
        });
      }

      function show_video(id) {
        $('#succ_msg').html('');
        $('#target').html('');
        var url = "##LBL_ADMIN_SITE_URL##index.php";
        $.fancybox.showActivity();
        $.post(url, {"page": "product", "choice": "show_video", ce: 0, 'id': id}, function (response) {
          $.fancybox(response);
        });
      }
      function makeSeq(pro_id) {
        $.fancybox.showActivity();
        $.post(siteurl, {"page": "product", "choice": "showImageList", ce: 0, 'id_product': pro_id}, function (res) {
          show_fancybox(res);
        });
      }
      function downloadxls() {
        var uri = "{/literal}{$sm.uri}{literal}";
        window.location.href = siteurl + "product/downloadExcel/uri/" + uri + "/ce/0/";
      }
    </script>
    {/literal}-->