{* notag *}
{literal}
<style type="text/css">
  .productimglistfancy_admin{display:none;}
  </style>
{/literal}
<!--done by gayatree strats-->
<div id="dv1" style="width:447px;">
  <div class="row-fluid">
<div class="span12">
                        <!-- BEGIN BASIC PORTLET-->
                        <div class="widget green">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i>Image Listing of {$sm.list.0.name}</h4>
<!--                            <span class="tools">
                                <a class="icon-chevron-down" href="javascript:;"></a>
                                <a class="icon-remove" href="javascript:;"></a>
                            </span>-->
                                 {if !$sm.id_cat}
            <div  class="fltrht pdngin">
            <a href="#" onclick="addProduct('{$sm.next_prev->start}');" class="btn">Add Product</a>
            </div>
          {/if}
                            </div>
                            <div class="widget-body">
                              {if $sm.list}
                                <table class="table table-striped" id="image_tbl">
                                   <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
            </tr>
            </thead>
                                    <tbody>
            {section name=cur loop=$sm.list}
            {assign var=x value=$sm.list[cur]}
            <tr id="{$x.id_image}" class="nodrag">
                <td  class="dragHandle">
                <img src="##IMAGE_THUMB_PATH##product/{$x.id_image}_{$x.image_name}"  alt="no image" />
                </td>
                <td>{$x.image_name}</td>
            </tr>			
            {/section}
            </tbody>
                                </table>
                               {else}<br />
            <div align="center">No image found..</div>
        {/if}
                            </div>
                        </div>
                        <!-- END BASIC PORTLET-->
                    </div>
  </div>
  </div>
<!--done by gayatree ends-->














<div id="dv1" style="width:447px;" class="productimglistfancy_admin">
	<div class="makebox wid90 center">
	<div class="headprt settheme">
        <div class="mdl">
          {if !$sm.id_cat}
            <div  class="fltrht">
            <a href="#" onclick="addProduct('{$sm.next_prev->start}');" class="buton">Add Product</a>
            </div>
          {/if}
            <span>Image Listing of {$sm.list.0.name}</span>
            <div class="clear"></div>
        </div>
    </div>
    <div class="bodyprt">
        {if $sm.list}
            <table class="tbl_listing" id="image_tbl">
            <thead>
            <tr>
                <th width="100">Image</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {section name=cur loop=$sm.list}
            {assign var=x value=$sm.list[cur]}
            <tr id="{$x.id_image}" class="nodrag">
                <td  class="dragHandle">
                <img src="##IMAGE_THUMB_PATH##product/{$x.id_image}_{$x.image_name}"  alt="no image" />
                </td>
                <td>{$x.image_name}</td>
            </tr>			
            {/section}
            </tbody>
        </table>
        {else}<br />
            <div align="center">No image found..</div>
        {/if}
    </div>
        </div>
</div>
{literal}
<script type="text/javascript" src="##LIBSEXT_PATH##jquery/js/table_dnd.js"></script>
    <script type="text/javascript" src="##LIBSEXT_PATH##jquery/js/reorder.js"></script>
<script type="text/javascript">
   var curl="##LBL_ADMIN_SITE_URL##product/reorder/ce/0/id_product/{/literal}{$sm.list.0.id_product}{literal}?tbl=";
	new callreorder("image_tbl","dragHandle",curl,"showDragHandle","class1");
    /*$(function(){
	var c="{/literal}{$smarty.request.del}{literal}";
	if(c){
	    $('#msg_suc').show('slow');
	    setTimeout("$('#msg_suc').hide('slow')","3000");
	}else{
	    setTimeout("$('.alert').hide('slow')","3000");
	}
    });*/
</script> 
<style type="text/css">
.class1{
	background:#3366FF;
}
.showDragHandle{	
	background:#FF0000;
	cursor:move;
}
</style>   
{/literal}