{if $sm.imgs}
	<table align="center">
	<tr>
		<td>Image(s) :</td>
	</tr>
        {section name=cur loop=$sm.imgs}
        {assign var=x value=$sm.imgs[cur]}
        <tr>
		<td>
				{if $x.image_name}
			<img src="##LBL_SITE_URL##image/thumb/product/{$x.image_name}" /> 
			{else}
			<img src="##TEMP_COM_IMG##defaultnoImage.jpg"  alt="no image"/>
			{/if}
		</td>
        </tr>
        <tr>
        	<td>&nbsp;</td>
        </tr>
	{sectionelse}
	<tr>
		<td colspan="2">No Images</td>
	</tr>
	{/section}
    </table>
{/if}
