{* notag *}
{literal}
<style type="text/css">
.serch_admin{display:none;}
.tblbdr tr td{border-top:none !important;}
</style>
<script type="text/javascript">
	$(document).ready(function(){
	    $("#product_name").autocomplete(siteurl + 'product/autoSearchField/fieldName/name/ce/0/',{
		delay: 500
	    });
	    $("#product_code").autocomplete(siteurl + 'product/autoSearchField/fieldName/code/ce/0/',{
		delay: 500
	    });
	    $("#product_desc").autocomplete(siteurl + 'product/autoSearchField/fieldName/description/ce/0/',{
		delay: 500
	    });
        $('#search').bind('keypress', function(e) {//"search" is the id of from field and pass the parameter to searchByEnter function like wise  
            searchByEnter(e,"searchList","1");// searchList(1) is ypur function name;
        });
        searchList();
//        var sort_order = "{/literal}{$smarty.session.productlisting.sort_order}{literal}";
//        var sort_by = "{/literal}{$smarty.session.productlisting.sort_by}{literal}";
//        //alert(sort_by+"-----"+sort_order);
//        //    alert('<img src="##CSS_PATH##img/led-ico/'+sort_order+'.gif" />');
//        $("#sort_by"+sort_by).html('<img src="##CSS_PATH##img/led-ico/'+sort_order+'.gif" />');
//        //      alert($("#sort_by"+sort_by).html());
	});
	function searchList(i){//alert(123)
	    $('#succ_msg').html('');	
	    if(i){
        var prod_srch = $("#search").serialize();
		$.post(siteurl,{"page" : "product", "choice" : "productListing", 'psearch' : 1,"searchval":prod_srch, 'ce' : 0},function(res){//alert(res);
		    $("#product_productListing").html(res);
		    css_even_odd();
		});
		
	    }else{
         $.post(siteurl,{"page" : "product", "choice" : "productListing", 'psearch' : 1,'ce' : 0,"reset":1},function(res){
		    $("#product_productListing").html(res);
		    css_even_odd();
		});
		$('#search')[0].reset();
	    }
	}

    </script>
{/literal}

<!--done by gayatree starts-->

         <!-- BEGIN PAGE CONTAINER-->
         <!--<div class="container-fluid">-->
           <!--<div class="row-fluid">-->
             <!--<div class="span12">-->
           <!-- BEGIN THEME CUSTOMIZER-->
<!--                   <div id="theme-change" class="hidden-phone">
                       <i class="icon-cogs"></i>
                        <span class="settings">
                            <span class="text">Theme Color:</span>
                            <span class="colors">
                                <span class="color-default" data-style="default"></span>
                                <span class="color-green" data-style="green"></span>
                                <span class="color-gray" data-style="gray"></span>
                                <span class="color-purple" data-style="purple"></span>
                                <span class="color-red" data-style="red"></span>
                            </span>
                        </span>
                   </div>-->
                   <!-- END THEME CUSTOMIZER-->
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
<!--                   <h3 class="page-title">
                     Product
                   </h3>-->
<!--                   <ul class="breadcrumb">
                       <li>
                           <a href="#">Home</a>
                           <span class="divider">/</span>
                       </li>
                       <li>
                           <a href="#">Management</a>
                           <span class="divider">/</span>
                       </li>
                       <li class="active">
                           Product
                       </li>
                       <li class="pull-right search-wrap">
                           <form action="search_result.html" class="hidden-phone">
                               <div class="input-append search-input-area">
                                   <input class="" id="appendedInputButton" type="text">
                                   <button class="btn" type="button"><i class="icon-search"></i> </button>
                               </div>
                           </form>
                       </li>
                   </ul>-->
                   <!-- END PAGE TITLE & BREADCRUMB-->
           
           
           
           <!--</div>-->
           <!--</div>-->
           <div class="center">
           <div id="page-wraper">
           <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN BASIC PORTLET-->
                        <div class="widget red">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i> Search Product</h4>
                            <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>
                            </div>
                            <div class="widget-body">
                              <form name="search" id="search" method="post" action="javascript:void(0);" class="form-horizontal">
                                  {if $sm.active_cat==1}
                            <div class="control-group">
                                <label class="control-label">Category  </label>
                                <div class="controls">
                                  <select name="product_category" id="product_category" class="span6 " >
                                     <option value=''> -Select-</option>
                                     {html_options options=$sm.category selected=$sm.cat_select}
                                </select>
                                    <!--<input type="text" class="span6 " />-->
                                    <!--<span class="help-inline">Some hint here</span>-->
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Product Name  </label>
                                <div class="controls">
                                    <input class="span6 " type="text" name="product_name" id="product_name" value="{if $sm.res.name}{$sm.res.name|escape}{else}{$smarty.request.pname|escape}{/if}" />
                                    <!--<span class="help-inline">Some hint here</span>-->
                                </div>
                            </div>
                            
                            <div class="form-actions">
                                <button class="btn btn-success" type="button" name="search" value="Search" onclick="searchList(1);">Search</button>
<button class="btn btn-success" type="reset" name="search" value="Reset" onclick="searchList(0);">Reset</button>
                            </div>
                                   {/if}
                            </form>
                              
<!--                              <form name="search" id="search" class="basic search_frm" method="post" action="javascript:void(0);">
                                <table class="table tblbdr">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                      {if $sm.active_cat==1}
                                    <tr>
                                        <td class="algnrht pdtop">Category :</td>
                                        <td class="algnlft pdtop"><select name="product_category" id="product_category" >
                                     <option value=''> -Select-</option>
                                     {html_options options=$sm.category selected=$sm.cat_select}
                                </select></td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <td class="algnrht pdtop">Product Name :</td>
                                        <td  class="algnlft pdtop">
                                <input type="text" name="name" id="product_name" value="{if $sm.res.name}{$sm.res.name|escape}{else}{$smarty.request.pname|escape}{/if}" />
                           </td>
                                        <td><div class="form-actions" align="center">
<button class="btn btn-success" type="button" name="search" value="Search" onclick="searchList(1);">Search</button>
<button class="btn btn-success" type="reset" name="search" value="Reset" onclick="searchList(0);">Reset</button>

</div></td>
                                        
                                    </tr>
                                    {/if}-->
                                    
<!--                                            <td><div><input type="button" name="search" value="Search" onclick="searchList(1);" class="buton" /></div></td>
                                            <td><div><input type="reset" name="search" value="Reset" onclick="searchList(0);" class="buton" /></div></td>-->
                                            
                                            
                                             
                                        
<!--                                        <td>the Bird</td>
                                        <td>@twitter</td>-->
                                    
                                    <!--</tbody>-->
                                <!--</table>-->
<!--                                <div class="form-actions" align="center">
<button class="btn btn-success" type="button" name="search" value="Search" onclick="searchList(1);">Search</button>
<button class="btn" type="reset" name="search" value="Reset" onclick="searchList(0);">Reset</button>

</div>-->
                                <!--</form>-->
                            </div>
                        </div>
                        <!-- END BASIC PORTLET-->
                    </div>
             
                </div>
             </div>
             </div>
           <div id="product_productListing" class="">
    {if $sm.prod_type == 1}
	{include file=admin/product/singlelisting}
    {else}
	{include file=admin/product/listing}
    {/if}
</div>
         <!--</div>-->
         
<!--done by gayatree end-->









<!--





<div id="succ_msg" align="center"></div>
<div id="dv1" class="fltlft mrglft5 serch_admin">
    <div class="makebox center">
    	<div class="headprt settheme">
            <div class="mdl">
            	<span>Search Product</span>
            </div>
        </div>
        <div class="bodyprt">
            <form name="search" id="search" class="basic" method="post" action="javascript:void(0);">
                 <table border="0" align="center" class="formtbl">
                      {if $sm.active_cat==1}
                      <tr>
                           <td>Category :</td>
                           <td>
                                <select name="product_category" id="product_category" >
                                     <option value=''> -Select-</option>
                                     {html_options options=$sm.category selected=$sm.cat_select}
                                </select>
                           </td>
                           </tr>
                           <tr>
                           <td>Product Name :</td>
                           <td>
                                <input type="text" name="product_name" id="product_name" value="{if $sm.res.name}{$sm.res.name|escape}{else}{$smarty.request.pname|escape}{/if}" />
                           </td>
                      </tr>
                      {/if}
                      <tr>
                           <td>Product Code :</td>
                           <td>
                                <input type="text" name="product_code" id="product_code" value="{if $sm.res.code}{$sm.res.code}{else}{$smarty.request.code}{/if}" />
                           </td>
                           </tr>
                           <tr>
                           <td>Product Description :</td>
                           <td>
                                <input type="text" name="product_desc" id="product_desc" value="{if $sm.res.desc}{$sm.res.desc}{else}{$smarty.request.desc}{/if}" />
                           </td>
                      </tr>
                      <tr>
                      <td></td>    
                           <td>
                           	<table>
                            	<tr>
                                	<td><div class="settheme fltlft"><input type="button" name="search" value="Search" onclick="searchList(1);" class="buton" /></div></td>
                                    <td><div class="settheme fltlft"><input type="reset" name="search" value="Reset" onclick="searchList(0);" class="buton" /></div></td>
                                </tr>
                            </table>
                           
                                
                           </td>
                      </tr>
                 </table>
                </form>
        </div>
    </div>
</div>
<div id="product_listing" class="">
    {if $sm.prod_type == 1}
	{include file=admin/product/singlelisting}
    {else}
	{include file=admin/product/listing}
    {/if}
</div>-->