<div  class="wid105 center" id="product_listing">
		<div class="makebox center">
				<div class="headprt settheme">
						<div class="mdl">
        	{if !$sm.id_cat}
								<div  class="fltrht"><input type="button" name="search" value="Add Product" onclick="addProduct('{$sm.next_prev->start}');" class="buton" /></div>
		    {/if}
        	Product List With Single Image
								<div class="clear"></div>
						</div>
				</div>
				<div class="bodyprt">
						{if $sm.list}
						<table border="0" class="tbl_listing">
								<thead>
										<tr>
												<th>Image</th>
												<th>Name</th>
												{if $sm.active_cat==1}
												<th>Category Name</th>
												{/if}
												<th>Description</th>
												<th>Code</th>
												<!--<th>Video</th>-->
												{if !$sm.id_cat}
												<th>Action</th>
												{/if}
										</tr>
								</thead>
								<tbody>
										{section name=cur loop=$sm.list}
										{assign var=x value=$sm.list[cur]}
										<tr>
												<td id="tdimage{$x.id_product}">
														{if $x.image}
														<a class="list_img_cls" href="##IMAGE_ORIG_PATH##product/{$x.id_product}_{$x.image}">
																<img src="##IMAGE_THUMB_PATH##product/{$x.id_product}_{$x.image}"  alt="no image" />
														</a>
														{else}
														<img src="##TEMP_COM_IMG##defaultnoImage.jpg"  alt="no image"/>
														<!--                    <img src="##IMAGE_THUMB_PATH##product/noimage_100.gif"  alt="no default image" />-->
														{/if}
												</td>
												<td>{$x.name|truncate:20:"....":true}</td>
												{if $sm.active_cat==1}
												<td>{if $x.category_name}{$x.category_name}{else}<font color='#FF0000'>*No Category</font>{/if}</td>
												{/if}
												<td>{$x.description|truncate:20:"....":true}</td>
												<td>{$x.code|truncate:20:"....":true}</td>
												{if !$sm.id_cat}
												<td>
														<input type="hidden" value="{$sm.uri|escape}" id="{$x.id_product}_uri"/>
														<a href="javascript:void(0);" onclick="editProduct('{$x.id_product}', '{$sm.next_prev->start}');">
																<img src="##CSS_PATH##img/led-ico/pencil.png" alt="Edit Product" title="Edit Product"/>
														</a>&nbsp;&nbsp;
														<input type="hidden" value="{$x.name|escape}" id="{$x.id_product}_name"/>
														<a href="javascript:void(0);" onclick="return deleteProduct('{$x.id_product}', '{$sm.next_prev->start}', '{$sm.list|@count}');">
																<img src="##CSS_PATH##img/led-ico/delete.png" alt="Delete Product" title="Delete Product"/>
														</a>&nbsp;&nbsp;
														<a href="javascript:void(0);" onclick="showDetail('{$x.id_product}');">
																<img src="##CSS_PATH##img/led-ico/eye.png" alt="Product Detail" title="Product Detail"/>
														</a>
												</td>
												{/if}
										</tr>
										{/section}
								</tbody>
						</table>
						{else}
						<div align="center">No products found</div>
						{/if}
						<div class="pagination_box" align="center">{$sm.next_prev->generate()}
						</div>
				</div>
		</div>
</div>
{literal}
<script type="text/javascript">    
    $("a.list_img_cls").fancybox();
    var code;
    function addProduct(qstart){
				$('#succ_msg').html('');
				$.fancybox.showActivity();
				$.post(siteurl,{"page" : "product", "choice" : "addProduct", "ce" : 0, "qstart" : qstart},function(res){
						if(res == "no category"){
								alert("please add category first");
								$.fancybox.hideActivity();
								return false;
						}else{
								show_fancybox(res);
						}
				});
    }
    
    function editProduct(id,qstart){
				var uri = $("#"+id+"_uri").val();
				var pname   = $('#product_name').val();			
				var product_category    = ($('#product_category').val() == undefined) ? "" : $('#product_category').val() ;
				$.fancybox.showActivity();
				$.post(siteurl,{"page" : "product", "choice" : "addProduct", "ce" : "0", "id_product" : id, "qstart" : qstart, "uri" : uri,'pname':pname,'product_category': product_category},function(res){
						$.fancybox(res);
				});
    }
    
    function deleteProduct(id_product, qstart, cnt){
				var uri = $("#"+id_product+"_uri").val();
				var name = $("#"+id_product+"_name").val();
				var conf=confirm('Are you sure to delete "'+name+'" ?');
				if(conf){
						$.post(siteurl,{"page" : "product", "choice" : "deleteProduct", "ce" : 0, "id_product" : id_product, "qstart" : qstart, "uri" : uri, "cnt" : cnt},function(res){
								messageShow('Product deleted successfully');
								$("#product_listing").html(res);
						});
				}else
						return false;
    }
    
function showDetail(id_product){
		$('#succ_msg').html('');
		$.fancybox.showActivity();
		$.post(siteurl,{"page" : "product", "choice" : "productDetail", "ce" : 0, "id_product" : id_product},function(res){
				$.fancybox(res);
		});
}
    
function show_video(code){
		$('#succ_msg').html('');
		var url="##LBL_ADMIN_SITE_URL##";
		$.fancybox.showActivity();
		$.post(url,{"page":"product","choice":"show_video",ce:0,code:code},function(response){
				$.fancybox(response);
		});
}

</script>
{/literal}