<div>
    <h3 class="gradient">Product Images</h3>
    <div id="gallery">
	<ul>
	    {foreach from=$sm.data item=item key=key}
	    <li class="curve_border"><a href="##IMAGE_ORIG_PATH##product/{$key}_{$item}"><img src="##IMAGE_THUMB_PATH##product/{$key}_{$item}" width="72" height="72" alt=""/></a></li>
	    {/foreach}
	</ul>
	<div class="clearing"></div>
    </div>
</div>
{literal}
<script type="text/javascript">	
    $(function() {
	$('#gallery a').lightBox();
    });
</script>
<style type="text/css">
    #gallery{padding:0px; margin: 0px;}
    #gallery ul{padding:0px; margin: 0px;}
    #gallery ul li{margin: 0px 15px 0px 0px;}
</style>
{/literal}
