<div class="makebox wid100 center">
<div class="center">
{if $sm.imgs}
{include file='product/carousel'}
{/if}
</div>
<h3 class="gradient">Product Detail</h3>
<table class="formtbl">
<tr>
<td>Product Name:</td>
<td>{$sm.res.name|escape}</td>
</tr>
<tr>
<td>Product Code:</td>
<td>{$sm.res.code|escape}</td>
</tr>
<tr>
<td>Product Description:</td>
<td>{$sm.res.description}</td>
</tr>
<tr>
{if $sm.res.video}
<td>Video:</td>
<td>
<div style="margin-top:2px;">
<embed type="application/x-shockwave-flash" src="##LBL_SITE_URL##templates/video/player.swf" style="" id="ply" name="ply" bgcolor="#ffffff" quality="high" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="file=##LBL_SITE_URL##video/{$sm.res.video}&autostart=false" width="350" height="235"></embed>
</div>
</td>
{/if}	
</tr>

<tr>
<td>Image:</td>
<td>
{if $sm.res.image}
<!--<a href="javascript:void(0);" onclick="showfullimage('{$sm.res.image}');"><img src="##IMAGE_THUMB_PATH##product/{$sm.res.id_product}_{$sm.res.image}" /></a>-->
<div id="gallery">
	<ul>
		 <li class="curve_border"><a href="##IMAGE_ORIG_PATH##product/{$sm.res.id_product}_{$sm.res.image}" ><img src="##IMAGE_THUMB_PATH##product/{$sm.res.id_product}_{$sm.res.image}" width="72" height="72" /></a></li>
</ul>
		</div>
{elseif $sm.imgs}
 <div id="gallery">
	<ul>
	    {section name=cur loop=$sm.imgs}
			{assign var=x value=$sm.imgs[cur]}
	    <li class="curve_border"><a href="##IMAGE_ORIG_PATH##product/{$x.id_image}_{$x.image_name}"><img src="##IMAGE_THUMB_PATH##product/{$x.id_image}_{$x.image_name}" width="72" height="72" alt=""/></a></li>
	    {/section}
	</ul>
	<div class="clearing"></div>
    </div>
{else}
<img src="##TEMP_COM_IMG##defaultnoImage.jpg"  alt="no image"/>
{/if}
</td>
</tr>

</table>
</div>
{literal}
<style type="text/css">
    #gallery{padding:0px; margin: 0px;}
    #gallery ul{padding:0px; margin: 0px;}
    #gallery ul li{margin: 0px 15px 0px 0px;}
</style>
<script type="text/javascript">
		  $(function() {
				$('#gallery a').lightBox();
				});
function showfullimage(img){
var mywindow=window.open("##LBL_SITE_URL##image/orig/product/"+img);
}
</script>
{/literal}
