<div id="product_listing">
<div id="dv5" class="wid70 center">
	<div class="makebox">
    <table class="tbl_listing" align="center">
	<tr>
	    <th colspan="5" class="gradient">Product List</th>
	</tr>
	<tr>
	    <th>Image</th>
	    <th>Name</th>
	    <th>Description</th>
	    <th>Detail</th>
	</tr>
	    {section name=cur loop=$sm.list}
	    {assign var=x value=$sm.list[cur]}
	<tr class="{cycle values="odd,even"}">
	    <td>
		{if $x.image}
		    <a class="list_img_cls" href="##IMAGE_ORIG_PATH##product/{$x.id_product}_{$x.image}">
			<img src="##IMAGE_THUMB_PATH##product/{$x.id_product}_{$x.image}"  alt="no image" />
		    </a>
		{else}
		    <img src="##TEMP_COM_IMG##defaultnoImage.jpg"  alt="no default image" />
		{/if}
	    </td>
	    <td>{$x.name|escape}</td>
	    <td>{$x.description|truncate:30:"....":true}</td>
	    <td><a href="javascript:void(0);" onclick="detail('{$x.id_product}');">
							<img src="##CSS_PATH##img/led-ico/eye.png" alt="Product Detail" title="Product Detail"/>
					</a>
			</td>
	 </tr>
	    {sectionelse}
	 <tr>
	     <td colspan="3">
			No Products Found.
	     </td>
	 </tr>
	    {/section}
    </table>
    <div class="pagination_box">
	<div align="center">{$sm.next_prev->generate()}</div>
    </div>
			</div>
</div>
</div>
{literal}
    <script type="text/javascript" >
	$("a.list_img_cls").fancybox();
	function detail(id){
	    var url="##LBL_SITE_URL##"; 
	    $.post(url,{"page":"product","choice":"productDetail",'ce':'0',"id_product":id},function(res){
		$.fancybox(res);
	    });
	}
    </script>
{/literal}
