<div class="fltlft" style="margin-top: 10px;width:30%;margin-right:-40px;">
    <div class="wid80">
		<div class="makebox">
			{assign var = ch value=''}
			<h3>Select a social networking site:</h3>
			<table>
				<tr>
					<td>
						{if !$smarty.session.fconnect}
						<input type="radio" name="social" value="facebook" checked="checked" onclick="get_social('fconnect');"> Facebook
						{assign var = ch value='fconnect'}
						{else}
						<b>Connected with Facebook.</b>
						{/if}
					</td>
				</tr>
				<tr>
					<td>
						{if !$smarty.session.id_linkedin}
						<input type="radio" name="social" value="linkedin" checked="checked" onclick="get_social('linkedinConnect');"> Linkedin
						{assign var = ch value='linkedinConnect'}
						{else}
						<b>Connected with LinkedIn.</b>
						{/if}
					</td>
				</tr>
				<tr>
					<td>
						{if !$smarty.session.twitt_connect}
						<input type="radio" name="social" value="twitter" checked="checked" onclick="get_social('tconnect');"> Twitter
						{assign var = ch value='tconnect'}
						{else}
						<b>Connected with Twitter.</b>
						{/if}
					</td>
				</tr>

			</table>
			<input type="hidden" name="id_user" id="hid" value="{$sm.id_user}">
		</div>
	</div>
</div>
<div class="wid70 fltlft">
	<div class="makebox">
		<div id="social_div"></div>
		<div class="fltrht">
			<a href="##LBL_SITE_URL##socialNetwork/skipSocial/fid/{$sm.id_user}" class="gradient buton">&nbsp;&nbsp;&nbsp; Skip &nbsp;&nbsp;&nbsp;</a>
		</div>
		<div class="clear"></div>
	</div>
</div>
{literal}
<script type="text/javascript">
	$(function(){
		var ch = "{/literal}{$ch}{literal}"
		get_social(ch);
	})
	function get_social(choice) {
		$.post(siteurl,{"page":"socialNetwork", "choice" : choice, "ce" : 0},function(res){
			$('#social_div').html(res);
		});
	}
</script>
{/literal}