<div align="center"><br><br>
    <table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td align="center">
				<a href="##LBL_SITE_URL##socialNetwork/twitterConnect" style="background: none;"><img src="##TEMP_COM_IMG##sign-in-with-twitter-l.png" width="151" height="24" border="0" /></a>
			</td>
		</tr>
    </table>
</div>