{assign var=login_type value=$util->get_values_from_config(LOGIN)}
{assign var=facebook value=$util->get_values_from_config('FACEBOOK')}
{assign var=linkedin value=$util->get_values_from_config('LINKEDIN')}
{literal}
<script type="text/javascript">
	var prev_user = "{/literal}{$sm.res.id_user}{literal}";
	function checkConfirm(flag){
		if(flag == '1'){
			$('#twitteremail').hide();
			$('#logindiv').show();
		}else{
			$('#twitteremail').show();
			$('#logindiv').hide();
		}
	}
	
    function validateData() {
		var validator=$("#emailform").validate({
			rules: {
				"email":{
					required: true,
					email: true
				}
			}
		});
		var x=validator.form();
		return x;
    }
	
	function validateUserData() {
		validator=$("#loginform").validate({
			rules: {
				username: {
					required:true
				},
				password:{
					required: true,
					minlength: 6
				}
			}
		});
		x=validator.form();
		return x;
    }
	
	function emailSubmit(){
		$.fancybox.showActivity();
		var v = validateData();
		var email = $('#email').val();
		if(v){
			$.post(siteurl,{"page":"user","choice":"checkEmail",ce:0,"email":email},function(res){
				$.fancybox.hideActivity();
				if(res == 1){
					$('#add_email_msg').html("<center><font color=red>This Email Already Exist.</font></center>");
					$('#email').val("");
				}else{
					$('#add_email_msg').html('');
					$.post(siteurl,{"page":"socialNetwork","choice":"updateEmail","ce":0,"email":email,"id_user":prev_user},function(res){
						//alert(res);
						window.location.href = siteurl;
					});
				}
			});	
		}else{
			$.fancybox.hideActivity();
		}
	}
	
	function showEmailExist(){
		$('#add_email_msg').html("");
		var email = $('#email').val();
		$.post(siteurl,{"page":"user","choice":"checkEmail",ce:0,"email":email},function(res){//alert(res);
			if(res == 1 && email != ""){
				$('#add_email_msg').html("<center><font color=red>This Email Already Exist.</font></center>");
				$('#email').val("");
				return false;
			}else{
				$('#add_email_msg').html('');
				return true;
			}
		});
	}
	
	function checkUser(){
		var uv = validateUserData();
		var uname = $('#username').val();
		var pass = $('#password').val();
		var prev_user = "{/literal}{$sm.res.id_user}{literal}";
		if (uv){
			$.post(siteurl,{"page":"socialNetwork","choice":"checkValidUser","ce":0,"username":uname,"password":pass,"prev_user":prev_user},function(res){
				//alert(res);return false; 
				if(res == 'error'){
					messageShow("Please enter correct username and password");
					$('#username').val('');
					$('#password').val('');
				}else{
					window.location.href = siteurl;
				}
			});
		}
	}
	
	function checkFBlogin(){
		FB.login(function(response) {
			if (response.status == 'connected') {
				$.fancybox.showActivity();
				FB.api('/me',  function(response) {
					var userID = response.id;	
					$.post(siteurl,{'page':'socialNetwork','choice':'checkValidUser','id_facebook':userID,"ce":0,"prev_user":prev_user},function(res){
						$.fancybox.hideActivity();
						if(res == 'error'){
							messageShow("You are not member of our site");
						}else{
							window.location.href = siteurl;
						}				
					});
				});
			}
		} , {perms:'email'}); 
	}
	
	function checkLinkedinLogin() {
		IN.ENV.js.scope = new Array();
		IN.ENV.js.scope[0] = 'r_emailaddress';
		IN.User.authorize();
		if(IN.User.isAuthorized()){
			onLinkedInAuthUser();
		}else{
			IN.Event.on(IN, "auth", onLinkedInAuthUser);
		}
	}
	
	function onLinkedInAuthUser() {
		$.fancybox.showActivity();
		IN.API.Profile("me")
		.fields("id,firstName,lastName,emailAddress")
		.result( function(me) {
			var response = me.values[0];
			var userID = response.id;
			$.post(siteurl,{'page':'socialNetwork','choice':'checkValidUser','id_linkedin':userID,"ce":0,"prev_user":prev_user},function(res){
				$.fancybox.hideActivity();
				if(res == 'error'){
					messageShow("You are not member of our site");
				}else{
					window.location.href = siteurl;
				}
			});
		});
	}
	

	
</script> 
{/literal}
<div style="border: 1px solid #5FC9F8;width: 750px;margin: 0px auto;margin-top: 10px;padding-bottom: 10px;">
    <div style="padding: 10px;text-align: center;">
		<h4>Hi, {$sm.res.first_name} {$sm.res.last_name}</h4><br />
		Have you ever connected to our site:
		<input type="radio" id="no" name="conf" value="n" checked="checked" onclick="checkConfirm('0');" >
		<label for="no">No</label>
		<input type="radio" id="yes" name="conf" value="y" onclick="checkConfirm('1');" >
		<label for="yes">Yes</label>
	</div>
	<div id="twitteremail" style="width: 45%;margin: 0px auto;">
		<form id="emailform" name="emailform" action="javascript:void(0);" method="post">
			Email :<input type="text" name="email" id="email" placeholder="Your Email Address" onBlur="showEmailExist();" /><br /><br />
			<span id="add_email_msg"><b></b></span>
			<span id="err3">{$sm.err.email}</span>
			<div style="text-align: center;"><input type="button" value="Submit" class="buton" onclick="emailSubmit();"/></div>
		</form>
	</div>
	<div class="clear"></div>
	<div id="logindiv" class="" align="center" style="width: 50%;display: none;margin: 0px auto;">
		<form id="loginform" name="loginform" action="javascript:void(0);" method="post">
			<table align="center" border="0" cellpadding="5" width="100%">
				<tr>
					<td>Username :</td>
					<td><input type="text" name="username" id="username" placeholder="Your username" /></td>
				</tr>
				<tr>
					<td>Password :</td>
					<td><input type="password" name="password" id="password" placeholder="Your password" /></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="button" value="Submit" class="buton" onclick="checkUser();"/></td>
				</tr>
				{if $facebook.fconnect == 1}
				<tr>
					<td>Facebook account:</td>
					<td>
						<div><a href="javascript:void(0);" onclick="checkFBlogin();"><img src="##TEMP_COM_IMG##facebook_button.jpeg"/></a></div>
					</td>
				</tr>
				{/if}
				{if $linkedin.is_linkedin == 1}
				<tr>
					<td>Linkedin Account:</td>
					<td>
						<div><a href="javascript:void(0);" onclick="checkLinkedinLogin();"><img src="##TEMP_COM_IMG##button_linkedin.jpg"/></a></div>
					</td>
				</tr>
				{/if}
			</table>
		</form>
	</div>
</div>
