html > body .smlest_box div	{
	*text-align:left;
}
html > body .smlest_box div p	{
	*line-height:12px;
	*padding:0px;
	*margin:5px;
}
img[title='Edit']	{
	cursor:pointer;
}
/*cont_bg start*/
.cont{
	width:960px;
	margin:16px auto;
	text-align:left;
}
.cont_bg_top{
	background:url(../images/blue/page_top.png) no-repeat;
	width:960px;
	height:21px;
}
.cont_bg_mdl{
	background:url(../images/blue/page_mdl.png) repeat-y;
	width:960px;
	padding:5px 0px;
}
.cont_bg_btm{
	background:url(../images/blue/page_btm.png) no-repeat;
	width:960px;
	height:19px;
}
.cont_hdr{
	margin-top:30px;
	padding:10px 0 10px 20px;
}
.left_pad p	{
	margin-left:22px;
}
.cont_hdr_lft{
	background:url(../images/trans/blue_hdr_lft.png) no-repeat;
	height:33px;
	width:8px;
}
.cont_hdr_mdl{
	background:url(../images/trans/blue_hdr_mdl.png) repeat-x;
	height:28px;
	width:420px;
	font-size:18px;
	color:#000;
	padding:5px 0 0 12px;
}
.cont_hdr_rht{
	background:url(../images/trans/blue_hdr_rht.png) no-repeat;
	width:8px;
	height:33px;
}
.cont_hdr1{
	margin-top:0px;
	padding:10px 0 10px 20px;
}
.job_detail .cont_hdr1{
	padding:0px 0 10px 5px;
}
.job_detail .cont_hdr1 .cont_hdr_mdl	{
	width:700px;
}
.cont_hdr_mdl1{
	background:url(../images/trans/blue_hdr_mdl.png) repeat-x;
	height:28px;
	width:890px;
	font-size:18px;
	color:#000;
	padding:5px 0 0 12px;
}
.sml_box .mdl .cont_hdr1 .cont_hdr_mdl1 {
	width:650px;
}
.smlest_box .cont_hdr_mdl1	{
	width:172px;
}
.smler_box .mdl .cont_hdr1 .cont_hdr_mdl1,.cont_hdr .cont_hdr_mdl1{
	width:420px;
}
.smlest_box	.top	{
	background:url(../images/blue/page_top_smaller1.png) no-repeat;
	width:240px;
	height:9px;
}
.smlest_box	.mdl	{
	background:url(../images/blue/page_mdl_smaller1.png) repeat-y;
	width:240px;
	padding-bottom:10px;
}
.smlest_box	.btm	{
	background:url(../images/blue/page_btm_smaller1.png) no-repeat;
	width:240px;
	height:9px;
}

.cont_hdr_mdl1 .bread_crum_class	{
	margin-top:4px;
	font-size:12px;
}
.cont_hdr_mdl1 .bread_crum_class a	{
	color:#000000;
}
/*cont_bg end*/
.ftr_txt{
	font-size:12px;
	color:#9e9e9e;
	margin:20px auto 0px auto;
	position:fixed;
	width:100%;
	bottom:0px;
	padding-bottom:10px;
	background:#F7F7F7;
}
.form{
	width:464px;
	margin:100px auto;
}
.form_hdrbg_lft{
	background:url(../images/blue/login_bglft.png) no-repeat;
	width:10px;
	height:65px;
}
.form_hdrbg_mdl{
	background:url(../images/blue/login_bgmdl.png) repeat-x;
	width:434px;
	height:41px;
	text-align:left;
	padding:24px 0 0 10px;
	color:#fff;
	font-size:18px;
}
.form_hdrbg_mdl ul.menu li.openul .mdl_prt a {
	padding:9px 0px 9px;
}
.menu1	{
	font-size:12px;
	font-weight:bold;
}


.right_side_anchor	{
	margin-right:5px;
	margin-top:4px;
	font-size:12px;
	cursor:pointer;
}
.btn_frgt{
	background:url(../images/blue/for_password_btn.png) no-repeat;
	width:132px;
	height:32px;
	margin:6px 0 0 5px;
	padding:0px;
	text-align:center;
}
.btn_frgt a{
	font-size:12px;
	font-weight:bold;
	height:24px;
	padding-top:8px;
	color:#FFFFFF;
	display:block;
}

.form_hdrbg_rht{
	background:url(../images/blue/login_bgrht.png) no-repeat;
	width:10px;
	height:65px;
}
.form_bg_mdl{
	background:url(../images/blue/login_bg_mdl.png) repeat-y;
	width:464px;
}
.login_blue_hdr{
	padding:18px 0 0 18px;
}
.login_hdrlft{
	background:url(../images/blue/blue_hdr_lft.png) no-repeat;
	width:8px;
	height:33px;
}
.login_hdrmdl{
	background:url(../images/blue/blue_hdr_mdl.png)  repeat-x;
	width:405px;
	height:25px;
	text-align:left;
	color:#0f4873;
	font-size:14px;
	font-weight:bold;
	padding:8px 0 0 5px;
}
.login_hdrrht{
	background:url(../images/blue/blue_hdr_rht.png) no-repeat;
	width:8px;
	height:33px;
}
.form_bg_btm{
	background:url(../images/blue/login_bg_rht.png) no-repeat;
	width:464px;
	height:13px;
}
table{
	margin-top:15px;
}
table.mrgtp0{
	margin-top:0px;
}

table tr td{
	font-size:12px;
	font-weight:bold;
	color:#828282;
	vertical-align:top;
}
.txt_bg{
	background:url(../images/blue/input_box.png) no-repeat;
	width:266px;
	height:22px;
	height:19px\0/;
	padding-top:4px\0/;
	border:none;
	padding-left:5px;
}
html>body .txt_bg{
	*height:19px;
	*padding-top:4px;
}
/*dashboard start*/
.ds_hdr{
	font-size:16px;
	font-weight:bold;
}
.latest{
	margin:20px 0 0 10px;
}
.mrgn_lft{
	margin-left:20px;
	margin-top:10px;
}
.mrgn_lft p{
	margin:0px;
	padding:0px;
	margin-top:5px;
	background:url(../images/bullet1.png) no-repeat 0px 5px;
	padding-left:15px;
}
.lnk{
	color:#333333;
}
.lnk a{
	color:#003399;
	text-decoration:underline;
}
.lnk a:hover{
	text-decoration:none;
}
/*dashboard end*/
/*Company Information start*/
table.listing_tbl tr td{
	font-size:13px;
	color:#000;
	font-weight:normal;
	vertical-align:top;
	padding-left:5px;
}
table.listing_tbl	{
	margin:10px 1%;
	width:98%;
}
/*Company Information end*/
.cont_txt{
	width:910px;
	margin:0 auto;
	padding-top:1px;
}
.txtbg_top{
	background:url(../images/blue/txt_bg_top.png) no-repeat;
	width:910px;
	height:11px;
}
.txtbg_top_sml{
	background:url(../images/blue/txt_bg_sml_top.png) no-repeat;
	width:678px;
	height:12px;
}
.txtbg_top_smler{
	background:url(../images/blue/txt_bg_smllr_top.png) no-repeat;
	width:446px;
	height:11px;
}
.txtbg_mdl{
	background:url(../images/blue/txt_bg_mdl.png) repeat-y;
	width:910px;
}
.txtbg_mdl_sml	{
	background:url(../images/blue/txt_bg_sml_mdl.png) repeat-y;
	width:678px;
}
.txtbg_mdl_smler	{
	background:url(../images/blue/txt_bg_smlllr.png) repeat-y;
	width:446px;
	padding:3px 0px;
}
.txtbg_btm{
	background:url(../images/blue/txt_bg_btm.png) no-repeat;
	width:910px;
	height:11px;
}
.txtbg_btm_sml	{
	background:url(../images/blue/txt_bg_sml_btm.png) no-repeat;
	width:678px;
	height:12px;
}
.txtbg_btm_smler	{
	background:url(../images/blue/txt_bg_smllr_btm.png) no-repeat;
	width:446px;
	height:11px;
}

s.user,.email,.add,.lnm,.date,.edit,table.tbl_listing tr th{
	border-right:none;
}
.brdr_none	{
	border-right:none;
}
table tr th{
	color:#000;
	font-size:13px;
}
.wid86	{
	width:86px;
}
.wid203	{
	width:203px;
}
.wid232	{
	width:232px;
}
.wid101	{
	width:101px;
}
.wid105	{
	width:105px;
}
.wid61	{
	width:61px;
}
.dlt{
	width:86px;
}
.sml_box .top	{
	background:url(../images/blue/page_top_sml.png) no-repeat;
	width:722px;
	height:14px;
	margin-top:17px;
}
.sml_box .mdl	{
	background:url(../images/blue/page_mdl_sml.png) repeat-y;
	width:723px;
	height:auto;
}
.sml_box .btm	{
	background:url(../images/blue/page_btm_sml.png) no-repeat;
	width:722px;
	height:14px;
}
.sml_box .mdl h3	{
	margin:0px;
	padding:0px;
}
.smler_box .top	{
	background:url(../images/blue/page_top_smler.png) no-repeat;
	width:485px;
	height:14px;
	margin-top:17px;
}
.smler_box .btm	{
	background:url(../images/blue/page_btm_smler.png) no-repeat;
	width:485px;
	height:14px;
}
.smler_box .mdl	{
	background:url(../images/blue/page_mdl_smler.png) repeat-y;
	width:485px;
	padding-bottom:5px;
}
.smler_box .listing_tbl	{
	margin:10px 2%;
	width:96%;
}
.cont_hdr_mdl1 .fltrht input[type='button'],.rht_btn	{
	background:url(../images/blue/hdr_btnbg.jpg) repeat-x;
	height:22px;
	padding-bottom:3px;
	border:#1A6DAC solid 1px;
	margin-right:5px;
	margin-top:1px;
	cursor:pointer;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
html > body .cont_hdr_mdl1 .fltrht input[type='button']	{
	*margin-top:-21px;
	*padding-top:1px;
	*padding-bottom:2px;
}
html > body .cont_hdr_mdl1 .fltrht input[name='delEmpl'],html > body .cont_hdr_mdl1 .fltrht input[name='addEmpl']	{
	*margin-top:-1px;
}
html > body .cont_hdr_mdl1 .fltrht input[name='deleteLeave']	{
	*margin-top:-42px;
}
.fr .rht_btn	{
	padding:5px 14px;
}
html > body .login_btn	{
	*height:28px;
	*padding-bottom:2px;
}
input[name='search']	{
	padding-bottom:5px;
}
div[id$='Pie'] a	{
	color:#222;
	text-decoration:none;
}
div[id$='Pie'] a:hover	{
	color:#999;
	text-decoration:underline;
}
#logintable	{
	width:1000px;
	margin:20px auto;
}
#logintable #register_user{
	border:#06C solid 1px;
	width:360px;
	height:250px;
	padding:20px 20px 0px;
}
#register_user h1	{
	color:#587381;
	text-transform:uppercase;
	font-size:14px;
	padding-bottom:5px;
	border-bottom:#C4D6EC solid 1px;
}
input[type='text'],input[type='password']	{
	border:1px solid #CCCCCC;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	padding:3px 6px;
	min-width:180px;
	font-family:Arial, Helvetica, sans-serif;
}
#pass	{
	border:none;
}
html>body .empstat_zindex	{
	*z-index:-9;
}
.listing_tbl td input[type='text'],textarea,select	{
	border:1px solid #CCCCCC;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	padding:3px 6px;
	width:80%;
	font:Arial, Helvetica, sans-serif;
}
.listing_tbl td textarea	{
	min-height:100px;
	font:Arial, Helvetica, sans-serif;
}
#search_month	{
	margin-right:10px;
}
#search_month,#search_year	{
	width:47%;
}
.listing_tbl th a	{
	color:#000;
	text-decoration:underline;
}
.listing_tbl th a:hover	{
	text-decoration:none;
}


.message	{
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	font-size:12px;
}
.relpos	{
	background:#0C426C;
	position:relative;
	min-width:150px;
	min-height:130px;
	padding:10px 0px;
	margin:0px 10px 25px;
}
.abspos	{
	position:absolute;
	bottom:15px;
	width:100%;
	color:#CCCCCC;
	display:none;
	font-weight:bold;
}
.content	{
	width:97%;
	margin:0px auto;
}
.info_hdng	{
	font-weight:bold;
	text-transform:capitalize;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
}
ul.rht_pan_ul	{
	margin:0px;
	margin-right:30px;
	padding:10px 3px;
	width:97%;
}
ul.rht_pan_ul li	{
	list-style:none;
	float:left;
	font-size:13px;
	background:url(../images/gray_arrow.png) no-repeat right;
	padding-right:12px;
	margin:0px 5px 0px 9px;
}
ul.rht_pan_ul li.cur	{
	background:url(../images/blue_down.png) no-repeat right;
}
ul.rht_pan_ul li a	{
	color:#666666;
	text-transform:uppercase;
}
ul.rht_pan_ul li a.cur,ul.rht_pan_ul li a:hover	{
	color:#175483;
}
.a_cont a	{
	color:#999999;
	font-weight:bold;
}
.a_cont a:hover	{
	text-decoration:underline;
}
.special	{
	text-align:center;
	padding-top:10px;
}
.special ul	{
	width:100%;
}
.special ul li	{
	display:inline;
}
.modal_heading	{
	background:#848484;
}
.modal_heading .lft	{
	background:url(../images/blue/modal_hdrlft.png) no-repeat;
	height:51px;
	width:19px;
}
html > body .modal_heading .lft	{
	*background:url(../images/blue/modal_hdrlft.png) no-repeat #848484;
}
.modal_heading .rht	{
	background:url(../images/blue/modal_hdrrht.png) no-repeat;
	height:51px;
	width:19px;
}
html > body .modal_heading .rht	{
	*background:url(../images/blue/modal_hdrrht.png) no-repeat #848484;
}

.modal_heading .mdl	{
	background:url(../images/blue/modal_hdrmdl.png) repeat-x;
	height:11px;
	padding:20px 17px;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-transform:capitalize;
}
.modal_body	{
	padding:15px 15px 0px;
}
.modal_body table	{
	width:100%;
}
.modal_body table tr td select,.modal_body table tr td textarea,.modal_body table tr td input[type='text']	{
	width:80%;
	font:Arial, Helvetica, sans-serif;
}
.mrgn_lft a	{
	color:#333;
	text-decoration:underline;
}
table tr td[align='right']	{
	font-weight:bold;
}
.mrgn_lft a:hover	{
	text-decoration:none;
}
.message b	{
	color:red;
}
.wid84smlst	{
	width:84%; margin:0px auto;
}
.mrgtp_16	{
	margin-top:-16px;
}
.a_cont p	{
	line-height:4px;
}
td[title^='See']	{
	color:#63A1B7;
	text-decoration:underline;
}
.text	{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
p	{
	text-align:left;
}
.mrgtp-5	{
	margin-top:-5px;
}
html > body .mrgtp-5	{
	*margin-top:0px;
}
html > body .tbl_lstin	{
	*padding-right:5px;
}
tr.last td{
    border-bottom: none;
}
tr.last td.brdrbtm{
    border-bottom:1px solid #bbbbbb;
}
label.error{
    display:none;color:#f00;font-weight:normal;
}
ul.menu li.openul .mdl_prt a:focus {
	padding:9px 0px 9px;
}
#language_type .menu	{
	margin-right:12px;
	height:30px;
	position:relative;
	top:2px;
}
/*------------------------------------------*/
#delete_edit_image{
    background:#000;
    max-height:130px;
    overflow-y:scroll;
    overflow:auto;
}
 .pdng_rite_15{
     padding-right: 15px;
 }
 /*************************************************/
 .tbl_listing tr th.actn_hd{
	  text-align:center;
	  width:110px;
 }
 .tbl_listing tr td.act_img{
	  text-align:right;
	  padding-right:5px;
 }
 table.fanc_edit tr td input[type="text"],table.fanc_edit tr td textarea{
	  width:300px;
 }
 table.fanc_edit tr td select{
	  width:313px;
 }
  table.fanc_edit1 tr td input[type="text"],table.fanc_edit1 tr td textarea{
	  width:250px;
 }
 .padd_tp{
	  padding-top:5px;
 }
 table.tbl_list_none tr td{
	  background:none;
 }
 table.tbl_list_none tr td input[type="text"],table.tbl_list_none tr td textarea{
	  width:300px;
 }
 table.tbl_list_none tr td select{
	  width:312px;
 }
 table.list_none tr td{
	  background:none;
 }
 table.list_none tr td input[type="text"]{
	  width:90%;
 }
 table.list_form tr td input[type="text"],table.list_form tr td textarea{
	  width:90%;
 }
 /*****************Menu Button********************/
 .button{
	background-image: url(../images/blue/menu_bg.png);
	background-repeat: no-repeat;
	display: inline-block;
	white-space: nowrap;
	color: #333;
	font-size: 12px;
	font-weight: normal;
	height:26px;
	position:relative;
	top:-3px;
	cursor:pointer;
}
.button span {
	background-image: url(../images/blue/menu_bg.png);
	background-repeat: no-repeat;
	display: inline-block;
	white-space: nowrap;
	font-size: 12px;
	font-weight: normal;
	height:26px;
}
.button {
	background-position: left top;
	padding-left: 14px;
	padding-bottom:3px;
}
.button span {
	background-position: right top;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 0px;
}
.button span a{
	 padding:3px 2px 4px 0px;
	 color:#fff;
}
.button:hover {
	background-position: left -33px;
}
.button:hover span {
	background-position: right -33px;
}
.content{
	 min-height:111px;
}
table.inn_usr_list tr td input[type="text"],table.inn_usr_list tr td textarea{
	 width:300px;
}
table.inn_usr_list tr td select{
	 margin:2px;
	 width:310px;
}
#name_msg{
	 color:#f00;
}
.errmsg{
	 color:#f00;
	 text-align:center;
}
.ui-notification-container{
	 position:relative;
	 margin-top:107px;
	 margin-right:150px;
}
