/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 Jul, 2016, 5:16:54 PM
    Author     : pramodini
*/


body {
    color: #888888;
}
a, a:hover {
    color: #2d2d2d;
    text-shadow: none !important;
}
ul.faq-list li a:hover, ul.faq-list li a.active {
    background: none repeat scroll 0 0 #2d2d2d;
}
#header.navbar-inverse .navbar-inner {
    background-color: #2d2d2d;
    background-image: linear-gradient(to bottom, #2d2d2d, #2d2d2d);
    background-repeat: repeat-x;
    border-color: #2d2d2d;
    color: #fff;
}
.sidebar-toggle-box {
    background: none repeat scroll 0 0 #242424;
    color: #fff;
}
#header .navbar-inner .nav .dropdown-toggle:hover, .navbar-inner .nav .dropdown.open .dropdown-toggle {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
#header.navbar-inverse .divider-vertical {
    border-left-color: #2c2d2f;
    border-right-color: #181a1b;
}
#sidebar > ul > li > a {
    color: #fff !important;
}
#sidebar > ul > li a i {
    color: #fff !important;
    display: inline-block;
}
#sidebar > ul > li > ul.sub > li > a:hover, #sidebar > ul > li > ul.sub > li.active > a {
    background: none repeat scroll 0 0 #575757;
    transition-duration: 500ms;
    transition-property: width, background;
    transition-timing-function: ease;
}
#sidebar > ul > li.active > a, #sidebar > ul > li > a:hover, #sidebar > ul > li:hover > a {
    background: none repeat scroll 0 0 #2d2d2d;
}
#sidebar > ul > li > ul.sub > li > a {
    color: #a0a0a0;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: #eeeeee;
    background-image: none;
    color: #333333;
    filter: none;
    text-decoration: none;
}
#sidebar > ul > li > ul.sub > li:last-child {
    border-bottom: medium none;
}
.chats li.out .name {
    color: #b14c4c;
}
.chats li.in .message {
    border-left: 2px solid #2f8e95;
}
.chats li.in .message .arrow {
    border-right: 8px solid #2f8e95;
}
.chats li.out .message .arrow {
    border-left: 8px solid #b14c4c;
}
.chats li.out .message {
    border-right: 2px solid #b14c4c;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border: 1px solid #2d2d2d;
    box-shadow: none;
}
@media (max-width: 979px) {
#sidebar {
    background-color: #404040 !important;
}
}
.custom-wizard-pills .nav-pills li.active a, .custom-wizard-pills .nav-pills li a:hover {
    background: none repeat scroll 0 0 #2d2d2d;
}
.invoice-list h5 {
    color: #404040;
}
.about-us h4, .team-member h3, .team-member ul li a:hover, .contact-us h4 {
    color: #404040;
}
