{literal}
	<script type="text/javascript">
		function validatePass() {
			var validator=$("#changepass").validate({
			   	rules: {
					"pwd[pwd]": {
						required:true,
						minlength:6
					},
					"pwd[pass]":{
						required:true,
						minlength:6
					},
					"pwd[cpass]":{
						required:true,
						equalTo:'#npwd1'
					}
				},
				messages: {
					"pwd[pwd]": {
						required:flexymsg.required,
						minlength:flexymsg.minlength
					},
					"pwd[pass]":{
						required:flexymsg.required,
						minlength:flexymsg.minlength
					},
					"pwd[cpass]":{
						required: flexymsg.required,
						equalTo: flexymsg.equalTo
					}
					
				}
			});
			var x=validator.form();
			return x;
		}
	</script> 
<style>
	label.error	{
		color:#FF0000;
		font-size:15px;
	}
</style>
{/literal}
<div class="wid50 center">
    <div class="makebox">
	<h3 class="gradient">Change Password</h3>
	<form name="changepass" id="changepass" method="post" action="##LBL_SITE_URL##user/updatePassword" onSubmit="return validatePass();">
	    <table align="center" class="formtbl">
		<tr>
		    <td width="190"><label for="pwd">Enter Current Password :</label></td>
		    <td><input type="password" name="pwd[pwd]" id="pwd" value="{$sm.res.password}" /></td>
		</tr>
		<tr>
		    <td><label for="npwd1">Enter New Password :</label></td>
		    <td><input type="password" name="pwd[pass]" id="npwd1" /></td>
		</tr>
		<tr>
		    <td><label for="npwd2">Confirm New Password :</label></td>
		    <td><input type="password" name="pwd[cpass]" id="npwd2" /></td>
		</tr>
		<tr>
		    <td>&nbsp;</td>
		    <td><input type="submit" name="submit" value="Change Password" class="userbuton" /></td>
		</tr>
	    </table>
	</form>
    </div>
</div>
