{assign var=check_captcha value=$util->get_values_from_config('CAPTCHA')}
{assign var=login_type value=$util->get_values_from_config('LOGIN')}
{assign var=facebook value=$util->get_values_from_config('FACEBOOK')}
{assign var=twitter value=$util->get_values_from_config('TWITTER')}
{assign var=linkedin value=$util->get_values_from_config('LINKEDIN')}
{assign var=google value=$util->get_values_from_config('GOOGLE')}
{literal}
<style type="text/css">
  .userlogin_admin{display:none;}
  .metro1 a:hover{color:#4A8BC2;}
  #logintable{margin:0 auto;}
</style>
<script type="text/javascript">
    function validateLogin(){
		validator=$("#loginform").validate({
			rules: {
				username: {
					required:true
				},
				password:{
					required: true,
					minlength: 6
				}
			},
			messages: {
				username:{
					required:flexymsg.required
				
				},
				password:{
					required:flexymsg.required,
					minlength:flexymsg.minlength
				}
			}
		});
		x=validator.form();
		return x;
    }
    
    function setLogin(){
		if(validateLogin()){
			var loginInput = $("#loginform").serialize();
			var url = siteurl + "user/setLogin/ce/0/?"+loginInput;
			$.post(url,function(res){
				var err = res.split("::");
				if(err[0] == 'suc'){
					window.location.href = err[1];
				}else if(err[0] == 'err'){
					messageShow(err[1]);
					//$("#err_login").html("<div style='color:#FF0000;margin-top:25px;'>"+err[1]+"</div>").show();
					$("#uname").val('');
					$("#pass").val('');
					return false;
				}else{
					$("#logintable").html(res);
				}
			});
		}else{
			return false;
		}
		return false;
    }
	$(document).ready(function(){
		var targethash = window.location.hash;
		if(targethash !=''){
			if(targethash == "#members"){
				$("#guests").removeAttr('class');
				$("#members").attr('class','selected');
				$('#logintable').find('.tabsectorcontent').eq('0').removeClass('selected');
				$('#logintable').find('.tabsectorcontent').eq('1').addClass('selected');
			}
		}
	});
</script>

<!--  <script src="https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.css" />
<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
</script>
<script>
// Initialize Firebase
var config = {
apiKey: "AIzaSyBSV0ceuajbpj-XRvLiSLQZ7QRW_0QLjag",
authDomain: "flexytinynew-5340e.firebaseapp.com",
databaseURL: "https://flexytinynew-5340e.firebaseio.com",
projectId: "flexytinynew-5340e",
storageBucket: "flexytinynew-5340e.appspot.com",
messagingSenderId: "473152198904"
};
firebase.initializeApp(config);


//set options
    var googleid = "1";
    var facebookid = "1";
    var twitterid = "1";
    var githubid = "1";
    var emailid = "0";
    var phoneid = "1";
    //var  googleopt;
    if(googleid==1){
     var  googleopt = firebase.auth.GoogleAuthProvider.PROVIDER_ID;
     }
    if(facebookid==1){
     var facebookopt= firebase.auth.FacebookAuthProvider.PROVIDER_ID;
     }
    if(twitterid==1){
     var  twitteropt= firebase.auth.TwitterAuthProvider.PROVIDER_ID;
     }
    if(githubid==1){
     var githubopt= firebase.auth.GithubAuthProvider.PROVIDER_ID;
     }
    if(emailid==1){
     var emailopt= firebase.auth.EmailAuthProvider.PROVIDER_ID;
     }
    if(phoneid==1){
      var phoneopt= firebase.auth.PhoneAuthProvider.PROVIDER_ID;
     }
    // FirebaseUI config.
    var uiConfig = {
        //        signInSuccessUrl: getuserdata,
        signInFlow: 'popup',
        signInOptions: [
        // Leave the lines as is for the providers you want to offer your users.
        googleopt,
        facebookopt,
        twitteropt,
        githubopt,
        emailopt,
        phoneopt
        ],
        // Terms of service url.
        tosUrl: '<toservice-url>',
        callbacks: {
        signInSuccess: function(currentUser, credential) {
//            alert(JSON.stringify(currentUser));
//            alert(JSON.stringify(credential));
            getuserdata(currentUser,credential);
         }
     }
     };

    // Initialize the FirebaseUI Widget using Firebase.
    var ui = new firebaseui.auth.AuthUI(firebase.auth());
    // The start method will wait until the DOM is loaded.
    ui.start('#firebaseui-auth-container', uiConfig);
    
    function getuserdata(currentUser,credential){
        var providerIdphone = currentUser.providerData[0].providerId; 
        var userID ="";
        var providerId =""; 
        var displayName ="";
        var first_name ="";
        var last_name ="";
        var email ="";
        var photoURL="";
        if(currentUser.phoneNumber){
            providerId = providerIdphone;
            userID = currentUser.uid;
            email = currentUser.phoneNumber;
            first_name = "phone";
            last_name = "login";
         }else{
            providerId = credential.providerId;
            userID = currentUser.uid;
            displayName =currentUser.displayName;
            displayName = displayName.split(" ");
            first_name = displayName[0];
            last_name = displayName[1];
            email = currentUser.email;
            photoURL= currentUser.photoURL;
         }
        $.post(siteurl,{'page':'socialNetwork','choice':'firebaselogin','userID':userID,"first_name":first_name,"last_name":last_name,"email":email,'providerId':providerId,"ce":0 },function(res){ //alert(res);return false;
            window.location.href=siteurl+'user/userHome';					
            $.fancybox.hideActivity();
	 });
     }
</script>-->
{/literal}
<!--done by gayatree starts-->
<div id="logintable" class="center wid60" style="margin-top:62px;">
<div class="row-fluid">
<div class="span12">
                        <!-- BEGIN BASIC PORTLET-->
                        <div class="widget red">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i> Log In</h4>
<!--                            <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>-->
                            </div>
                          <div class="tabhd">
            <a id='guests' href="#guests">Guests</a>
            <a id='members' href="#members" class="selected">Members</a>
        </div>
                          <div class="clear" style="height: 2px;"></div>
                           <div class="tabsector" style="background:white" id="test">
                          <div class="tabsectorcontent">
                <div class="hdng">Welcome to Flexymvc Release</div>
                <div align="right">
                    <div class="fltlft">Feel free to register. Its free.</div>
                    {if $login_type.register == 1}
                    <a href="javascript:void(0);" onclick="ajaxRegister();" class="userbuton">Create An Account</a>
                    {else}
					<a href="##LBL_SITE_URL##register" class="userbuton">Create An Account</a>
                    {/if}
                    <div class="clear"></div>
                </div>
            </div>
                            <div class="widget-body">
                              
                              <div class="tabsectorcontent selected">
                              <div class="hdng hdng_login">Registered Users</div>
                If you have an account with us, please log in.
                {if $login_type.type == 1}
				<form id="loginform" name="loginform" action="javascript:void(0);" method="post" onsubmit="return setLogin()">
					{else}
                    <form id="loginform" name="loginform" action="##LBL_SITE_URL##user/setLogin" method="post" onsubmit="return validateLogin()">
						{/if}
						<input type="hidden"  value="1" name="userui" />
						<div align="center" id="err_login" style="display: none"></div>
                                <table class="table table-striped">
<!--                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                    </tr>
                                    </thead>-->
                                    <tbody>
                                    <tr>
								<td width="120" class="algnrht">Username :</td>
								<td><input type="text" name="username" id="uname" class="fields secndtd" value="{$sm.uname}" /></td>
							</tr>
							<tr>
								<td class="algnrht">Password :</td>
								<td><input type="password" name="password" id="pass" class="fields secndtd" value="{$sm.pwd}" /></td>
							</tr>
							
							<tr>
								<td width="32%" class="algnrht">Facebook account:</td>
								<td align="right">
                                  <div class="metro metro1 double-size navy-blue ">
<a class="social-link" href="javascript:void(0);" onclick="callFBlogin();">
<i class="icon-facebook-sign"></i>
<span>Facebook Login</span>
</a>
</div>
									<!--<div><a href="javascript:void(0);" onclick="callFBlogin();"><img src="##TEMP_COM_IMG##facebook_button.jpeg"/></a></div>-->
								</td>
							</tr>
							
							{if $linkedin.is_linkedin == 1}
							<tr>
								<td>Linkedin Account:</td>
								<td align="right">
									<div><a href="javascript:void(0);" onclick="onLinkedinLogin();"><img src="##TEMP_COM_IMG##button_linkedin.jpg"/></a></div>
								</td>
							</tr>
							{/if}
							{if $twitter.is_twitter == 1}
							<tr>
								<td>Twitter Account:</td>
								<td align="right">
									<a href="##LBL_SITE_URL##socialNetwork/twitter"><img src="##TEMP_COM_IMG##sign-in-with-twitter-l.png" width="151" height="24" border="0" /></a>		
								</td>
							</tr>
							{/if}
							{if $google.is_google == 1}
							<tr>
								<td>Google Account:</td>
								<td align="right">
									<div><a href="{$sm.gauth}"><img src="##TEMP_COM_IMG##google-login-button.png"/></a></div>
								</td>
							</tr>
							{/if}
<!--                                                        <tr>
                                                            <td></td><td id="firebaseui-auth-container"></td>
                                                        </tr>-->
							<tr>
								<td><input type="checkbox" name="rem" id="rem" value="1"/>Remember Me</td>
								<td><a href="##LBL_SITE_URL##user/forgotPwd">Forgot Your Password?</a></td>
							</tr>
							{if $check_captcha.login}
							{if $smarty.session.login_count}
							<tr>
								<td colspan="2">
									<div id="load_captcha" align="center">{get_mod mod=user mgr=user choice=getCaptchaDb type=login}</div>
									{if $sm.captcha_msg}
									<span id="cap_err_msg">{$sm.captcha_msg}</span>
									{/if}
								</td>
							</tr>
							{/if}
							{/if}
<!--							<tr>
								<td colspan="2"></td>
							</tr>-->
							<tr>
								<td valign="middle"></td>
								<td valign="middle" class="tr"><input type="submit" value="Login" class="userbuton"/></td>
							</tr>
                                    </tbody>
                                </table>
                        </form>
                    </div>
                              </div>
                             </div>
                            </div>
                        </div>
                        <!-- END BASIC PORTLET-->
                    </div>
  </div>
  </div>
<div class="clear"></div>
<!--done by gayatree ends-->











<div id="logintable" class="center userlogin_admin">
    <div class="tabbg gradient">
        <div class="tabhd">
            <a id='guests' href="#guests">Guests</a>
            <a id='members' href="#members" class="selected">Members</a>
        </div>
        <div class="clear" style="height: 2px;"></div>
        <div class="tabsector" style="background:white" id="test">
            <div class="tabsectorcontent">
                <div class="hdng">Welcome to Flexymvc Release</div>
                <div align="right">
                    <div class="fltlft">Feel free to register. Its free.</div>
                    {if $login_type.register == 1}
                    <a href="javascript:void(0);" onclick="ajaxRegister();" class="userbuton">Create An Account</a>
                    {else}
					<a href="##LBL_SITE_URL##register" class="userbuton">Create An Account</a>
                    {/if}
                    <div class="clear"></div>
                </div>
            </div>
            <div class="tabsectorcontent selected">
                <div class="hdng">Registered Users</div>
                If you have an account with us, please log in.
                {if $login_type.type == 1}
				<form id="loginform" name="loginform" action="javascript:void(0);" method="post" onsubmit="return setLogin()">
					{else}
                    <form id="loginform" name="loginform" action="##LBL_SITE_URL##user/setLogin" method="post" onsubmit="return validateLogin()">
						{/if}
						<input type="hidden"  value="1" name="userui" />
						<div align="center" id="err_login" style="display: none"></div>
						<table class="formtbl" width="100%">
							<tr>
								<td width="120">Username :</td>
								<td><input type="text" name="username" id="uname" class="fields" value="{$sm.uname}" /></td>
							</tr>
							<tr>
								<td>Password :</td>
								<td><input type="password" name="password" id="pass" class="fields" value="{$sm.pwd}" /></td>
							</tr>
							{if $facebook.fconnect == 1}
							<tr>
								<td>Facebook account:</td>
								<td align="right">
									<div><a href="javascript:void(0);" onclick="callFBlogin();"><img src="##TEMP_COM_IMG##facebook_button.jpeg"/></a></div>
								</td>
							</tr>
							{/if}
							{if $linkedin.is_linkedin == 1}
							<tr>
								<td>Linkedin Account:</td>
								<td align="right">
									<div><a href="javascript:void(0);" onclick="onLinkedinLogin();"><img src="##TEMP_COM_IMG##button_linkedin.jpg"/></a></div>
								</td>
							</tr>
							{/if}
							{if $twitter.is_twitter == 1}
							<tr>
								<td>Twitter Account:</td>
								<td align="right">
									<a href="##LBL_SITE_URL##socialNetwork/twitter"><img src="##TEMP_COM_IMG##sign-in-with-twitter-l.png" width="151" height="24" border="0" /></a>		
								</td>
							</tr>
							{/if}
							{if $google.is_google == 1}
							<tr>
								<td>Google Account:</td>
								<td align="right">
									<div><a href="{$sm.gauth}"><img src="##TEMP_COM_IMG##google-login-button.png"/></a></div>
								</td>
							</tr>
							{/if}
							<tr>
								<td><input type="checkbox" name="rem" id="rem" value="1"/>Remember Me</td>
								<td><a href="##LBL_SITE_URL##user/forgotPwd">Forgot Your Password?</a></td>
							</tr>
							{if $check_captcha.login}
							{if $smarty.session.login_count}
							<tr>
								<td colspan="2">
									<div id="load_captcha" align="center">{get_mod mod=user mgr=user choice=getCaptchaDb type=login}</div>
									{if $sm.captcha_msg}
									<span id="cap_err_msg">{$sm.captcha_msg}</span>
									{/if}
								</td>
							</tr>
							{/if}
							{/if}
							<tr>
								<td colspan="2"></td>
							</tr>
							<tr>
								<td valign="middle"></td>
								<td valign="middle" class="tr"><input type="submit" value="Login" class="userbuton"/></td>
							</tr>
						</table>
					</form>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
{literal}
<script type="text/javascript">
	function callFBlogin(){
		FB.login(function(response) {
			if (response.status == 'connected') {
				$.fancybox.showActivity();
				FB.api('/me',  function(response) {
					var first_name = response.first_name;
					var last_name = response.last_name;
					var gender = response.gender;
					var email = response.email;
					var userID = response.id;
					window.location.href=siteurl+'socialNetwork/fb_loginurl/userID/'+userID+'/first_name/'+first_name+'/last_name/'+last_name+'/gender/'+gender+'/email/'+email;
				});
            }
		} , {perms:'email'}); 
	}
	
	function onLinkedinLogin() {
		IN.ENV.js.scope = new Array();
		IN.ENV.js.scope[0] = 'r_emailaddress';
		IN.User.authorize();
		if(IN.User.isAuthorized()){
			onLinkedInAuth();
		}else{
			IN.Event.on(IN, "auth", onLinkedInAuth);
		}
	}
	
	function onLinkedInAuth() {
		$.fancybox.showActivity();
		IN.API.Profile("me").fields("id,firstName,lastName,emailAddress")
		.result( function(me) {
			var response = me.values[0];
			var first_name = response.firstName;
			var last_name = response.lastName;
			var email = response.emailAddress;
			var userID = response.id;
			
			$.post(siteurl,{'page':'socialNetwork','choice':'linkedin','userID':userID,"first_name":first_name,"last_name":last_name,"email":email,"ce":0},function(res){
				//alert(res);
				window.location.href=siteurl+'user/userHome';					
				$.fancybox.hideActivity();
			});
		});
	}
        
       
</script>
{/literal}