{literal}
<style type="text/css">
  .blockipfancy_admin{display:none;}
</style>
{/literal}
<!--done by gayatri starts-->
<div style="width:500px;">
  <div class="row-fluid">
    <div class="span12">
      <!-- BEGIN BASIC PORTLET-->
      <div class="widget green">
        <div class="widget-title">
          <h4><i class="icon-reorder"></i> ADD BLOCK IP</h4>
<!--          <span class="tools">
            <a href="javascript:;" class="icon-chevron-down"></a>
            <a href="javascript:;" class="icon-remove"></a>
          </span>-->
        </div>
        <div class="widget-body">
          <form class="basic" name="blockip_form" id="blockip_form" action="##LBL_ADMIN_SITE_URL##ipblocking/block_ip_by_admin" method="post" onsubmit="return validate1();">
            <input type="hidden" id="id_product" name='id_product' value="{$sm.res.id_product}" />
            <input type="hidden" id="referer" name='referer' value="{$sm.referer}" />
            <input type="hidden" id="qstart" name='page_no' value="{$sm.qstart}" />
            <input type="hidden" name="prev_code" id="prev_code" value="{$sm.res.code_product}" />
            <input type="hidden" name="prev_video" id="prev_video" value="{$sm.res.video}" />
            <input type='hidden' value='{$sm.id_cat}' name="caterory_reflex" id="caterory_reflex">
            <table class="table table-striped">
              <!--                                    <thead>
                                                  <tr>
                                                      <th>#</th>
                                                      <th>First Name</th>
                                                      <th>Last Name</th>
                                                      <th>Username</th>
                                                  </tr>
                                                  </thead>-->
              <tbody>
                <tr>
                  <td>IP Blocking:</td>
                  <td><input type="text" id="ip_addr" name="ip_addr" /></td>
                </tr>
                <tr>
                  <td>Reason :</td>
                  <td>
                    <textarea name="reason" id="reason" /></textarea>
                    <!--<input type="text" id="reason" name="reason" class="txt" validate="required:true"/>-->
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>
                    <input type="radio" name="ch" id="r1"  value="bl_up" onclick="show_fl('up', 'dl', 1);" />Block for
                    <input type="radio" name="ch" id="r2"  value="bl_dt" onclick="show_fl('dl', 'up', 1);"/>Block upto
                    <input type="radio" name="ch" id="r3"  value="bl_ul" onclick="show_fl('up', 'dl', 2);"/>Unlimited Block<br>
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>
                    <label for="ch" class="error" style="display:none;">Please select one</label>
                    <div id="up" style="display:none">
                      <select name="days" id="days">
                        <option value="0">0</option>
                        {html_options options=$util->get_values_from_config('QUANTITY')}
                      </select>
                      {html_select_time use_24_hours=true display_seconds=false}<br />
                      <span>(Day/Hour/Minute)</span>
                    </div>
                    <div class="clear"></div>
                    <div id="dl" style="display:none">
                      Block Upto: <input type="text" readonly="readonly" name="bl_day" id="bl_day" />
                    </div>
                  </td>
                </tr>
<!--                <tr>
                  <td>&nbsp;</td>
                  <td><div class="fltlft"><input type="submit" class="btn btn-success" name="add_blockip" id="add_blockip" value="Add" /></div></td>
                </tr>-->
              </tbody>
              </table>
            <div class="form-actions" align="center">

<input type="submit" class="btn btn-success" name="add_blockip" id="add_blockip" value="Add"/>

<!--<input type="button" class="btn" value="Cancel" onclick="$.fancybox.close();" />-->

</div>
          </form>
          <input type="hidden" name="imagecnt" id="imagecnt" value="{$sm.imgs|@count}"/>
        </div>
      </div>
      <!-- END BASIC PORTLET-->
    </div>
  </div>
</div>
<!--done by gayatree ends-->




<div style="width:500px;" class="blockipfancy_admin">
  <div class="headprt settheme">
    <div class="mdl">
      <span>ADD BLOCK IP</span>
    </div>
  </div>
  <div class="bodyprt">
    <form class="basic" name="blockip_form" id="blockip_form" action="##LBL_ADMIN_SITE_URL##ipblocking/block_ip_by_admin" method="post" onsubmit="return validate1();">
      <input type="hidden" id="id_product" name='id_product' value="{$sm.res.id_product}" />
      <input type="hidden" id="referer" name='referer' value="{$sm.referer}" />
      <input type="hidden" id="qstart" name='page_no' value="{$sm.qstart}" />
      <input type="hidden" name="prev_code" id="prev_code" value="{$sm.res.code_product}" />
      <input type="hidden" name="prev_video" id="prev_video" value="{$sm.res.video}" />
      <input type='hidden' value='{$sm.id_cat}' name="caterory_reflex" id="caterory_reflex">
      <table border="0" width="100%" class="formtbl">
        <tr>
          <td width="25%">IP Blocking:</td>
          <td><input type="text" id="ip_addr" name="ip_addr" /></td>
        </tr>
        <tr>
          <td>Reason :</td>
          <td>
            <textarea name="reason" id="reason" /></textarea>
            <!--<input type="text" id="reason" name="reason" class="txt" validate="required:true"/>-->
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>
            <input type="radio" name="ch" id="r1"  value="bl_up" onclick="show_fl('up', 'dl', 1);" />Block for
            <input type="radio" name="ch" id="r2"  value="bl_dt" onclick="show_fl('dl', 'up', 1);"/>Block upto
            <input type="radio" name="ch" id="r3"  value="bl_ul" onclick="show_fl('up', 'dl', 2);"/>Unlimited Block<br>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>
            <label for="ch" class="error" style="display:none;">Please select one</label>
            <div id="up" style="display:none">
              <select name="days" id="days">
                <option value="0">0</option>
                {html_options options=$util->get_values_from_config('QUANTITY')}
              </select>
              {html_select_time use_24_hours=true display_seconds=false}<br />
              <span>(Day/Hour/Minute)</span>
            </div>
            <div class="clear"></div>
            <div id="dl" style="display:none">
              Block Upto: <input type="text" readonly="readonly" name="bl_day" id="bl_day" />
            </div>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><div class="settheme fltlft"><input type="submit" class="buton" name="add_blockip" id="add_blockip" value="Add" /></div></td>
        </tr>
      </table>
    </form>
    <input type="hidden" name="imagecnt" id="imagecnt" value="{$sm.imgs|@count}"/>
  </div>
</div>        
{literal}
<script type="text/javascript">
  function validate1() {
    $.validator.addMethod("check_ip", function (value) {
      return /^(([0-9]|[1-9][0-9]|1[0-9]([0-9])?|2[0-4][0-9]|25[0-5])\.)((([0-9]|[1-9][0-9]|1[0-9]([0-9])?|2[0-4][0-9]|25[0-5])\.))((([0-9]|[1-9][0-9]|1[0-9]([0-9])?|2[0-4][0-9]|25[0-5])\.))([0-9]|[1-9][0-9]|1[0-9]([0-9])?|2[0-4][0-9]|25[0-5])$/.test(value);
    }, 'Please enter a valid ip');
    var validator = $("#blockip_form").validate({
      rules: {
        ip_addr: {
          required: true,
          check_ip: true
        },
        reason: {
          required: true
        },
        ch: {
          required: true
        }
      },
      messages: {
        ip_addr: {
          required: "<br>This field cannot be left blank",
          check_ip: "<br>Enter a valid ip"
        },
        reason: {
          required: "<br>This field cannot be left blank"
        }

      }
    });
    var x = validator.form();
    return x;
  }
  function show_fl(showid, hideid, flagid) {
    if (flagid == 1) {
      $('#' + hideid).hide();
      $('#' + showid).show();
    } else {
      $('#up').hide();
      $('#dl').hide();
    }
  }
  $(document).ready(function () {
    $('#bl_day').datepicker({dateFormat: 'dd/mm/yy', closeText: 'X'});
  });
</script>
<style type="text/css">
  #up #days,#up select{
    width:115px;
  }
  #dl input[type="text"]{
    width:100px;
  }
</style>
{/literal}
