<div class="box box-50 altbox">
<div>
	<span style="float:right">
    <a href="javascript:void(0);" onClick="close_modal();"><img src="##LBL_SITE_URL##image/close.png" />
   </a> 
	</span>
</div><br/>
    <div class="boxin">
        <div class="header">
        	<h3>Block IP</h3>
        </div>
	<form class="basic" action="" method="post" name="ipbl_form" id="ipbl_form" onSubmit="return validate_ip();">       
     <div class="inner-form">
            <dl>
                <dt class="t1"><label for="some1">IP Address:</label></dt>
                
                <dd>
                     <input type="text" id="ipbl_add" name="ipbl_add" class="txt" validate="required:true"/>
                </dd>
				<dt class="t1"><label for="some1">Time Interval:</label></dt>
                
                <dd>
                     <input type="text" id="time_limit" name="time_limit" class="txt"/>
                </dd>
		<dt class="t1"><label for="some1">Reason:</label></dt>
                
                <dd>
                     <textarea type="text" id="reason" name="reason"></textarea>
                </dd>
                <dt></dt>
                <dd>
                    <input class="button altbutton" type="submit" value="Block"/>
                </dd>
            </dl>
           <div id="failmsgipbl">{if $sm.fail_msg}{$sm.fail_msg}{/if}</div>
        </div>
       </form>
	</div>
</div>
{literal}
<script type="text/javascript">
	$.metadata.setType("attr", "validate");
		function validate_ip() {
			var validator=$("#ipbl_form").validate();
			var x=validator.form();
			var ip=document.getElementById('ipbl_add').value;
			var ipsub = new Array();
			ipsub = ip.split(".");
			for (var i = 0; i <ipsub.length; i++) {
			var sub = parseInt(ipsub[i]);
				if ((isNaN(sub)) || (sub <0) || (sub >255)) {
					x = false;
					$('#failmsgipbl').html("Enter valid IP address.");
				}else{
					$('#failmsgipbl').html('');
				}
			}
			return x;
		}

</script>
{/literal}