<div id="dv2">
    <div style="width:800px;">
        <div class="headprt settheme">
            <div class="mdl">
                <span>Add Template to {if $sm.type=='admin'}Admin{else}User{/if} Side of {$sm.mod_name|capitalize} Module</span>
            </div>
        </div>
        <div class="bodyprt">
            <form action="##LBL_ADMIN_SITE_URL##module/createTemp/ce/0/"  id="addTemplate" enctype="multipart/form-data" method="post" onsubmit="return validateTemplate();">
                <table border="0" class="formtbl">
		    <input type='hidden' value='{$sm.mod_name}' name="mod_name"/>
		    <input type='hidden' value='{$sm.type}' name="type"/>
		    <tr>
			<td>Template Name :</td>
			<td>
			  <input type='text' name="temp_name"/>
			  <br/>
			  <span style="font-size: 15px;font-weight: bold;color: #207670;">
				&lt;Enter Template Name Only.i.e. If Template is 'example.tpl.html' Then Write 'example' In Textbox &gt;
			  </span>
			</td>
		    </tr>
		    <tr>
			<td>Content :</td>
			<td>
			  <textarea name="content" id="content" style="width: 615px;" rows="15">
			  </textarea>
			</td>
		    </tr>
			<tr>
			  <td colspan="2" align="center">
            	<table>
                	<tr>
                    	<td>
                            <div class="settheme fltlft">
                            <input type="submit" class="buton" name="submit" value="{if $sm.res}Update{else}Insert{/if}" />
                            </div>
                        </td>
                        <td>
                            <div class="settheme fltlft">
                            <input type="button" class="buton" value="Cancel" onclick="$.fancybox.close();" />
                            </div>
                        </td>
                    </tr>
                </table>
			</td>
		    </tr>
            </table>
            </form>
        </div>
    </div>
</div>

{literal}
<script type="text/javascript">
  $(document).ready(function(){
	$("#content").text("");
  });
  function validateTemplate(){
var validator=$("#addTemplate").validate({
	    rules: {
		"temp_name": {
		    required:true
		},
		"content": {
		    required:true
		}
		},
	    messages: {
		"temp_name":{
		    required:"<br>"+flexymsg.required
		},
		"content": {
		    required:"<br>"+flexymsg.required
		}
		}
	});
	return validator.form();
    }
  </script>
{/literal}