<form action="##LBL_ADMIN_SITE_URL##module/updateFiles" id="upfile" class="form" method="post">
    <input type="hidden" name="fpath" id="fpath" value="{$sm.file}" />
    <table border="0">
	<tr>
	    <td>{if $sm.mod_name=='common'}Common Template{else}Module Name: {$sm.mod_name}{/if}</td>
	</tr>
	<tr>
	    <td>File Name: {$sm.file}</td>
	</tr>
	{if !$sm.fmsg}
	<tr>
	    <td>Edit the contents:</td>
	</tr>
	<tr>
	  <td><textarea rows="30" style="width: 100%" name="efile" id="efile">{$sm.file_content}</textarea></td>
	</tr>
	<tr>
	  <td>
		<div class="settheme fltlft">
		    <input type="submit" class="buton" value="Save" />
		</div>
		  <div class="settheme fltlft">
		    <input type="button" class="buton" value="Close" onclick="closeMe();"/>
		</div>
		<div class="clrbth"></div>
	    </td>
	</tr>
	{else}
	    {$sm.fmsg}
	{/if}
    </table>
</form>
{literal}
<script type="text/javascript">
    function closeMe(){
	$('#edit_sec').html('Edit the file contents here.');
    }
</script>
{/literal}
