<div style="position:relative; left:15px">
  <b>
	<a href="javascript:void(0);" style="font-size: 13px;">PHP files:</a>
  </b>
  <div id="php{$sm.mod_name}" style="position:relative; left:15px;" >
	{foreach from=$sm.files key=key item=item}
	<a href="javascript:void(0);" onclick="showDetail('{$item}','{$sm.mod_name}','{$key}');" title="Edit File">{$item}</a><br />
	{/foreach}
  </div>
</div>

<div style="position:relative; left:15px">
  <b>
	<a href="javascript:void(0);">Template  files:</a>
  </b>
  <div id="temp{$sm.mod_name}">
	<div style="position:relative; left:15px;">
	  <table width="100%">
		<tr>
		  <td colspan="2" style="background-color: #BBB;">
			<div class="fltlft">
			  <a href="javascript:void(0);" ><b>Admin:</b></a>
			</div>
			<div class="fltrht">
			  <a href="javascript:void(0);" onclick="addTemplate('admin','{$sm.mod_name}');">
				<img src="##CSS_PATH##img/led-ico/Add0.png" alt="Add Template" title="Add Template"/>
			  </a>
			</div>
			<div class="clear"></div>
		  </td>
		</tr>
		{if $sm.templates.admin}
		{foreach from=$sm.templates.admin item=item}
		<tr>
		  <td>
			<a href="javascript:void(0);" onclick="showDetail('{$item}','{$sm.mod_name}','tpl','admin');" title="Edit File">{$item}</a>
		  </td>
		  <td style="text-align: right;">
			{if $item!='home.tpl.html'}
			<a href="javascript:void(0);" onclick="deleteTemplate('{$item}','{$sm.mod_name}','admin');">
			  <img src="##CSS_PATH##img/led-ico/delete0.png" alt="Delete Template" title="Delete Template"/>
			</a>
			{/if}
		  </td>
		</tr>
		{/foreach}
		{else}
		<tr>
		  <td colspan="2" align="center">
			No Files
		  </td>
		</tr>
		{/if}
	  </table>
	</div>
	<div style="position:relative; left:15px">
	  <table width="100%">
		<tr>
		  <td colspan="2" style="background-color: #BBB;">
			<div class="fltlft">
			  <b><a href="javascript:void(0);">General:</a></b>
			</div>
			<div class="fltrht">
			  <a href="javascript:void(0);" onclick="addTemplate('gen','{$sm.mod_name}');">
				<img src="##CSS_PATH##img/led-ico/Add0.png" alt="Add Template" title="Add Template"/>
			  </a>
			</div>
			<div class="clear"></div>
		  </td>
		</tr>
		{if $sm.templates.genral}
		{foreach from=$sm.templates.genral item=item}
		<tr>
		  <td>
			<a href="javascript:void(0);" onclick="showDetail('{$item}','{$sm.mod_name}','tpl','gen');" title="Edit File">{$item}</a><br />
		  </td>
		  <td style="text-align: right;">
			{if $item!='home.tpl.html'}
			<a href="javascript:void(0);" onclick="deleteTemplate('{$item}','{$sm.mod_name}','gen');">
			  <img src="##CSS_PATH##img/led-ico/delete0.png" alt="Delete Template" title="Delete Template"/>
			</a>
			{/if}
		  </td>
		</tr>
		{/foreach}
		{else}
		<tr>
		  <td colspan="2" align="center">
			No Files
		  </td>
		</tr>
		{/if}
	  </table>
	</div>
  </div>
</div>