<div class="clearfix"></div>
<div class="wid30 fltlft mrglft5">
  <div class="makebox center">
	<div class="headprt settheme">
	  <div class="mdl">
		<span>COMMON TEMPLATE</span>
	  </div>
	</div>
	<div class="bodyprt" id="box1-tabular">
	  <table width="100%">
		<tr>
		  <td width="50%" style="vertical-align: top;">
			<table border="0" class="tbl_listing">
			  <tr>
				<th>
				  User Site
				</th>
			  </tr>
			  {foreach from=$sm.user_templates item=item}
			  <tr>
				<td><a href="javascript:void(0);" onclick="showDetail('{$item}','common','tpl','');">{$item}</a></td>
			  </tr>
			  {/foreach}
			</table>
		  </td>
		  <td style="vertical-align: top;">
			<table class="tbl_listing">
			  <tr>
				<th>
				  Admin Site
				</th>
			  </tr>
			  {foreach from=$sm.admin_templates item=item}
			  <tr>
				<td><a href="javascript:void(0);" onclick="showDetail('{$item}','admin','tpl','');">{$item}</a></td>
			  </tr>
			  {/foreach}
			</table>
		  </td>
		</tr>
	  </table>
	</div>
  </div>
  <div class="makebox center">
	<div class="headprt settheme">
	  <div class="mdl">
		<span>Listing</span>
	  </div>
	</div>
	<div class="bodyprt" id="box1-tabular">
	  <table border="0" class="tbl_listing">
		<thead>
		  <tr>
			<th>Module Name</th>
			<th>Action</th>
		  </tr>
		</thead>
		{foreach name=myfor from=$sm.file item=item}
		<tr width="100%">
		  <td width="80%">
			<div onclick="showFile('{$item}');" id="showmod_{$item}"style="padding: 5px; background-color: silver;font-weight: bold;font-size: 15px;" title="Open Module">
			  <a href="javascript:void(0);">{$item}</a>
			</div>
			<div class="clear"></div>
			<div id="mod_{$item}"></div>
		  </td>
		  <td>
			<div class="settheme fltlft">
			  <input class="buton" type="button" onclick="deleteModule('{$item}');" value="Delete" title="Delete Module"/>
			</div>
		  </td>
		</tr>
		{/foreach}
	  </table>
	</div>
  </div>
</div>
<div id="product_listing" class="fltlft wid60 mrglft0">
  <div class="makebox center">
	<div class="headprt settheme">
	  <div class="mdl">
		<span>Create/Upload Module</span>
		<span style="padding-left:10px">
		  <!--<input type="radio" name="mod" id="nmod" {if $smarty.request.status neq 'imp'}checked="checked"{/if} onclick="showHide('newmod','impmod','nmod','add_mod');">New module&nbsp;
	  <input type="radio" name="mod" id="imod" {if $smarty.request.status eq 'imp'}checked="checked"{/if} onclick="showHide('impmod','newmod','imod','upd_mod');">Import module-->
		</span>
	  </div>
	</div>
	<div class="bodyprt" id="newmod" style="height:180px; {if $smarty.request.status eq 'imp'}display:none{/if}">
	  <form action="##LBL_ADMIN_SITE_URL##module/createModule" id="add_mod" method="post">
		<table border="0" class="formtbl" width="100%">
		  <tr>
			<td width="266px" valign="top">Enter Module Name</td>
			<td width="440px">
			  <input class="fltlft" type="text" name="module_name" id="module_name" />
			  <label class="error" generated="true" for="module_name"></label>
			  <div id="m_msg"></div>
			</td>
			<td valign="top">
			  <div class="settheme fltlft">
				<input class="buton" type="button" value="Create" onclick="return chkValidate();"/>
			  </div>
			</td>
		  </tr>
		</table>

		<div>
		  <h5><span style="color: red">Points to be followed before creating a module : </span></h5>
		  <ul>
			<li><b>Before creating module : </b>chmod 0777 flexymvc/modules flexymvc/classes templates/default -R</li>
			<li><b>After module created : </b>chown [Username of your computer] flexymvc/modules/[MNAME] flexymvc/classes/data/[MNAME].php templates/default/[MNAME] templates/default/admin/[MNAME] -R [where MNAME is module name]</li>
			<li><b>After module created : </b>chmod 0777 flexymvc/modules/[MNAME] flexymvc/classes/data/[MNAME].php templates/default/[MNAME] -R</li>
			<li><b>After completion : </b>chmod 0755 flexymvc/modules flexymvc/classes templates/default -R</li>
		  </ul>
		</div>
		<div style="clear: both;"></div>
	  </form>
	</div>
	<div id="impmod" style=" height: 180px; {if $smarty.request.status neq 'imp'}display:none;{/if}">
	  {include file="admin/module/import"}
	</div>
  </div>
</div>
<div class="fltlft wid60 mrglft0">
  <div class="makebox center">
	<div class="headprt settheme">
	  <div class="mdl">
		<span>Edit Section</span>
	  </div>
	</div>
	<div id="edit_sec" class="wid100">
	  Edit the file contents here.
	</div>
  </div>
</div>
{literal}
<script type="text/javascript">
  $.validator.addMethod("checkAdmin", function(value) {
	return (value != "admin") && (value != "common") && (value !="css");
  }, 'Please do not enter this word as module name');

  $.validator.addMethod("check_mod", function(value) {
	return value == "";
  }, '');

  function chkValidate(){
	validator = $("#add_mod").validate({
	  rules: {
		module_name: {
		  required: true,
		  checkAdmin:true
		}
	  }
	});
	x=validator.form();
	if(x) {
	  checkModAvail();
	} else {
	  return false;
	}
  }

  function checkModAvail(){
	var url = "##LBL_ADMIN_SITE_URL##";
	$.post(url,{"page":"module","choice":"chkModule",ce:0,module_name:$('#module_name').val()},function(res){
	  if(res=='1'){
		$('#module_name').val('').focus();
		$("#m_msg").html("<font color='red'>Module already exist.</font>");
	  }else{
		$("#m_msg").html('');
		$('#add_mod').submit();
	  }
	});
  }

  function showFile(mod){
	var url='##LBL_ADMIN_SITE_URL##';
	if($('#mod_'+mod).html()==""){
	  $.post(url,{"page":"module","choice":"getFiles",ce:0,mod_name:mod},function(res){
		$('#mod_'+mod).html(res);
		$("#showmod_"+mod).attr("title","Close Module");
	  });
	}else{
	  $('#mod_'+mod).html("");
	  $("#showmod_"+mod).attr("title","Open Module");
	}
  }

  function showDetail(fname,mod_name,type,temp_type){
	var url='##LBL_ADMIN_SITE_URL##';
	$.post(url,{"page":"module","choice":"details",ce:0,"mod_name":mod_name,"fname":fname,"type":type,"temp_type":temp_type},function(res){
	  $('#edit_sec').html(res);
	});
  }

  function showHide(chk_divid,unchk_divid,chk_radioid,formid){
	if($('#'+chk_radioid).is(':checked')){
	  function complete() {
		$('#'+chk_divid).fadeIn(1600);
		$('#'+formid)[0].reset();
	  }
	  $('#'+unchk_divid).fadeOut(1600,complete);
	}
  }

  function showDiv(id){
	$('#'+id).toggle();
  }

  function addTemplate(type,mod){
	var url='##LBL_ADMIN_SITE_URL##';
	$.post(url,{"page":"module","choice":"addTemplate","mod_name":mod,"type":type,"ce":"0"},function(res){
	  show_fancybox(res);
	});
  }
  function deleteTemplate(fname,mod_name,temp_type){
	var url='##LBL_ADMIN_SITE_URL##';
	var conf=confirm("Are you sure to delete the Template?");
	if(conf){
	  $.post(url,{"page":"module","choice":"deleteTemplate",ce:0,"mod_name":mod_name,"fname":fname,"temp_type":temp_type},function(res){
		messageShow("Template Deleted Successfully");
		window.location.href = url + "module/formModule";
	  });
	}
  }
  function deleteModule(mod_name){
	var conf=confirm('Are you sure to delete '+mod_name+' module?');
	if (conf){
	  window.location.href = "##LBL_ADMIN_SITE_URL##module/delete/mname/"+mod_name;
	}
  }


</script>
<style type="text/css">
  .tbl_listing tr td{
	vertical-align:top!important;
  }
</style>
{/literal}
