{assign var=cat_type value=$util->get_values_from_config('CATEGORY')}
<!--<ul id="menu" class="menu" style="margin-top:10px;">
	<li class="openul">
		<div class="fltlft lft_prt"></div>
		<div class="fltlft mdl_prt"><a href="##LBL_ADMIN_SITE_URL##" title="Go to Home" class="menu_head">Home</a></div>
		<div class="fltlft rht_prt"></div>
	</li>
	<li class="openul">
		<div class="fltlft lft_prt"></div>
		<div class="fltlft mdl_prt"><a href="javascript:void(0);" class="menu_head">Management</a></div>
		<div class="fltlft rht_prt"></div>
		<ul>
			<li><a href="##LBL_ADMIN_SITE_URL##product/listing"{if $smarty.request.page == 'product' && $smarty.request.choice =='listing'}class="current"{/if}>Product</a></li>
			<li><a href="##LBL_ADMIN_SITE_URL##cms/listing"{if $smarty.request.page == 'cms' && $smarty.request.choice =='listing'}class="current"{/if}>CMS</a></li>

		</ul>
	</li>
	<li class="openul">
		<div class="fltlft lft_prt"></div>
		<div class="fltlft mdl_prt"><a href="javascript:void(0);" class="menu_head">User Logs</a></div>
		<div class="fltlft rht_prt"></div>
		<ul>
			<li><a href="##LBL_ADMIN_SITE_URL##user/listing"{if $smarty.request.page == 'user' && $smarty.request.choice =='listing'}class="current"{/if}>Listing</a></li>
			<li><a href="##LBL_ADMIN_SITE_URL##user/loginUsers"{if $smarty.request.page == 'user' && $smarty.request.choice =='loginUsers'}class="current"{/if}>Login Details</a></li>
			<li><a href="##LBL_ADMIN_SITE_URL##ipblocking/blockedIpList"{if $smarty.request.page == 'ipblocking' && $smarty.request.choice =='blockedIpList'}class="current"{/if}>Blocked IP List</a></li>
		</ul>
	</li>
	<li class="openul">
		<div class="fltlft lft_prt"></div>
		<div class="fltlft mdl_prt"><a href="javascript:void(0);" class="menu_head">Settings</a></div>
		<div class="fltlft rht_prt"></div>
		<ul>
			<li><a href="##LBL_ADMIN_SITE_URL##setting/listing"{if $smarty.request.page == 'setting' && $smarty.request.choice =='listing'}class="current"{/if}>Config</a></li>
			<li><a href="##LBL_ADMIN_SITE_URL##setting/msgList"{if $smarty.request.page == 'setting' && $smarty.request.choice =='msgList'}class="current"{/if}>Message</a></li>
			<li><a href="##LBL_ADMIN_SITE_URL##setting/jsMsgList"{if $smarty.request.page == 'setting' && $smarty.request.choice =='jsMsgList'}class="current"{/if}>JS Message</a></li>
			{if $smarty.session.id_developer}
			<li><a href="##LBL_ADMIN_SITE_URL##module/formModule"{if $smarty.request.page == 'module' && $smarty.request.choice =='formModule'}class="current"{/if}>Module</a></li>
			<li><a href="##LBL_ADMIN_SITE_URL##dutil/show_db"{if $smarty.request.page == 'dutil' && $smarty.request.choice =='show_db'}class="current"{/if}>Database Dump</a></li>
			<li><a href="##LBL_ADMIN_SITE_URL##dutil/checkList"{if $smarty.request.page == 'dutil' && $smarty.request.choice =='checkList'}class="current"{/if}>Checklist</a></li>
			{/if}
		</ul>
	</li>
	<li class="openul">
		<div class="fltlft lft_prt"></div>
		<div class="fltlft mdl_prt"><a class="menu_head" href="##LBL_SITE_URL##" target="_blank">Go to User Site &gt;&gt;</a></div>
		<div class="fltlft rht_prt"></div>
	</li>
</ul>-->
<div id="container" class="row-fluid">
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar-scroll">
        <div id="sidebar" class="nav-collapse collapse">
           <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
         <div class="navbar-inverse">
            <form class="navbar-search visible-phone">
               <input type="text" class="search-query" placeholder="Search" />
            </form>
         </div>
         <!-- END RESPONSIVE QUICK SEARCH FORM -->
 <ul class="sidebar-menu">
              <li class="sub-menu active">
                  <a class="" href="##LBL_ADMIN_SITE_URL##">
                      <i class="icon-dashboard"></i>
                      <span>Dashboard</span>
                  </a>
              </li>
              <li class="sub-menu">
                  <a href="javascript:;" class="">
                      <i class="icon-book"></i>
                      <span>Management</span>
                      <span class="arrow"></span>
                  </a>
                  <ul class="sub">
                      <li><a href="##LBL_ADMIN_SITE_URL##product/listing"{if $smarty.request.page == 'product' && $smarty.request.choice =='listing'}class="current"{/if}>Product</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##cms/listing"{if $smarty.request.page == 'cms' && $smarty.request.choice =='listing'}class="current"{/if}>CMS</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##attribute/listing"{if $smarty.request.page == 'attribute' && $smarty.request.choice =='listing'}class="current"{/if}>Attribute</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##redirect/listing"{if $smarty.request.page == 'redirect' && $smarty.request.choice =='listing'}class="current"{/if}>301 Redirection</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##csvuser/listing"{if $smarty.request.page == 'csvuser' && $smarty.request.choice =='listing'}class="current"{/if}>CSV</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##cms/category_listing"{if $smarty.request.page == 'cms' && $smarty.request.choice =='category_listing'}class="current"{/if}>Catagory</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##practice/practicemenu"{if $smarty.request.page == 'practice' && $smarty.request.choice =='practicemenu'}class="current"{/if}>Practice</a></li>
                      
<!--                      <li><a class="" href="slider.html">Sliders</a></li>
                      <li><a class="" href="metro_view.html">Metro View</a></li>
                      <li><a class="" href="tabs_accordion.html">Tabs & Accordions</a></li>
                      <li><a class="" href="typography.html">Typography</a></li>
                      <li><a class="" href="tree_view.html">Tree View</a></li>
                      <li><a class="" href="nestable.html">Nestable List</a></li>-->
                  </ul>
              </li>
              <li class="sub-menu">
                  <a href="javascript:;" class="">
                      <i class="icon-list"></i>
                      <span>Practice</span>
                      <span class="arrow"></span>
                  </a>
                  <ul class="sub">
                      <li><a href="##LBL_ADMIN_SITE_URL##practice/qrcode"{if $smarty.request.page == 'practice' && $smarty.request.choice =='qrcode'}class="current"{/if}>QR Code</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##practice/jpgraph"{if $smarty.request.page == 'practice' && $smarty.request.choice =='jpgraph'}class="current"{/if}>JP GRAPH</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##practice/autocomplete"{if $smarty.request.page == 'practice' && $smarty.request.choice =='autocomplete'}class="current"{/if}>AUTO COMPLETE</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##practice/tcpdfdemo"{if $smarty.request.page == 'practice' && $smarty.request.choice =='tcpdfdemo'}class="current"{/if}>Tcpdf demo</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##practice/xmldemo"{if $smarty.request.page == 'practice' && $smarty.request.choice =='xmldemo'}class="current"{/if}>XML demo</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##practice/imagemapping"{if $smarty.request.page == 'practice' && $smarty.request.choice =='imagemapping'}class="current"{/if}>image mapping</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##practice/phpmailerdemo"{if $smarty.request.page == 'practice' && $smarty.request.choice =='phpmailerdemo'}class="current"{/if}>phpmailer demo</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##practice/dragndropmainpage"{if $smarty.request.page == 'practice' && $smarty.request.choice =='dragndropmainpage'}class="current"{/if}>Drag N Drop</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##practice/showMap"{if $smarty.request.page == 'practice' && $smarty.request.choice =='showMap'}class="current"{/if}>Google Map</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##practice/showCalender"{if $smarty.request.page == 'practice' && $smarty.request.choice =='showCalender'}class="current"{/if}>Google Calender</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##practice/columnnameToImgfromtable"{if $smarty.request.page == 'practice' && $smarty.request.choice =='columnnameToImgfromtable'}class="current"{/if}>Text 2 Image</a></li>

                  </ul>
                  
              </li>
<!--<li class="sub-menu">
                  <a href="javascript:;" class="">
                      <i class="icon-book"></i>
                      <span>Management</span>
                      <span class="arrow"></span>
                  </a>
                  <ul class="sub">
                      <li><a class="" href="">Product</a></li>
                      <li><a class="" href="button.html">CMS</a></li>
                      <li><a class="" href="slider.html">Sliders</a></li>
                      <li><a class="" href="metro_view.html">Metro View</a></li>
                      <li><a class="" href="tabs_accordion.html">Tabs & Accordions</a></li>
                      <li><a class="" href="typography.html">Typography</a></li>
                      <li><a class="" href="tree_view.html">Tree View</a></li>
                      <li><a class="" href="nestable.html">Nestable List</a></li>
                  </ul>
              </li>-->
              <li class="sub-menu">
                  <a href="javascript:;" class="">
                      <i class="icon-cogs"></i>
                      <span>User Logs</span>
                      <span class="arrow"></span>
                  </a>
                  <ul class="sub">
                      <li><a href="##LBL_ADMIN_SITE_URL##user/listing"{if $smarty.request.page == 'user' && $smarty.request.choice =='listing'}class="current"{/if}>Listing</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##user/loginUsers"{if $smarty.request.page == 'user' && $smarty.request.choice =='loginUsers'}class="current"{/if}>Login Details</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##ipblocking/blockedIpList"{if $smarty.request.page == 'ipblocking' && $smarty.request.choice =='blockedIpList'}class="current"{/if}>Blocked IP List</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##userlisting/list_user"{if $smarty.request.page == 'userlisting' && $smarty.request.choice =='list_user'}class="current"{/if}>user listing</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##student/studentlisting"{if $smarty.request.page == 'student' && $smarty.request.choice =='studentlisting'}class="current"{/if}>student listing</a></li>
                      <!--                      <li><a class="" href="flot_chart.html">Flot Charts</a></li>
                      <li><a class="" href="gallery.html"> Gallery</a></li>-->
                  </ul>
              </li>
              <li class="sub-menu">
                  <a href="javascript:;" class="">
                      <i class="icon-tasks"></i>
                      <span>Settings</span>
                      <span class="arrow"></span>
                  </a>
                  <ul class="sub">
                      <li><a href="##LBL_ADMIN_SITE_URL##setting/listing"{if $smarty.request.page == 'setting' && $smarty.request.choice =='listing'}class="current"{/if}>Config</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##setting/msgList"{if $smarty.request.page == 'setting' && $smarty.request.choice =='msgList'}class="current"{/if}>Message</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##setting/jsMsgList"{if $smarty.request.page == 'setting' && $smarty.request.choice =='jsMsgList'}class="current"{/if}>JS Message</a></li>
                      {if $smarty.session.id_developer}
                      <li><a href="##LBL_ADMIN_SITE_URL##module/formModule"{if $smarty.request.page == 'module' && $smarty.request.choice =='formModule'}class="current"{/if}>Module</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##dutil/show_db"{if $smarty.request.page == 'dutil' && $smarty.request.choice =='show_db'}class="current"{/if}>Database Dump</a></li>
                      <li><a href="##LBL_ADMIN_SITE_URL##dutil/checkList"{if $smarty.request.page == 'dutil' && $smarty.request.choice =='checkList'}class="current"{/if}>Checklist</a></li>
                      {/if}
                  </ul>
              </li>
              <li class="sub-menu">
                  <a href="##LBL_SITE_URL##" target="_blank" class="">
                      <i class="icon-th"></i>
                      <span>Go to User Site &gt;&gt;</span>
                      <span class="arrow"></span>
                  </a>

              </li>
              <li class="sub-menu">
                  <a href="javascript:;" class="">
                      <i class="icon-fire"></i>
                      <span>Icons</span>
                      <span class="arrow"></span>
                  </a>
                  <ul class="sub">
                      <li><a class="" href="font_awesome.html">Font Awesome</a></li>
                      <li><a class="" href="glyphicons.html">Glyphicons</a></li>
                  </ul>
              </li>


              <li>
                  <a class="" href="##LBL_ADMIN_SITE_URL##">
                    <i class="icon-user"></i>
                    <span>Login Page</span>
                  </a>
              </li>
          </ul>
</div>
      </div>
</div>

{literal}
<script type="text/javascript">
	$(document).ready(function(){
//		$('ul#menu li.openul').hover(function(){
//			jQuery(this).find('> ul').stop(true, true).slideDown(300).css('width','150px');
//		},function(){
//			$(this).find('ul').slideUp(300);
//		});
        //    sidebar dropdown menu

    jQuery('#sidebar .sub-menu > a').click(function () {
        var last = jQuery('.sub-menu.open', $('#sidebar'));
        last.removeClass("open");
        jQuery('.arrow', last).removeClass("open");
        jQuery('.sub', last).slideUp(200);
        var sub = jQuery(this).next();
        if (sub.is(":visible")) {
            jQuery('.arrow', jQuery(this)).removeClass("open");
            jQuery(this).parent().removeClass("open");
            sub.slideUp(200);
        } else {
            jQuery('.arrow', jQuery(this)).addClass("open");
            jQuery(this).parent().addClass("open");
            sub.slideDown(200);
        }
        var o = ($(this).offset());
        diff = 200 - o.top;
        if(diff>0)
            $(".sidebar-scroll").scrollTo("-="+Math.abs(diff),500);
        else
            $(".sidebar-scroll").scrollTo("+="+Math.abs(diff),500);
    });

//    sidebar toggle
        
       $('.icon-reorder').click(function () {
if ($('#sidebar > ul').is(":visible") === true) {
$('#main-content').css({
    'margin-left': '0px'
});
$('#sidebar').css({
    'margin-left': '-180px'
});
$('#sidebar > ul').hide();
$("#container").addClass("sidebar-closed");
} else 
{
$('#main-content').css({
    'margin-left': '180px'
});
$('#sidebar > ul').show();
$('#sidebar').css({
    'margin-left': '0'
});
    $("#container").removeClass("sidebar-closed");
}
}); 
        
        
	});
</script>
{/literal}