346
a:4:{s:8:"template";a:1:{s:29:"admin/attribute/home.tpl.html";b:1;}s:9:"timestamp";i:1491290357;s:7:"expires";i:1491292357;s:13:"cache_serials";a:1:{s:146:"/var/www/vhosts/gourab.afixiindia.com/flexytiny_new/flexymvc/../var/gourab.afixiindia.com/templates_admin_c//^%%C8^C80^C80FFD6F%%home.tpl.html.inc";s:32:"f143439edd0646dbf66b01b1468254fe";}}
<!-- Template: admin/attribute/add.tpl.html Start 04/04/2017 12:49:17 --> 
 
<script type="text/javascript" src="http://gourab.afixiindia.com/flexytiny_new/templates/flexyjs/jquery.multiautocomplete.js"></script>
<link rel="stylesheet" type="text/css" href="http://gourab.afixiindia.com/flexytiny_new/templates/css_theme/multiautocomplete.css" />
<script type="text/javascript">
	
    function validateAttribute() {
	var validator=$("#adminaddattribute").validate({
	    rules: {
		"attribute[attribute_name]": {
		    required:true
		 },
		"attribute[entry_type]":{
		    required: true
		 },
		"attribute[search_type]": {
		    required:true
		 },
		"attribute[attribute_values]": {
		    required:true
		 },
//		"attribute[dropdown_values]": {
//		    required:true
//		 },
		"attribute[datatype]": {
		    required:true
		 },
		"attribute[text_values]": {
		    required:true
		 },
		"attribute[attribute_label]": {
		    required:true
		 },
		"attribute[optype]": {
		    required:true
		 },
//		"attribute[id_course]":{
//		    required:true
//		 }
	     },
	    messages: {
		"attribute[attribute_name]":{
		    required:flexymsg.required
		 },
		"attribute[entry_type]":{
		    required:flexymsg.required
		 },
		"attribute[search_type]": {
		    required:flexymsg.required
		 },
		"attribute[attribute_values]": {
		    required:flexymsg.required
		 },
//		"attribute[dropdown_values]": {
//		    required:flexymsg.required
//		 },
		"attribute[datatype]": {
		    required:flexymsg.required
		 },
		"attribute[text_values]": {
		    required:flexymsg.required
		 },
		"attribute[attribute_label]": {
		    required:flexymsg.required
		 },
		"attribute[optype]": {
		    required:flexymsg.required
		 },
//		"attribute[id_course]": {
//		    required:flexymsg.required
//		 }
	     }
	 });
//	var courseSelected = true;
//	if($('#boardRadio').attr("checked") || $('#univRadio').attr("checked") || $('#otherRadio').attr("checked")){
//	   if($('#course_name').val()){
//	       courseSelected = true;
//	    }else{
//	       $('#errCourse').html("<font color='red'>This field is required.</font>");
//	       courseSelected = false;
//	    }
//	 }
//	if(courseSelected){
//	    return validator.form();
//	 }else{
//	    return false;
//	 }
var x = validator.form();
var y = $("#attribute_error_name").text().length;
if (x && !y) {
$('#sbmt').attr("disabled",true);
return x;
 } else {
$('#sbmt').removeAttr("disabled");
return false;
 }
     }
    
    function hideCourseErrMsg(){
	$('#errCourse').html("");
     }
    function hideValueErrMsg(){
	$('#errValue').html("");
     }
	
    function callbackFun(response) {
	if(response=='no'){
	    $('#attribute_error_code').html('This code already exist.Choose another one');
	    $('#code_attribute').val('').focus();
	 }else if(response=='noname'){
	    $('#attribute_error_name').html('This code already exist.Choose another one');
	    $('#name_attribute').val('').focus();
	 }else{
	    var id_attribute = $('#id_attribute').val();
	    var mess = "";
	    if(id_attribute){
		 mess = "Attribute updated successfully";
	     }else{
		 mess = "Attribute added successfully";	
	     }
	    $.fancybox.close();
	    messageShow(mess);
	    $('#attribute_listing').html(response);
	    css_even_odd();
	 }
     }
	
    function convertMe(obj){
	var cval=obj.value;
	var pattern=/[-\s]/g;
	var nval=cval.replace(pattern,"");
	nval = nval.toLowerCase();
	chkNameCodeExit('name', nval, 'code_attribute');
     }

    var code1,kc,cc;
    function chkSpecialChars(e) {
	code1 = e.which;
	if(!code1){
	    code1=e.keyCode;
	 }
	kc=e.keyCode;
	cc=e.charCode;
	if(kc==8 && cc==0){//For Backspace
	    return true;
	 }else if(kc==46 && cc==0){//For Delete
	    return true;
	 }else if(kc==36 && cc==0){//For Home
	    return true;
	 }else if(kc==35 && cc==0){//For End
	    return true;
	 }else if(kc==39 && cc==0){//For Forward Key
	    return true;
	 }else if(kc==37 && cc==0){//For Backward Key
	    return true;
	 }else if(kc==9 && cc==0){//For Tab
	    return true;
	 }else if(kc==46 || cc==46){
	    return true;
	 }else if(kc==95 || cc==95){
	    return true;
	 }else if(kc==32 || cc==32){
	    return false;
	 }else if(97<=cc && cc<=122){
	    return true;
	 }else if(97<=kc && kc<=122){
	    return true;
	 }else if(65<=cc && cc<=90){
	    return true;
	 }else if(65<=kc && kc<=90){
	    return true;
	 }else if(48<=cc && cc<=57){
	    return true;
	 }else if(48<=kc && kc<=57){
	    return true;
	 }else{
	    return false;
	 }	
     }
	
    function attributeExist(id_attribute){
        var attributename=$("#name_attribute").val();
        $.post(siteurl,{"page":"attribute","choice":"checkAttribute","attributename":attributename,'id_attribute':id_attribute,"ce":0 },function(res){
	   if(res){
		$('#attribute_error_name').html("<font color='red'>This attribute is already exist.</font>");
		$("#name_attribute").val('');
		$("#name_attribute").focus();
	     }else{
		$('#attribute_error_name').html('');
	     }
         });
     }

      function showEntryType(obj){
	var entryType = obj.options[obj.selectedIndex].text;
	if(entryType == "Radio" || entryType == "Checkbox"){
	   $('#txtfield').hide();
	   $('#boardfield').hide();
	   $('#boardRadio').removeAttr("checked");
	   $('#univRadio').removeAttr("checked");
	   $('#otherRadio').removeAttr("checked");
	   $('#valuefield').show();
	   $('#valuetext').attr("value","");
	   $('#optType').show();
	   $('#strictType').removeAttr("checked");
	   $('#allType').removeAttr("checked");
	   $.post(siteurl,{"page" : "attribute", "choice" : "showType","ce" : 0 },function(res){
		//alert(res);return;
		$('#searchtypetd').html(res);
	     });
	 }else if(entryType == "Dropdown"){
	    $('#txtfield').hide();
//	    $('#valuefield').hide();
	    $('#valuefield').show();
	    $('#optType').hide();
	    $('#strictType').removeAttr("checked");
	    $('#allType').removeAttr("checked");
	    $('#valuetext').attr("value","");
	    $('#boardfield').show();
	    $('#searchtypetd').html('<select name="attribute[search_type]" id="searchtype"><option value="'+$(obj).val()+'">'+entryType+'</option></select>');
	    
	 }else if(entryType == "Text"){
	    $('#valuefield').hide();
	    $('#boardfield').hide();
	    $('#boardRadio').removeAttr("checked");
	    $('#univRadio').removeAttr("checked");
	    $('#otherRadio').removeAttr("checked");
	    $('#optType').hide();
	    $('#strictType').removeAttr("checked");
	    $('#allType').removeAttr("checked");
	    $('#valuetext').attr("value","");
	    $('#txtfield').show();
	    var res = "";
	    if(!res){  
		$('#txt_dt_int').attr("checked","checked");
		$('#txt_dt_int_div').show();
		$('#txt_1').attr("checked","checked");
	     }
	    $('#searchtypetd').html('<select name="attribute[search_type]" id="searchtype"><option value="'+$(obj).val()+'">'+entryType+'</option></select>');
	    
	 }else{
	    $('#txtfield').hide();
	    $('#boardfield').hide();
	    $('#boardRadio').removeAttr("checked");
	    $('#univRadio').removeAttr("checked");
	    $('#otherRadio').removeAttr("checked");
	    $('#valuefield').hide();
	    $('#optType').hide();
	    $('#strictType').removeAttr("checked");
	    $('#allType').removeAttr("checked");
	    $('#valuetext').attr("value","");
	    $('#searchtypetd').html('<select name="attribute[search_type]" id="searchtype"><option value="'+$(obj).val()+'">'+entryType+'</option></select>');
	 }
     }   
     function showSearchType(obj){
	var searchType = obj.options[obj.selectedIndex].text;
	$('#entrytype').each(function(){
		$('option').each(function(){
		   if($(obj).val() == $(this).val()){
		       $(this).attr("selected", "selected");
		    } 
		 });
	     });
	if(searchType == "Radio" || searchType == "Checkbox"){
	   $('#txtfield').hide();
	   $('#valuefield').show();
	   $('#valuetext').attr("value","");
	   $('#optType').show();
	   $('#strictType').removeAttr("checked");
	   $('#allType').removeAttr("checked");
	   $('#boardfield').hide();
	   $('#boardRadio').removeAttr("checked");
	   $('#univRadio').removeAttr("checked");
	   $('#otherRadio').removeAttr("checked");
	 }else if(searchType == "Dropdown"){
	    $('#txtfield').hide();
//	    $('#valuefield').hide();
	    $('#valuefield').show();
	    $('#optType').hide();
	    $('#strictType').removeAttr("checked");
	    $('#allType').removeAttr("checked");
	    $('#valuetext').attr("value","");
	    $('#boardfield').show();	    
	 }else if(searchType == "Text"){
	    $('#boardfield').hide();
	    $('#boardRadio').removeAttr("checked");
	    $('#univRadio').removeAttr("checked");
	    $('#otherRadio').removeAttr("checked");
	    $('#valuefield').hide();
	    $('#optType').hide();
	    $('#strictType').removeAttr("checked");
	    $('#allType').removeAttr("checked");
	    $('#valuetext').attr("value","");
	    $('#txtfield').show();
	    var res = "";
	    if(!res){
		$('#txt_dt_int').attr("checked","checked");
		$('#txt_dt_int_div').show();
		$('#txt_1').attr("checked","checked");
	     }
	 }else{
	   $('#txtfield').hide();
	   $('#valuefield').hide();
	   $('#optType').hide();
	   $('#strictType').removeAttr("checked");
	   $('#allType').removeAttr("checked");
	   $('#valuetext').attr("value","");	   
	   $('#boardfield').hide();
	   $('#boardRadio').removeAttr("checked");
	   $('#univRadio').removeAttr("checked");
	   $('#otherRadio').removeAttr("checked");
	 }
     }
    
    function ckeckname(id){
        var name=$("#name_attribute").val();
        $.post(siteurl,{'page':'attribute','choice':'unique_name','id':id,'name':name,'ce':0 },function(res){//alert(res);//return false;
        if(res==1){
           $("#attribute_error_name").html("");
         }else{
           $("#attribute_error_name").html("This name is already exists.");
           }
         });  
     }

    function checkPattern(){
	var pattern=/(\s+)?\,+(\s+)?/g;
	var string = $('#valuetext').val();
	var nval=string.replace(pattern,",");
	$('#valuetext').attr("value",nval);
     }
    $(document).ready(function() {
	    var courses = $('#course_name').val();
	    var url = siteurl + 'attribute/autoSearchkey/course/'+encodeURIComponent(courses)+'/ce/0/';
	   // var url = siteurl + 'attribute/autoSearchkey/ce/0/';
	    $("#course_name").autocomplete({json_url:url,width:"200px",cache:false,json_cache:false,delay:0.2,firstselected:true });
	
	
	    var pname   = $('#attribute_name').val();
	    var etype = $('#entrytype').val();
	    var stype = $('#searchtype').val();
	    $('#pname').attr("value", pname);
	    $('#etype').attr("value",etype);
	    $('#stype').attr("value",stype);
//	    $('#otherRadio').click(function(){
//		$('#valuefield').show();
//	     });
//	    $('#boardRadio').click(function(){
//		$('#valuefield').hide();
//		$('#valuetext').attr("value","");
//	     });
//	    $('#univRadio').click(function(){
//		$('#valuefield').hide();
//		$('#valuetext').attr("value","");
//	     });
     });
</script> 
<style>
    label.error	{
	color:#FF0000;
	font-size:15px;
     }
	.listing_tbl tr td input[type="text"]{width:96%; }
	.listing_tbl tr td select{width:100%; }
	.holder{width:96% !important; }
	.facebook-auto{width:65.5% !important;overflow: none !important; }
	.facebook-auto ul{width:100% !important; }
	#searchtypetd table{margin:0px !important; }
	#searchtypetd table tr td{padding:0px !important; }
</style>

<!--by gayatree-->
<div id="dv2">
  <div style="width:500px;">
     <div class="headprt settheme">
            <div class="mdl">
                <span>Add Attribute</span>
            </div>
        </div>
    <div class="bodyprt">
      <form action="http://gourab.afixiindia.com/flexytiny_new/flexyadmin/attribute/insertAttribute/ce/0" name="adminaddattribute" id="adminaddattribute" method="post" onsubmit="return AsyncUpload.submitForm(this, validateAttribute, callbackFun);">
                <!--<form action="http://gourab.afixiindia.com/flexytiny_new/flexyadmin/attribute/insertAttribute/ce/0" name="adminaddattribute" id="adminaddattribute" method="post" onsubmit="return validateAttribute();">-->
                <input type="hidden" name="id_user" value="1" /> 
                <input type="hidden" name="qstart" value="0" />   
                <input type="hidden" name="pname" id="pname" value="" />
                <input type="hidden" name="ctype" id="ctype" value="" />
                <input type="hidden" name="stype" id="stype" value="" />
                <input type="hidden" id="referer" name='referer' value="" />
                <input type="hidden" name="id_attribute" id="id_attribute" value="" />
                <table border="0" class="formtbl">
                    <tr>
                        <td>Name :</td>
                        <td align="left">
                            <input type="text" class="txt" name="attribute[attribute_name]" id="name_attribute" onblur="ckeckname('');" value="" /><!-- onblur="attributeExist('');" -->
                               <br/>
                            <span id='attribute_error_name' style=" color: red"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Entry Type :</td>
                        <td>
                            <select name="attribute[entry_type]" id="entrytype" onchange="showEntryType(this);" >
                            <option value="">--Select--</option>
                            <option label="Radio" value="2">Radio</option>
<option label="Checkbox" value="3">Checkbox</option>
<option label="Calender_widget" value="4">Calender_widget</option>
<option label="Dropdown" value="5">Dropdown</option>
<option label="Text" value="1">Text</option>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Search Type :</td>
                        <td id="searchtypetd" style="vertical-align:top;">
                            <select name="attribute[search_type]" id="searchtype" onchange="showSearchType(this);">
                            <option value="">--Select--</option>
                            <option label="Radio" value="2">Radio</option>
<option label="Checkbox" value="3">Checkbox</option>
<option label="Calender_widget" value="4">Calender_widget</option>
<option label="Dropdown" value="5">Dropdown</option>
<option label="Text" value="1">Text</option>

                            </select>
                        </td>
                    </tr>
		     <tr id="txtfield" style="display:none;">
                        <td>Type :</td>
			 <td>
			     <div>
				<input type="radio" name="attribute[datatype]" id="txt_dt_int" value="1" onclick="$('#txt_dt_int_div').show();" />Integer
				<input type="radio" name="attribute[datatype]" id="txt_dt_str" value="2" onclick="$('#txt_dt_int_div').hide();" />String
				<br/>
				<label style="display:none;" class="error" generated="true" for="attribute[datatype]">This field  required</label>
				<br/>
			    </div>
			     <div id="txt_dt_int_div"style="display:none;">
								<br>
				<label style="display: none;" class="error" generated="true" for="attribute[text_values]">This field is required</label>
			    </div>
                        </td>
                    </tr>
                    <tr id="boardfield" style="display:none;">
                        <td colspan="2"><input type="hidden" id="otherRadio" name="attribute[dropdown_values]" value="" /></td>
                    </tr>
                    <tr id="valuefield" style="display:none;">
                        <td>Value :</td>
                        <td align="left"><input type="text" id="valuetext" name="attribute[attribute_label]" value="" onblur="checkPattern();" onkeypress="hideValueErrMsg()"/>
                        <br><i>Note : Multiple values can be entered in comma(,) separated only.</i>
                        <br /><span id="errValue" class="error"></span>
                        </td>
                    </tr>
		    <tr id="optType" style="display:none;">
                        <td>Match Type :</td>
                        <td>
			    <input type="radio" id="strictType" name="attribute[optype]" value="" checked="checked"/>Strict  <!---->
                            <input type="radio" id="allType" name="attribute[optype]" value="" checked="checked"/>All	    <!---->
			    <br><label style="display: inline;" class="error" generated="true" for="attribute[optype]"></label>
			</td>
                    </tr>
<!--                    <tr>
                        <td>Courses :</td>
                        <td align="left">
                            <select name="attribute[id_course]" multiple="multiple" id="course_name" onchange="hideCourseErrMsg()">
                                                        </select>
                            <br /><span id="errCourse" class="error"></span>
                        </td>
                    </tr>-->
 <tr>
                      <td></td>    
                           <td>
                           	<table>
                            	<tr>
                                	<td><div class="settheme fltlft"><input type="submit" class="login_btn buton" id="sbmt" name="submit" value="Add"/></div></td>
                                    <td><div class="settheme fltlft"><input type="button" class="login_btn buton" name="cancel" value="Cancel" onclick="$.fancybox.close();" /></div></td>
                                </tr>
                            </table>
                           
                                
                           </td>
                      </tr>



<!--                    <tr>
                        <td>&nbsp;</td>
                        <td class="padd_tp">
                            <input type="submit" class="login_btn" name="submit" value="Add"/>
                            <input type="button" class="login_btn" name="cancel" value="Cancel" onclick="$.fancybox.close();" />
                        </td>
                    </tr>-->
                </table>
                </form>
    </div>
  </div>
</div>
<!--by gayatree-->






<!--<div id="dv2">    
    <div class="smler_box">
	<div class="top"></div>
	<div class="mdl">
	    <div class="cont_hdr1 fltlft">
            <div class="cont_hdr_lft fltlft"></div>
            <div class="cont_hdr_mdl1 fltlft" align="left">Add Attribute</div>
            <div class="cont_hdr_rht fltlft"></div>
            <div class="clear"></div>
	    </div>
	    <div class="clear"></div>
	    <center>
            <div class="txtbg_top_smler"></div>
            <div class="txtbg_mdl_smler">
                <form action="http://gourab.afixiindia.com/flexytiny_new/flexyadmin/attribute/insertAttribute/ce/0" name="adminaddattribute" id="adminaddattribute" method="post" onsubmit="return AsyncUpload.submitForm(this, validateAttribute, callbackFun);">
                <form action="http://gourab.afixiindia.com/flexytiny_new/flexyadmin/attribute/insertAttribute/ce/0" name="adminaddattribute" id="adminaddattribute" method="post" onsubmit="return validateAttribute();">
                <input type="hidden" name="id_user" value="1" /> 
                <input type="hidden" name="qstart" value="0" />   
                <input type="hidden" name="pname" id="pname" value="" />
                <input type="hidden" name="ctype" id="ctype" value="" />
                <input type="hidden" name="stype" id="stype" value="" />
                <input type="hidden" id="referer" name='referer' value="" />
                <input type="hidden" name="id_attribute" id="id_attribute" value="" />
                <table border="0" width="92%" align="center" class="listing_tbl">
                    <tr>
                        <td width="23%">Name :</td>
                        <td align="left">
                            <input type="text" class="txt" name="attribute[attribute_name]" id="name_attribute" value="" /> onblur="attributeExist('');" 
                               <br/>
                            <span id='attribute_error_name'></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Entry Type :</td>
                        <td>
                            <select name="attribute[entry_type]" id="entrytype" onchange="showEntryType(this);" >
                            <option value="">--Select--</option>
                            <option label="Radio" value="2">Radio</option>
<option label="Checkbox" value="3">Checkbox</option>
<option label="Calender_widget" value="4">Calender_widget</option>
<option label="Dropdown" value="5">Dropdown</option>
<option label="Text" value="1">Text</option>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Search Type :</td>
                        <td id="searchtypetd" style="vertical-align:top;">
                            <select name="attribute[search_type]" id="searchtype" onchange="showSearchType(this);">
                            <option value="">--Select--</option>
                            <option label="Radio" value="2">Radio</option>
<option label="Checkbox" value="3">Checkbox</option>
<option label="Calender_widget" value="4">Calender_widget</option>
<option label="Dropdown" value="5">Dropdown</option>
<option label="Text" value="1">Text</option>

                            </select>
                        </td>
                    </tr>
		     <tr id="txtfield" style="display:none;">
                        <td>Type :</td>
			 <td>
			     <div>
				<input type="radio" name="attribute[datatype]" id="txt_dt_int" value="1" onclick="$('#txt_dt_int_div').show();" />Integer
				<input type="radio" name="attribute[datatype]" id="txt_dt_str" value="2" onclick="$('#txt_dt_int_div').hide();" />String
				<br/>
				<label style="display:none;" class="error" generated="true" for="attribute[datatype]">This field  required</label>
				<br/>
			    </div>
			     <div id="txt_dt_int_div"style="display:none;">
								<br>
				<label style="display: none;" class="error" generated="true" for="attribute[text_values]">This field is required</label>
			    </div>
                        </td>
                    </tr>
                    <tr id="boardfield" style="display:none;">
                        <td colspan="2"><input type="hidden" id="otherRadio" name="attribute[dropdown_values]" value="" /></td>
                    </tr>
                    <tr id="valuefield" style="display:none;">
                        <td>Value :</td>
                        <td align="left"><input type="text" id="valuetext" name="attribute[attribute_label]" value="" onblur="checkPattern();" onkeypress="hideValueErrMsg()"/>
                        <br><i>Note : Multiple values can be entered in comma(,) separated only.</i>
                        <br /><span id="errValue" class="error"></span>
                        </td>
                    </tr>
		    <tr id="optType" style="display:none;">
                        <td>Match Type :</td>
                        <td>
			    <input type="radio" id="strictType" name="attribute[optype]" value="" checked="checked"/>Strict  
                            <input type="radio" id="allType" name="attribute[optype]" value="" checked="checked"/>All	    
			    <br><label style="display: inline;" class="error" generated="true" for="attribute[optype]"></label>
			</td>
                    </tr>
                    <tr>
                        <td>Courses :</td>
                        <td align="left">
                            <select name="attribute[id_course]" multiple="multiple" id="course_name" onchange="hideCourseErrMsg()">
                                                        </select>
                            <br /><span id="errCourse" class="error"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td class="padd_tp">
                            <input type="submit" class="login_btn" name="submit" value="Add"/>
                            <input type="button" class="login_btn" name="cancel" value="Cancel" onclick="$.fancybox.close();" />
                        </td>
                    </tr>
                </table>
                </form>	 
            </div>
            <div class="txtbg_btm_smler"></div>
	    </center>
	</div>
    <div class="btm"></div>
    </div>
</div>-->
<!-- Template: admin/attribute/add.tpl.html End --> 