{literal}
<script>
  (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-103810194-1', 'auto');
    ga('send', 'pageview');

</script>
{/literal}
{assign var=login_type value=$util->get_values_from_config('LOGIN')}
{assign var=facebook value=$util->get_values_from_config('FACEBOOK')}
<div id="header" class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
<div class="container-fluid">
  <div class="fltlft">
                <a href="##LBL_SITE_URL##" class="userlogotxt user_log">WELCOME </a>
            </div>
  <div class="fltrht" style="margin-top:15px; font-weight:bold;">
				{if !$smarty.session.id_user}
                {if $login_type.type == 1}
				<a href="javascript:void(0);" onclick="ajaxLogin();">Log in</a>&nbsp;|&nbsp;
                {else}
				<a class="user_log" href="##LBL_SITE_URL##loginForm">Log in</a>&nbsp;|&nbsp;
                {/if}
                {if $login_type.register == 1}
				<a href="javascript:void(0);" onclick="ajaxRegister();">Register</a>
                {else}
				<a class="user_log" href="##LBL_SITE_URL##register">Register</a>
                {/if}
				{else}
				<a style="color:#fff;">Welcome {$smarty.session.username|ucFirst}</a> |
				<a style="color:#fff;" href ="{if $smarty.session.fconnect_flag || $smarty.session.linkedin_flag}javascript:void(0);{else}##LBL_SITE_URL##user/logout{/if}" {if $smarty.session.fconnect_flag}onclick="logout_fb();"{else if $smarty.session.linkedin_flag}onclick="logout_linkedin();"{/if}>Logout</a>
				{/if}
            </div>
            <div class="clear"></div>
  
  </div>
  </div>
  </div>







<!--<div class="gradient">
	<div class="header">
		<div class="wid80 mrgtopbtm0 center">-->
<!--            <div class="fltlft">
                <a href="##LBL_SITE_URL##" class="userlogotxt">FLEXYMVC TINY </a>
            </div>-->
<!--            <div class="fltrht" style="margin-top:15px;">
				{if !$smarty.session.id_user}
                {if $login_type.type == 1}
				<a href="javascript:void(0);" onclick="ajaxLogin();">Log in</a>&nbsp;|&nbsp;
                {else}
				<a href="##LBL_SITE_URL##loginForm">Log in</a>&nbsp;|&nbsp;
                {/if}
                {if $login_type.register == 1}
				<a href="javascript:void(0);" onclick="ajaxRegister();">Register</a>
                {else}
				<a href="##LBL_SITE_URL##register">Register</a>
                {/if}
				{else}
				<a>Welcome {$smarty.session.username|ucFirst}</a> |
				<a href ="{if $smarty.session.fconnect_flag || $smarty.session.linkedin_flag}javascript:void(0);{else}##LBL_SITE_URL##user/logout{/if}" {if $smarty.session.fconnect_flag}onclick="logout_fb();"{else if $smarty.session.linkedin_flag}onclick="logout_linkedin();"{/if}>Logout</a>
				{/if}
            </div>
            <div class="clear"></div>-->
<!--        </div>
    </div>
</div>-->