<!-- messages set by all modules shown here -->

<!-- Done by manab-->
{assign var=type_display value=$util->get_values_from_config('MESSAGE_DISPLAY')}

	{if $type_display.type == 1}     
	<script type="text/javascript" src="##FLEXY_JS_PATH##jquery.ui.notification.js"></script>
	<link rel="stylesheet" type="text/css" href="##CSS_PATH##jquery.ui.notification.css"/>
	{elseif $type_display.type == 2}
	 <script type="text/javascript" src="##FLEXY_JS_PATH##jquery.notice.js"></script>
	 <link rel="stylesheet" type="text/css" href="##CSS_PATH##jquery.notice.css">
	{elseif $type_display.type == 3}
	 <script type="text/javascript" src="##FLEXY_JS_PATH##sNotify.js"></script>
	 <link rel="stylesheet" type="text/css" href="##CSS_PATH##sNotify.css"/>
	{/if}
<!--end-->

{*nofilter file="debug" *}
{*$module*}
{*if $smarty.session.raise_message.$module*}
    <div class="alert" id="raise" align="center">{*$smarty.session.raise_message.$module*}</div>
{*/if*}
{if $sm.message}
{section name=cur_msg loop=$sm.message}
     <div class="alert" align="center">{$sm.message[cur_msg]}</div>
{sectionelse}
     <div class="alert" align="center">{$sm.message}</div>
{/section}
{/if}
{* $smarty.session.ip_count *}

<!---  Done by manab --->
{literal}
<script type="text/javascript">
$(document).ready(function(){
 //ui-notification-container
 var msg_display="{/literal}{$smarty.session.raise_message.$module}{literal}";
  messageShow(msg_display);
});
function messageShow(msg_display){
   if(msg_display){
	var msgDisplay='<font color="red">'+msg_display+'</font>';
   if(!$("div").is("#raise")){
	var prepend=1;
	var css='';
	{/literal}
	  {assign var=type_display value=$util->get_values_from_config('MESSAGE_DISPLAY')}
	  {if $type_display.type == 1}
	   css='<link rel="stylesheet" type="text/css" href="##JS_UI_PATH_EXT##1.8.16/jquery-ui-1.8.16.custom.css"/><link rel="stylesheet" type="text/css" href="##CSS_PATH##jquery.ui.notification.css"/>';
	  {elseif $type_display.type == 2}
	   css='<link rel="stylesheet" type="text/css" href="##CSS_PATH##jquery.notice.css">';
	  {elseif $type_display.type == 3} 
	   css='<link rel="stylesheet" type="text/css" href="##CSS_PATH##sNotify.css"/>';
	{/if}
	{literal}
	$('head').append(css);
	$('<div class="alert" id="raise"  align="center"></div>').appendTo('body');
   }
   $('#raise').show();	 
   if('{/literal}{$type_display.type}{literal}' == 1){
	$('#raise').attr('class','ui-notification-container');
	 $(".ui-notification-container").notification();
		   // bind creation of notification to button
			   $(".ui-notification-container").notification("create", {
				   title: msgDisplay,
				   content: " "
			   },{
				show: {
					effect: 'bounce',
					options: {},
					speed: 250,
					callback: function(){}
				},
				hide: {
					effect: 'clip',
					options: {},
					speed: 250,
					callback: function(){}
				}
			   });
	  return false;
   }else if('{/literal}{$type_display.type}{literal}' == 2){
	jQuery.noticeAdd({
	   text: msgDisplay,
	   stay: false
	});
   }else if('{/literal}{$type_display.type}{literal}' == 3){
	 sNotify.addToQueue(msgDisplay);
   }else{
		$('#raise').html(msgDisplay).css({'position':'fixed','top':'120px','left':'450px','zIndex':'10055','background-color': 'white','padding': '10px 10px 10px 10px','border': '1px solid #000'}).show('slow');
		setTimeout("hide_message('raise')",5000);
	 //$('#raise').html(msg_display);
   }
   if(prepend == 1){
	 $('<link rel="stylesheet" type="text/css" href="##CSS_PATH##sNotify.css"/>').remove('head');
	 $(css).remove('body');
   }
 }
}
function hide_message(id){
	$('#'+id).hide('slow');
}
</script>
{/literal}
<!-- END -->