{if $smarty.request.page=='' && $smarty.request.choice==''}
    <link rel="canonical" href="##LBL_SITE_URL##" />
    <title>::. FLEXYMVC TINY : User Site .::</title>
    <meta name="description" content="This is a flexymvc site">
    <meta name="keywords" content="key1,key2,key3">
{elseif $smarty.request.page=='cms' && $smarty.request.choice=='show'}
    {assign var=tourcode value=$smarty.request.code}
    {assign var="tourdata" value=$util->search_from_db_code('content','cmscode',$tourcode)}
	<link rel="canonical" href="##LBL_SITE_URL##{$smarty.request.cmscode}/{$tourdata.0.cmscode}.php" />
    <title>{$tourdata.0.title}</title>
    <meta name="description" content="{$tourdata.0.meta_description}">
    <meta name="keywords" content="{$tourdata.0.meta_keywords}">
{/if}