{assign var=ltype value=$util->get_values_from_config('LANGUAGE')}
{assign var=mul_lang value=$util->get_values_from_config('MULTI_LANG')}
{assign var=mul_lang_rev value=$util->get_values_from_config_reverse('LANGUAGE')}
{literal}
<style type="text/css">
	span#name_msg{
		font-weight:normal;
	}
	.formtbl td input[type="text"]{
		width:90%;
	}
</style>
<script type="text/javascript" language="javascript">
	var uri;
	function getPermalink(){
		var tname	= $('#tname').val();
		var permcode	= $('#permcode').val();
		var id_content	= $('#id_content').val() ? $('#id_content').val() : 0;
		var ln		= ($('#multi_lan').val() != 0) ? $('#language').val()+"/" : "";

		if(tname){
			if(permcode){
				$.post(siteurl,{"page":"cms","choice":"getPermalink","permcode":permcode,"id_content":id_content,ce:0},function(res){
					if(res == 1){
						$('#name_msg').html('<font color="red">Duplicate Permcode.Please enter another one</font>');
						$('#permcode').val('').focus();
						return false;
					}else{
						$('#permalink').html('##LBL_SITE_URL##'+ln+$.trim(res)+'.html');
						$('#con_name').val(tname);
						$('#con_cmscode').val(res);
						$('#name_msg').html('');
					}
				});
			}else{
				//messageShow("Please enter Permcode");
				$('#name_msg').html('<font color="red">Please enter Permcode</font>');
				$('#permcode').focus();
				return false;
			}
		}else{
			//messageShow("Please enter Name");
			$('#name_msg').html('<font color="red">Please enter Name</font>');
			$('#tname').focus();
			return false;
		}
	}

	function getCode(){
		var tname	= $('#tname').val();
		var permcode	= $('#permcode').val();
		var cmscat	= $('#cmscat').val();
                var tlink       = $('#targetlink').val();
                var code        =$('#opcode').val();
		permcode=permcode?permcode:tname;
		//  var ln		= ($('#multi_lan').val() != 0) ? $('#language').val()+"/" : "";
		var ln  =  $('#language').val()+"/" ;
		if(permcode){
		    var fnllink=convertToCodeArticle(permcode);
				$('#permalink').html('##LBL_SITE_URL##'+cmscat+"/"+fnllink+'.php');
				$('#con_name').val(tname);
				$('#permcode').val(fnllink);
				$('#cmscategory').val(cmscat);
				$('#con_cmscode').val(fnllink);
				$('#con_targetlink').val(tlink);
				$('#con_code').val(code);
				$('#name_msg').html('');
				if(tname && permcode && cmscat && tlink && code){
				    var id_cnt=$("#id_content").val();
		    $.post(siteurl,{"page":"cms","choice":"getCodeexist","tname":tname,"permcode":fnllink,"cmscat":cmscat,"tlink":tlink,"code":code,ce:0,"id_cnt":id_cnt},function(res){
			if(res==1){
			    $("#checklinkunique").html('');
			}else{
			$("#checklinkunique").html('<font color="red">This link is already exist</font>');
		    }
		    });
		}
		}
	}
        
        function convertToCodeArticle(strval){
//	var strval=$("#v_title").val();
	var p1 = /['’.]+/g;
	var nval1=strval.replace(p1,"");
	var str = '';
	for(var i=0;i<nval1.length;i++)
	    str += convertExtendedAsciiCharArticle(nval1[i]);
	var pattern=/[^\&\w\d]+|[\s]+/g;
	var nval=str.replace(pattern,"-").toLowerCase();
	pattern = /-$|^-/g;
	var finl = nval.replace(pattern,"");
	return finl;
//	$('#article_code').val(finl);
    }
    /*
     * convert all spanish letter to us US keyboard letter.
     */
    function convertExtendedAsciiCharArticle(str){
	str = str.replace(/[ÀÁÂÃÄÅÆàáâãäåæ]+/g, 'a');
	str = str.replace(/[öÒÓÔÕÖðòóôõö]+/g, 'o');
        str = str.replace(/[ç]+/g, 'c');
        str = str.replace(/[şŠš]+/g, 's');
        str = str.replace(/[ı¡]+/g, 'i');
        str = str.replace(/[ğ]+/g, 'g');
        str = str.replace(/[üÙÚÛÜùúûü]+/g, 'u'); 
	str = str.replace(/[ýÿŸ¥]+/g, 'y');
	str = str.replace(/[ž]+/g, 'z');
	str = str.replace(/[€Œ]+/g, 'e');
	str = str.replace(/[µ]+/g, 'e');
	return str;
    }

	function close_win(){
		var qstr    = String(window.location);
		var myqstr  = qstr.substr(qstr.indexOf("?") + 1); // This part is for showing listing based on searching.
		var url	    = siteurl + "cms/listing/";
		if(qstr.indexOf("?") != -1){
			url += "?" + myqstr;
		}
		window.location.href = url;
	}

	function getcontent(){
		var langVal	= $("#langVal").val();
		var id= $("#id_cms").val();
		var cms_code	= $('#con_cmscode').val();
		var tname	= $('#tname').val();
		if(tname && langVal){
			$.post(siteurl,{"page":"cms","choice":"add",ce:0,"chk":1,"language": langVal,"code": cms_code,"tname":tname},function(res){
				$("#multilang").html(res);
				if($('#con_cmscode').val()){
					var cms_code =  ('#con_cmscode').val();
				}
				$('#permalink').html('##LBL_SITE_URL##'+langVal+"/"+$.trim(cms_code)+'.html');
			});
		}else{
			$("#langVal").val($("#language").val());
			$('#name_msg').html('<font color="red">Please mentioned name and permacode</font>');
			return false;
		}
	}
        
        
//	function validate_cms(){
//		var conname = $('#con_name').val();
//		var concode = $('#con_cmscode').val();
//		var cmscat = $('#cmscategory').val();
//                    var ln	    = $('#language').val();
//		if(conname && concode && cmscat){
//			var validator=$("#cms_en").validate({
//				rules: {
//					"cms[title]": {
//						required:true
//					}
//				},
//				messages: {
//					"cms[title]":{
//						required:"<br/>"+flexymsg.required
//					}
//				}
//			});
//			var x =validator.form();
//			var y=$("#checklinkunique").html().length;
//			if(x && !y){
//				var langVal	= $("#langVal").val();
//				var name= $('#tname').val();
//				var id_content	= ($('#id_cms').length) ?$('#id_cms').val(): "";
//				if(name){
////					$.post(siteurl,{"page":"cms","choice":"checkName","ce":0,"name":name,"language": langVal,"id_content":id_content},function(res){
////						if(res == '1'){
////							$('#multilanguagecms_error_name').html("<font color='red'>Duplicate Name.Please enter another one</font>");
////							return false;
////						}else{
//							$('#multilanguagecms_error_name').html('');
//							$('#tname').val();
//							if($('#id_cms').val()){
//								var uri = "##LBL_ADMIN_SITE_URL##cms/update";
//							}else{
//								var uri = "##LBL_ADMIN_SITE_URL##cms/insert";
//							}
//							document.cms_en.action = uri;
//							document.cms_en.submit();
//							return true;
////						}
////					});
//				}
//
//			}else{
//				return false;
//			}
//		}else{
//			//messageShow("Please enter Name and Permacode");
//			$('#name_msg').html('<font color="red">Please specify name,category and permacode</font>');
//			$('#tname').focus();
//			return false;
//		}
//	}

	function checkExists(){
		var name= $('#tname').val();
		var id_content	= ($('#id_cms').val() == undefined) ? "" : $('#id_cms').val() ;
		if(name){
			$.post(siteurl,{"page":"cms","choice":"checkName","ce":0,"name":name,"id_content":id_content},function(res){
				if(res == '1'){
					$('#multilanguagecms_error_name').html("<font color='red'>Duplicate Name.Please enter another one</font>");
					return false;
				}
				else{
					$('#multilanguagecms_error_name').html('');
					$('#tname').val();
					return true;
				}
			});
		}
	}
</script>
{/literal}
<div class="center">
  <div class="row-fluid">
                    <div class="span12">
                      <div class="widget red">
                        <div class="widget-title">
                               <span class="tools">
             <a href="javascript:;" class="icon-chevron-down"></a>
             <a href="javascript:;" class="icon-remove"></a>
         </span>
                               <h4><i class="icon-reorder"></i>{if $sm.cms.id_content}Edit{else}Add{/if} Contents</h4>
                            </div>
                        
	<div class="widget-body">

            <table width="100%" border="0" align="center" class="formtbl">
			<tr>
				<td width="15%">Name:</td>
				<td>
					<!--<input  type="text" id="tname" name="cms[tname]" size="30" value="{$sm.cms.name|escape}" onblur ="$('#con_name').val($('#tname').val());" />-->
					<input  type="text" id="tname" name="cms[tname]" size="30" value="{$sm.cms.name|escape}" onblur="getCode();" />
					<br/>
					<span id='multilanguagecms_error_name'></span>
				</td>
			</tr>
			<tr>
		    <td width="15%">Category:</td>
		    <td>
			<select id="cmscat" name="cmscategory" onchange="getCode();">
			     <option value="">--Select--</option>
			     {foreach from=$sm.cmscategory key=key item=item}
			     <option value="{$key}" {if $key==$sm.cms.cmscategory}selected{/if}>{$item}</option>
			     {/foreach}
			</select>
		    </td>
		</tr>
		<tr>
			<td>Permacode:</td>
			<td>
				<input type="text" id="permcode" name="permcode" size="90" value="{$sm.cms.cmscode}" onblur="getCode();" />
				<br /><span id="name_msg"></span>
			</td>
		</tr>
		<tr>
			<td>Permalink:</td>
			<td>
				<span id="permalink">{if $sm.cms.cmscode}##LBL_SITE_URL##{$sm.cms.cmscategory}/{$sm.cms.cmscode}.php{else}##LBL_SITE_URL##{/if}</span>
				<br><span id="checklinkunique"></span>
			</td>
		</tr>
                <tr>
			<td>Targetlink:</td>
			<td>
                            <input type="text" id="targetlink" name="targetlink" onblur="getCode();" value="{$sm.cms.targetlink}"/>
			</td>
		</tr>
                <tr>
			<td>code:</td>
			<td>
                            <!--<select name="code" id="code" onchange="getCode();">{html_options options=$sm.code values=$sm.code} </select>-->
                            <select name="opcode" id="opcode" onchange="getCode();"> <option value="">--Select--</option>
			     {foreach from=$sm.code key=key item=item}
			     <option value="{$key}" {if $key==$sm.cms.code}selected{/if}>{$item}</option>
			     {/foreach}
                            </select>
			</td>
		</tr>

		</table>
	</div>
                        </div>
                      </div>
    </div>
</div>
<br />
<div class="center">
	
			<div class="cont_txt" id="language_type">
				<div class="txtbg_mdl" id="multilang">
					{include file="admin/cms/add_form"}
				</div>
				<div class="txtbg_btm fltlft"></div>
				<div class="clrbth"></div>
			</div>
		</div>
	
<br /><br />
