{assign var=attribute_type value=$util->get_values_from_config(ATTRIBUTE_TYPE)}
{assign var=board_type value=$util->get_values_from_config(BOARD_TYPE)}
{literal}
<script>
     $(document).ready(function(){
	$('.p_dateFormat').datepicker({
	    dateFormat: "dd-mm-yy",
	    changeMonth:true,
	    changeYear:true,
	    yearRange: "-10:+5"
	});
     });
</script>
{/literal}
<table>
    <input type="hidden" value="{$sm.selectedAttributeRes.id}" name="idattr">
{foreach item=itemAttr key=keyAttr from=$sm.attributeList}
	<tr>
	    <td style="vertical-align: top;padding-top:4px;">
		{$itemAttr.attribute_name|capitalize:true} :
	    </td>
	    <td align="left" class="tbl_chk" style="min-width:150px;">
		{foreach item=itemAttrType key=keyAttrType from=$attribute_type}
		{assign var=ida value='c'|cat:$itemAttr.id_attribute}
		    {if $itemAttr.entry_type==$itemAttrType}
			{if $itemAttr.entry_type==$attribute_type.text || $itemAttr.entry_type==$attribute_type.calender_widget}<!--Checking field for text and date range -->
			    {assign var=attrType value=text}
			    <input type="{$attrType}" name="attrdata[c{$itemAttr.id_attribute}]" {if $itemAttr.entry_type==$attribute_type.calender_widget}class="p_dateFormat" readonly="readonly" id="dt_{$itemAttr.id_attribute}"{else}id="text_{$itemAttr.id_attribute}" {if $itemAttr.datatype eq 1} onclick="$('#digerr{$itemAttr.id_attribute}').html('');" onkeypress="return intonly(event,'digerr{$itemAttr.id_attribute}');"{/if} {/if} value="{if $sm.selectedAttributeRes.$ida}{if $itemAttr.entry_type==$attribute_type.calender_widget}{$sm.selectedAttributeRes.$ida|date_format:"%d-%m-%Y"}{else}{$sm.selectedAttributeRes.$ida}{/if}{/if}" />
				    <div class="mrgn_btm5"><span id="digerr{$itemAttr.id_attribute}" style="color:red;"></span></div>
			    {if $itemAttr.entry_type==$attribute_type.calender_widget}<!-- If a field is a datetype -->
				<input type="hidden" name="dt[c{$itemAttr.id_attribute}]" value="{$itemAttr.id_attribute}"/>
			    {/if}
			{elseif $itemAttr.entry_type==$attribute_type.dropdown}<!--Checking field for drop down -->
			    {assign var=clmnName value='c'|cat:$itemAttr.id_attribute}
			    
			    {if $itemAttr.dropdown_values==$board_type.university}
				{assign var=board_university value=$sm.university}
			    {elseif $itemAttr.dropdown_values==$board_type.board}
				{assign var=board_university value=$sm.board}
			    {else}
				{assign var=attrLabel value= ","|explode:$itemAttr.attribute_label}
				{assign var=attrValues value= ","|explode:$itemAttr.attribute_values}
			    {/if}
			    <select name="attrdata[c{$itemAttr.id_attribute}]" id="dropdown_{$item}" {if $itemAttr.dropdown_values==$board_type.university || $itemAttr.dropdown_values==$board_type.board} multiple="multiple" class="p_multiauto" {/if}>
				{if $itemAttr.dropdown_values==$board_type.other}
				<!-- getting other type values -->
				    <option value="">--Select--</option>
				    {html_options values=$attrValues|capitalize:true output=$attrLabel selected=$sm.selectedAttributeRes.$clmnName}
				{elseif $itemAttr.dropdown_values==$board_type.university || $itemAttr.dropdown_values==$board_type.board}
				    {*html_options options=$board_university|capitalize:true selected=$sm.selectedAttributeRes.$clmnName*}
				    <!-- getting university or board type values -->
				    {assign var=selBordUnivArr value= ","|explode:$sm.selectedAttributeRes.$clmnName}
				    {section name=i loop=$selBordUnivArr}
				    {assign var=d value=$selBordUnivArr[i]}	    
					{foreach key=key item=item from=$board_university}
					{if $key == $d}
					<option  selected="selected" value="{$d}">{$item}</option>
					{/if}
					{/foreach}
				    {/section}
				{/if}
			    </select>
			    <input type="hidden" id="boardType" value="{if $itemAttr.dropdown_values==$board_type.board}1{elseif $itemAttr.dropdown_values==$board_type.university}2{/if}" /><!--For board  1 ,university 2--><br />
			    <input type="hidden" name="boardOrUnivFlg_c{$itemAttr.id_attribute}" value="{if $itemAttr.dropdown_values==$board_type.university || $itemAttr.dropdown_values==$board_type.board}1{else}0{/if}" /><!--For board or University is 1 else 0--><br />
			{else}<!--Checking field for checkbox and radios -->
			    {assign var=attrLabel value= ","|explode:$itemAttr.attribute_label}
			    {assign var=attrValues value= ","|explode:$itemAttr.attribute_values}
			    {foreach item=item key=key from=$attrLabel}
				{assign var=clmnName value='c'|cat:$itemAttr.id_attribute}
				{assign var=attrType value=$keyAttrType}
				{bitwise var1=$attrValues[$key] var2=$sm.selectedAttributeRes.$clmnName opt='&' assign='bit'}
				<input type="{$attrType}" name="attrdata[c{$itemAttr.id_attribute}]{if $itemAttr.entry_type==$attribute_type.checkbox}[]{/if}" id="{if $itemAttr.entry_type==$attribute_type.radio}radio_{$item}{else}checkbox_{$item}{/if}" value="{$attrValues[$key]}" {if $bit neq 0}checked=checked{/if} />{$item|capitalize:true}<!--For checkbox and radio format--><br />
			    {/foreach}
			{/if}
		    {/if}
		{/foreach}
	    </td>
	</tr>
	{/foreach}
	</table>