{literal}
<!--<script type="text/javascript" src="##LIBSEXT_PATH##jquery/js/table_dnd.js"></script>
   <script type="text/javascript" src="##LIBSEXT_PATH##jquery/js/reorder.js"></script>-->
<script type="text/javascript">
	var code;
	function addredirecturl(qstart){
		$('#succ_msg').html('');
		$('#target').html('');
		$.fancybox.showActivity();
		$.post(siteurl,{"page" : "redirect", "choice" : "addredirecturl", "qstart" : qstart, "ce" : 0},function(res){
				show_fancybox(res);
		});
	}

	function editredirecturl(id,qstart){
		$.fancybox.showActivity();
		$.post(siteurl,{"page" : "redirect", "choice" : "addredirecturl", "ce" : "0", "id" : id, "qstart" : qstart},function(res){
			show_fancybox(res);
		});
	}

	function deleteredirecturl(id, qstart){
		$('#succ_msg').html('');
		var conf=confirm('Are you sure to delete ?');
		if(conf){
			$.post(siteurl,{"page" : "redirect", "choice" : "deleteredirecturl", "ce" : 0, "id" : id, "qstart" : qstart},function(res){
				messageShow("URL Data deleted successfully.");//$('#succ_msg').html('<font color="red">Product deleted successfully</font>');
				$("#redirect_listing").html(res);
			});
		}else
			return false;
	}
        
$(function() {
//$.post(siteurl, {"page": "attribute", "choice": "search_content", "psearch": 1,"ce": 0}, function(res) {//alert(res);//return false;
// var arr = res.split('@@');
// $('#namecombo').html(arr[0]);
// $('#codecombo').html(arr[1]);
// });
});
</script>
{/literal}
<!--<div class="wid100 center" id="product_listing">
	<div class="makebox center">
		<div class="headprt settheme">
			<div class="mdl">
				<div  class="fltrht">
					<a href="javascript:void(0);" onclick="addredirecturl('{$sm.next_prev->start}');" class="buton">Add URL</a>
				</div>
				<span>URL Listing ({$sm.next_prev->total})</span>
				<div class="clear"></div>
			</div>
		</div>
		<div class="bodyprt">
			{if $sm.list}
			<table width="100%" border="0" class="tbl_listing" id="img_tbl">
				<thead>
					<tr>
						<th width="20%">Old URL</th>
						<th width="26%">New URL</th>
						<th>Occurance</th>
						<th>Last Time</th>
						<th>Ip</th>
						<th class="actn_hd">Action</th>
					</tr>
				</thead>
				<tbody>
					{section name=cur loop=$sm.list}
					{assign var=x value=$sm.list[cur]}
				<tr id="{$x.id}">
				    <td>{$x.old_url}</td>
				    <td>{$x.new_url}</td>
				    <td>{if $x.occurance}{$x.occurance}{else}-N/A-{/if}</td>
				    <td>{$x.last_time}</td>
				    <td>{$x.last_ip}</td>
					<td>
						<input type="hidden" value='{$sm.uri|escape}' id="{$x.id_product}_uri" />
						<a href="javascript:void(0);" onclick="editredirecturl('{$x.id}', '{$sm.next_prev->start}' );">
							<img src="##CSS_PATH##img/led-ico/pencil.png" alt="Edit Experiences" title="Edit Experiences"/>
						</a>&nbsp;&nbsp;
						<a href="javascript:void(0);" onclick="return deleteredirecturl('{$x.id}', '{$sm.next_prev->start}');">
							<img src="##CSS_PATH##img/led-ico/delete.png" alt="Delete Experiences" title="Delete Experiences"/>
						</a>&nbsp;&nbsp;
						<a href="javascript:void(0);" onclick="showDetail('{$x.id_product}');">
							<img src="##CSS_PATH##img/led-ico/eye.png" alt="Product Detail" title="Product Detail"/>
						</a>&nbsp;&nbsp;
						<a href="javascript:void(0);" onclick="makeSeq('{$x.id_product}');">Seq</a>
					</td>
				</tr>
				{/section}
				</tbody>
			</table>
			{else}
			<div>No product found..</div>
			{/if}
			<div class="pagination_box" align="center">{$sm.next_prev->generate()}
			</div>
		</div>
	</div>
</div>
</br>-->

<div class="row-fluid">
                <div class="span12">
                  
                <!-- BEGIN EXAMPLE TABLE widget-->
                <div class="widget red">
                    <div class="widget-title">
                       
                        <h4><i class="icon-reorder"></i>URL Listing ({$sm.next_prev->total})</h4>
                            <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>
                        <div  class="fltrht pdngin block_ip">
               <a href="javascript:void(0);" onclick="addredirecturl('{$sm.next_prev->start}');" class="btn btn-success">Add URL</a>
                 </div>
                    </div>
                    <div class="widget-body">
                     <form>
                       {if $sm.list}
                        <table cellspacing="0" class="table table-striped table-bordered" id="attr_tbl">
                                   <thead>
					<tr>
						<th width="20%">Old URL</th>
						<th width="26%">New URL</th>
						<th>Occurance</th>
						<th>Last Time</th>
						<th>Ip</th>
						<th class="actn_hd">Action</th>
					</tr>
				</thead>
                    <tbody>
                    {section name=cur loop=$sm.list}
					{assign var=x value=$sm.list[cur]}
				<tr id="{$x.id}">
				    <td>{$x.old_url}</td>
				    <td>{$x.new_url}</td>
				    <td>{if $x.occurance}{$x.occurance}{else}-N/A-{/if}</td>
				    <td>{$x.last_time}</td>
				    <td>{$x.last_ip}</td>
					<td>
						<input type="hidden" value='{$sm.uri|escape}' id="{$x.id_product}_uri" />
						<a href="javascript:void(0);" onclick="editredirecturl('{$x.id}', '{$sm.next_prev->start}' );">
							<img src="##CSS_PATH##img/led-ico/pencil.png" alt="Edit URL" title="Edit URL"/>
						</a>&nbsp;&nbsp;
						<a href="javascript:void(0);" onclick="return deleteredirecturl('{$x.id}', '{$sm.next_prev->start}');">
							<img src="##CSS_PATH##img/led-ico/delete.png" alt="Delete URL" title="Delete URL"/>
						</a>&nbsp;&nbsp;
					</td>
				</tr>
				{/section}
		    </tbody>
                     </table>
                       {else}
                       <div>No records found....</div>
                       {/if}
                       </form>
                    </div>
                 <div class="pagination_box">
		<div align="center">{if !$sm.id_cat}{$sm.next_prev->generate()}{/if}</div>
	        </div>
                </div>
                </div>