{literal}
<script type="text/javascript"> 
    function getContent(lang_code,lang) {
	$('#tab'+lang_code).addClass('active');
	$("#tab"+$('#olddiv').val()).removeClass('active');
	var key_name = $('#key_name').val();
	var url = "##LBL_ADMIN_SITE_URL##";
	$.post(url,{"page":"setting","choice":"addMsg",ce:0,lang_code:lang_code,key_name:key_name,chk:1},function(res){
	    $('#olddiv').val(lang_code);
	    $('#msg_add_tpl').html(res).show(1000);
	    $('#key_name_hid').val(key_name);
	});
	 }
	 
	 $(document).ready(function(){
		$('.tabhd a').click(function(){
        $('.tabhd a.selected').removeClass('selected');
        $(this).addClass('selected');
	});  
	 });
	
</script>
{/literal}
<div class="tabbg widget red">
        <div class="tabhd">
			   {foreach key=key item=item from=$sm.language name=lang}
					{if !$sm.lang_code.$key}  
						 <a href="javascript:void(0);" id="tab{$item}" onclick="getContent('{$item}','');" class="{if  $smarty.request.lang_code==$item}selected{/if}">{$key}</a>             
					{else}
						 <a href="javascript:void(0);" id="tab{$item}" onclick="getContent('{$item}','{$sm.lang_code.$key}');" class="{if $smarty.foreach.lang.iteration ==1}selected{/if}">{$key}</a>
					{/if}
			   {/foreach}
			   <div class="clear"></div>
        </div>
	  <div class="tabsector" style="background:white; margin-top: 2px; padding: 10px 5px;">
		   
<form id="add_msg_form" class="basic" action="javascript:void(0);">
    <input type="hidden" name="choice" id="choice" value={if !$sm.row}"insertMsg"{else}"updateMsg"{/if} />
    <input type="hidden" name="id_message" id="id_message" value="{$sm.row.id_message}" />
    <input type="hidden" name="msg[key_name]" id="key_name_hid" value="{$sm.row.key_name}" />
    <input type="hidden" name="msg[lang_code]" id="lang_code" value="{$sm.sel_lang}" />
    <table border="0" width="100%" cellspacing="0" class="formtbl">
	<tr>
	    <td>Message Value :</td>
	    <td>
		<input type="text" id="key_value" name="msg[key_value]" onkeyup="hideErrorMsg();" {if $sm.row} value="{$sm.row.key_value|escape:"html"|escape:"quotes"}"{/if} />
		       <label class="error" id="msg_err"></label>
	    </td>
	</tr>
<!--	<tr>
	    <td>&nbsp;</td>
	    <td>
		<span class="" style="padding-top: 3px; padding-bottom: 4px;">
			   <input type="button" class="btn" name="search" value="{if $sm.row}Update{else}Insert{/if}" onclick="insertMsg(this);" />
		</span>
	    </td>
	</tr>-->
    </table>
    <div class="form-actions" align="center">

<input type="button" class="btn btn-success" name="search" value="{if $sm.row}Update{else}Insert{/if}" onclick="insertMsg(this);"/>

<!--<input type="button" class="btn" value="Cancel" onclick="$.fancybox.close();" />-->

</div>
</form>
	  </div>
 </div>












