{if $sm.res}
<div class="center wid60 makebox">
	  <div class="headprt settheme">
        <div class="mdl">
			   <div class="fltrht">
					<input id="collapse" type="button" class="buton" value="Expand All"/>
					{capture name=links}
					<input type="button" class="buton" value="Add new" onclick="addNew('##LBL_ADMIN_SITE_URL##setting/add/ce/0');" />
					<span id="chk_unchk"><input type="button" class="buton" value="Check All" onclick="checkAll(1);" /></span>
					<input type="button" class="buton" value="Delete" onclick="deleteKey('##LBL_ADMIN_SITE_URL##setting/deleteConfig/ce/0');" />
					{/capture}
					{$smarty.capture.links}
			   </div>
            <span>Config Settings</span>
            <div class="clear"></div>
        </div>
    </div>
	 <div class="bodyprt">	 
		{section name=setting loop=$sm.res}
		{assign var=x value=$sm.res[setting]}
		{if $sm.res[setting.index_prev].name != $x.name}
		    <div class="div_head">
			<div class="fl"><b class="sign" style="font-size:16px; margin-left:5px">+</b></div>
			<div class="fl"><b>&nbsp;&nbsp;&nbsp;{$x.name}</b></div>
		    </div>
		    <div class="table_margin" style="display:none">
			<div class="fr settheme" style="margin-top:10px;margin-right:5px">
			    <a href="javascript:void(0);" class="buton" onclick="addNew('##LBL_ADMIN_SITE_URL##setting/add/id_config/{$x.id_config}/ce/0');">Add new</a>
			</div>
		{/if}
			<form action="javascript:void(0);" id="setting_{$x.name}" name="setting_{$x.name}" method="post" onsubmit="updateConfig('##LBL_ADMIN_SITE_URL##setting/updateConfig','{$x.name}')">
			    <input type="hidden" name="sectype" value="{$x.name}" />
			    <table class="formtbl" style="width: 100%;" id="tab{$x.name}">
				<tr class="nodrag" id={$x.id_config}>
				    <td class="dragHandle"></td>
				    <td width="100px" class="ttop"><input type="checkbox" value="{$x.id_config}" class="chkbox" id="id_chk{$x.id_config}" />&nbsp;<a href="javascript:void(0);" onclick="editConfigKey('{$x.id_config}');">{$x.ckey}</a></td>
				    <td class="ttop" style="width:300px">
					{assign var=f_key value=","|explode:$x.f_key}
					{assign var=f_value value=","|explode:$x.f_value}
					{assign var=name_field value=$x.name|cat:'['|cat:$x.id_config|cat:']'|cat:'['|cat:$x.id_config|cat:']'}
					{if $x.f_type=='radio'}
						{html_radios name=$name_field values=$f_key output=$f_value selected=$x.value}
					{elseif $x.f_type=='checkbox'}
						{assign var=x_value value=","|explode:$x.value}
						{html_checkboxes name=$name_field values=$f_key output=$f_value selected=$x_value}
					{elseif $x.f_type=='dropdown'}							
					<select name="{$name_field}">
							{html_options values=$f_key output=$f_value selected=$x.value}
					</select>
					{else}
					    {if $x.f_type eq 'textarea'}
						<textarea name="{$name_field}">{$x.value}</textarea>
					    {else}
						<input type="text" name="{$name_field}" value="{$x.value}" />
					    {/if}
					{/if}
				    </td>
				    <td>
					<textarea name="{$x.name}[{$x.id_config}][comment]" style="background:none; width:300px">{$x.comment}</textarea>
				    </td>
				</tr>
				{if $sm.res[setting.index_next].name != $x.name}
				<tr>
				    <td colspan="4" class="tr">
                                         <div class="fltrht marginright5 settheme">
                                                  <input class="buton" type="submit" value="Update" name="submit" />
                                         </div>
                                         <div class="clear"></div>
				    </td>
				</tr>
				</table>
			</form>
		    </div>
		{/if}   	
		{/section}
	 </div>
</div>
{else}
<center><b>No records found</b></center>
{/if}
</br></br>
{literal}
<script type="text/javascript">
    function addNew(url){
	$.fancybox.showActivity();
	$.post(url,function(response){
	    show_fancybox(response);
		css_even_odd();
	});
    }
    
    function updateConfig(url,id){
	var fval=$("#setting_"+id).serialize();
	url+="/ce/0?"+fval; 
	$.post(url,function(response){//alert(response);
	    showmsg('',"Successfully Updated");//showmsg('divid','error message');
	    if(id=="ADMIN_THEME")
		window.location.href=response;
	});
    }
    
    function checkAll(c){
	$('.chkbox').each(function(){
	    if(c){
		$(this).attr('checked','checked');
		$("#chk_unchk").html('<input type="button" class="buton" value="Uncheck All" onclick="checkAll(0);">');
	    }else{
		$(this).removeAttr('checked');
		$("#chk_unchk").html('<input type="button" class="buton" value="Check All" onclick="checkAll(1);">');
	    }
	});
	var txt=$('#collapse').attr('value');
	if(txt=='Expand All'){
	    $('.table_margin').slideDown(1000);
	    $('#collapse').attr('value','Collapse All');
	    $('.sign').html('-');	
	}else if(txt=='Collapse All' && !c){
	    $('.table_margin').slideUp(1000);
	    $('#collapse').attr('value','Expand All');
	    $('.sign').html('+');		
	}
    }
    
    function deleteKey(url){
	var keys='';
	$('.chkbox').each(function(){
	    if($(this).is(':checked'))
		keys +=$(this).val()+",";
	});
	if(!keys){
	    alert("Please choose records to delete.");
	    return false;
	}else{
	    if(!confirm("Are you sure to delete checked records ?")) return false;
	}
	$.post(url,{'keys':keys}, function(res){
	    alert("Config key(s) with value(s) deleted successfully.")
	    window.location.href=res;
	});
    }

    function editConfigKey(id_config) {
	var url = "##LBL_ADMIN_SITE_URL##";
	$.fancybox.showActivity();
	$.post(url,{"page":"setting","choice":"edit",ce:0,id_config:id_config},function(res){
	    show_fancybox(res);
	});
    }
    $('.div_head').click(function(){
	var txt=$('.sign',this).html();
	if(txt=='-'){
	    $(this).next('.table_margin').slideUp('slow');
	    $('.sign',this).html('+');
	    $('#collapse').attr('value','Expand All');
	}else if(txt=='+'){
	    $(this).next('.table_margin').slideDown('slow');
	    $('.sign',this).html('-');
	    $('#collapse').attr('value','Collapse All');
	}
    });

    $('#collapse').click(function(){
	var txt=$('#collapse').attr('value');
	if(txt=='Collapse All'){
	    $('.table_margin').slideUp(1000);
	    $('#collapse').attr('value','Expand All');
	    $('.sign').html('+');

	}else if(txt=='Expand All'){
	    $('.table_margin').slideDown(1000);
	    $('#collapse').attr('value','Collapse All');
	    $('.sign').html('-');	
	}
    });

</script> 
{/literal}
