<link href="##LBL_SITE_URL##templates/css_theme/colorpicker.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="##LBL_SITE_URL##templates/flexyjs/colorpicker.js"></script>
<script type="text/javascript" src="##LBL_SITE_URL##templates/flexyjs/eyecon.js"></script>

{literal}
<style type="text/css">
    table[id^=tab].formtbl{width: 92%}
    table.formtbl input[type="text"]{width:78%; margin: 0px 2px;}
    .configsettings_admin{display:none;}
    .setnglist_updatemrgn{margin-top:14px; margin-right:14px;}
    .div_head1{border-bottom:7px solid #fff;}
</style>
{/literal}
<!--done by gayatree starts-->
<div class="row-fluid">
                <div class="span12">
                <!-- BEGIN EXAMPLE TABLE widget-->
                <div class="widget red">
                  <!--<div id="dv1">-->
                    <div class="widget-title">
                        <h4><i class="icon-reorder"></i> Config Settings</h4>
                            <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>
                        <div  class="fltrht"><input id="collapse" type="button" class="btn btn-success" value="Expand All" style="margin-top:2px;"/></div>
                        <div class="clear"></div>
                    </div>
                    <div class="widget-body widget-body1">
                      {section name=setting loop=$sm.res}
        {assign var=x value=$sm.res[setting]}
            {if $sm.res[setting.index_prev].name != $x.name}
            
            <div class="div_head div_head1">
                    <div class="widget-title">
                      <span class="sign">+</span>
                      <h4>{$x.name}</h4> 
                       
                    </div>
                </div>
             <div class="table_margin" style="display:none; width:100%">
                    <form action="javascript:void(0);" id="setting_{$x.name}" name="setting_{$x.name}" method="post" onsubmit="updateConfig('##LBL_ADMIN_SITE_URL##setting/updateConfig','{$x.name}')">
                        <input type="hidden" name="sectype" value="{$x.name}" />
                        <div class="fltrht setnglist_updatemrgn"><input class="btn btn-success" type="submit" value="Update" name="submit" /></div>

                        <table class="table table-striped table-bordered" id="tab{$x.name}">
                          {/if}
<!--                            <thead>
                            <tr id="{$x.id_config}">
                                <th style="width:8px;"><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /></th>
                                <th>Username</th>
                                <th class="hidden-phone">Email</th>
                                <th class="hidden-phone">Points</th>
                                <th class="hidden-phone">Joined</th>
                                <th class="hidden-phone"></th>
                            </tr>
                            </thead>-->
                            <tbody>
                            <tr class="odd gradeX"  id="{$x.id_config}">
                                <!--<td><input type="checkbox" class="checkboxes" value="1" /></td>-->
                                <td>{$x.ckey}</td>
                                <td class="hidden-phone">
                                  {assign var=f_key value=","|explode:$x.f_key}
                                        {assign var=f_value value=","|explode:$x.f_value}
                                        {assign var=name_field value=$x.name|cat:'['|cat:$x.id_config|cat:']'}
                                        {if $x.f_type=='radio'}
                                        <span>{html_radios name=$name_field values=$f_key output=$f_value selected=$x.value}</span>
                                        {elseif $x.f_type=='checkbox'}
                                        {assign var=x_value value=","|explode:$x.value}
                                        <span>{html_checkboxes name=$name_field values=$f_key output=$f_value}</span>
                                        {elseif $x.f_type=='dropdown'}
                                        <select name="{$name_field}">
                                            {html_options values=$f_key output=$f_value selected=$x.value}
                                        </select >
                                        {else}
                                            {if $x.f_type eq 'textarea'}
                                                <textarea name="{$name_field}">{$x.value}</textarea>
                                            {else}
                                                <input type="text" name="{$name_field}" value="{$x.value}" />
                                            {/if}
                                        {/if}
                                    {if $x.comment}
                                        <a href="javascript:void(0);" class="comment" onmouseover="return overlib('{$x.comment}', CAPTION, '&nbsp;Comment', CLOSECLICK, CSSCLASS,FGCLASS,'fgClass',
                                            BGCLASS,'bgClass', CLOSEFONTCLASS, 'capfontClass','CAPTIONFONTCLASS','fontclass',FOLLOWMOUSE)" onmouseout="return nd();" style="text-decoration:none">
                                            <img src="##CSS_PATH##img/help_sign.gif" alt="help" />
                                        </a>
                                    {/if}
                                    {if $sm.res[setting.index_next].name != $x.name}
                                    <div class="clear"></div></td>
<!--                                <td class="hidden-phone">10</td>
                                <td class="center hidden-phone">02.03.2013</td>
                                <td class="hidden-phone"><span class="label label-success">Approved</span></td>-->
                            </tr>
                            
                            </tbody>
                        </table>
                        </form>
               </div>
            {/if}
        {/section}
            
                    <!--</div>-->
                    </div>
                </div>
                <!-- END EXAMPLE TABLE widget-->
                {if $sm.res}
{else}
<center><b>No records found</b></center>
{/if}
                </div>
            </div>
<!--done by gayatree ends-->














<div class="center wid60 makebox configsettings_admin" id="dv1">
    <div class="headprt settheme">
        <div class="mdl">
            <div  class="fltrht"><input id="collapse" type="button" class="buton" value="Expand All" style="margin-top:2px;"/></div>
            <span>Config Settings</span>
            <div class="clear"></div>
        </div>
    </div>
    <div class="bodyprt">
        {section name=setting loop=$sm.res}
        {assign var=x value=$sm.res[setting]}
            {if $sm.res[setting.index_prev].name != $x.name}
                <div class="div_head">
                    <div class="mdl">
                        <span class="sign">+</span>{$x.name}
                    </div>
                </div>
                <div class="table_margin" style="display:none; width:100%">
                    <form action="javascript:void(0);" id="setting_{$x.name}" name="setting_{$x.name}" method="post" onsubmit="updateConfig('##LBL_ADMIN_SITE_URL##setting/updateConfig','{$x.name}')">
                        <input type="hidden" name="sectype" value="{$x.name}" />
                        <div class="fltrht settheme"><input class="buton" type="submit" value="Update" name="submit" /></div>
                        <table id="tab{$x.name}" class="formtbl" style="width: 85%;">
                            {/if}
                            <tr id="{$x.id_config}" style="height:24px;">
                                <td width="155">{$x.ckey}</td>
                                <td>
                                        {assign var=f_key value=","|explode:$x.f_key}
                                        {assign var=f_value value=","|explode:$x.f_value}
                                        {assign var=name_field value=$x.name|cat:'['|cat:$x.id_config|cat:']'}
                                        {if $x.f_type=='radio'}
                                        <span>{html_radios name=$name_field values=$f_key output=$f_value selected=$x.value}</span>
                                        {elseif $x.f_type=='checkbox'}
                                        {assign var=x_value value=","|explode:$x.value}
                                        <span>{html_checkboxes name=$name_field values=$f_key output=$f_value}</span>
                                        {elseif $x.f_type=='dropdown'}
                                        <select name="{$name_field}">
                                            {html_options values=$f_key output=$f_value selected=$x.value}
                                        </select >
                                        {else}
                                            {if $x.f_type eq 'textarea'}
                                                <textarea name="{$name_field}">{$x.value}</textarea>
                                            {else}
                                                <input type="text" name="{$name_field}" value="{$x.value}" />
                                            {/if}
                                        {/if}
                                    {if $x.comment}
                                        <a href="javascript:void(0);" class="comment" onmouseover="return overlib('{$x.comment}', CAPTION, '&nbsp;Comment', CLOSECLICK, CSSCLASS,FGCLASS,'fgClass',
                                            BGCLASS,'bgClass', CLOSEFONTCLASS, 'capfontClass','CAPTIONFONTCLASS','fontclass',FOLLOWMOUSE)" onmouseout="return nd();" style="text-decoration:none">
                                            <img src="##CSS_PATH##img/help_sign.gif" alt="help" />
                                        </a>
                                    {/if}
                                    {if $sm.res[setting.index_next].name != $x.name}
                                    <div class="clear"></div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            {/if}
        {/section}
    </div>
</div>
</br></br>
{if $sm.res}
{else}
<center><b>No records found</b></center>
{/if}
{literal}
<script type="text/javascript">
$(document).ready(function(){
$('input[name^="COLOR_CODE"]').ColorPicker({
onChange: function (hsb, hex, rgb) {
$('input[name^="COLOR_CODE"]').val('#'+hex);
}
});
});
    function updateConfig(url,id){
	var fval=$("#setting_"+id).serialize();
	url+="/ce/0?"+fval;
	$.post(url,function(response){
	    showmsg('',"Successfully Updated");//showmsg('divid','error message');
	    if(id=="ADMIN_THEME")
		window.location.href=response;
	});
    }

    $('.div_head').click(function(){
	var txt=$('.sign',this).html();
	if(txt=='-'){
	    $(this).next('.table_margin').slideUp('slow');
	    $('.sign',this).html('+');
	    $('#collapse').attr('value','Expand All');
	}
	else if(txt=='+'){
	    $(this).next('.table_margin').slideDown('slow');
	    $('.sign',this).html('-');
	    $('#collapse').attr('value','Collapse All');
	}
    });

    $('#collapse').click(function(){
	var txt=$('#collapse').attr('value');
	if(txt=='Collapse All'){
	    $('.table_margin').slideUp(1000);
	    $('#collapse').attr('value','Expand All');
	    $('.sign').html('+');

	}
	else if(txt=='Expand All'){
	    $('.table_margin').slideDown(1000);
	    $('#collapse').attr('value','Collapse All');
	    $('.sign').html('-');
	}
    });

    $(document).ready(function(){
	$('table#tab').css({background:'none'});
    });
</script>
{/literal}
