{assign var=lang_code value=$util->get_values_from_config_reverse('LANGUAGE')}
{assign var=qstart value=$sm.next_prev->start}
{assign var=m value=$sm.next_prev->module}
{assign var=total value=$sm.next_prev->total}
<!--done by gayatree starts-->
{literal}
<style type="text/css">
  .msglisting_admin{display:none;}
</style>
{/literal}
<div class="row-fluid">
<div class="span12">
                        <!-- BEGIN BASIC PORTLET-->
                        <div class="widget red">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i> {if $sm.pg_header}
        {$sm.pg_header}&nbsp;({$sm.next_prev->total})
        {else}
        {$sm.next_prev->module|capitalize:true} Lists
        {/if}</h4>
                            <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>
                              {if !$sm.id_cat}
        <div  class="fltrht">
        {if $smarty.session.id_developer}
        <input type="button" value="Add New" onclick="addMsg();" class="btn" />
        {/if}
        </div>
        {/if}
                            </div>
                          
                           {if $smarty.session.id_developer}
    <div class="hdng" align="center">Please does not remove Message Key starting with SETTING_</div><br />
    {/if}
                            <div class="widget-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                      {if $sm.special}
                                        <th>{$sm.special.prompt}</th>
                                        {/if}
{foreach from=$sm.field item=item key=key}
{if $key == $smarty.session.$m.sort_by}
{if $smarty.session.$m.sort_order=="ASC"}
{assign var=cls value="asc"}
{else}
{assign var=cls value="desc"}
{/if}
{else}
{assign var=cls value=""}
{/if}
                                        <th class="{$cls}">{if $item.1!=0}
{if $sm.ajax}
<a href="javascript:get_next_page('##LBL_SITE_URL##{$sm.uri}/sort_by/{$key}',0,0,'{$smarty.request.page}_{$smarty.request.choice}')">{if $item!=""}{$item.0}{else}{$key}{/if}</a>
{else}
<a href="##LBL_SITE_URL##{$sm.uri}/sort_by/{$key}">{if $item!=""}{$item.0}{else}{$key}{/if}</a>
{/if}
{else}
{if $item!=""}{$item.0}{else}{$key}{/if}
{/if}</th>
                                        {/foreach}
{foreach from=$sm.links item=item key=key}
                                        <th>{$item.0}</th>
                                        {/foreach}
<!--                                        <th>Username</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                      {section name=cur loop=$sm.list}
{assign var=x value=$sm.list[cur]}
                                    <tr {if $smarty.section.cur.iteration==1}class="first"{/if}>
                                      {if $sm.special}
                                        <td>{assign var=id value=$sm.special.id}
<input type="checkbox" class="chkbox" value="{$x.$id}"/></td>
                                      {/if}
{foreach from=$sm.field item=item key=key}
                                        <td>{if $item.anchor}
<a href="{$item.anchor}{$x.$key}">{$x.$key}</a>
{elseif $item.condition}
{assign var=cond value=$x.$key}
{$item.condition.$cond}
{else}
{if $item.format!=""}
{capture name=k}
{ldelim}"{$x.$key}"|{$item.format}{rdelim}
{/capture}
{eval var=$smarty.capture.k}
{elseif $item.image!=""}
<img src="{$item.image}{$x.$key}" />
{else}
{if $key=='lang_code'}
{assign var=language value=$lang_code[$x.lang_code]}
{$language}
{else}
{$x.$key}
{/if}
{/if}
{/if}</td>
                                        {/foreach}
{foreach from=$sm.links item=item key=key}
                                        <td><a {if $item.function}href="javascript:void(0);"onclick='{$item.function}("{$item.1}{$x[$item.2]}",{$qstart});'{else}href="{$item.1}{$x[$item.2]}"{/if}>{if $item.3}<button class="btn btn-success"><i class="icon-edit"</i></button>{else}{$item.0}{/if}</a></td>
                                        <!--<td>@mdo</td>-->
                                        {/foreach}
                                    </tr>
                                    {/section}
                                    
                                    </tbody>
                                </table>
                              {if $total > $sm.limit}
{if $sm.type=='advance'}
<div class="pagination_adv">
{$sm.next_prev->generateadv()}
</div>
{elseif $sm.type=='box'}
<div class="pagination_box">
<div align="center">{$sm.next_prev->generate()}</div>
</div>
{elseif $sm.type=='normal'}
<div class="pagination">
<div align="center">{$sm.next_prev->generate()}</div>
</div>
{elseif $sm.type=='nextprev'}
<div class="pagination">
<div align="center">{$sm.next_prev->onlynextprev()}</div>
</div>
{elseif $sm.type=='extra'}
<div class="pagination_box">
<div align="center">{$sm.next_prev->generateextra()}</div>
</div>
{else}
{if $sm.type!='no'}
<div>
<div align="center">{$sm.next_prev->generate()}</div>
</div>
{/if}
{/if}
{/if}
                            </div>
                        </div>
                        <!-- END BASIC PORTLET-->
                    </div>
  </div>
<!--done by gayatree ends-->










<div class="makebox center msglisting_admin">
<div class="headprt settheme">
    <div class="mdl">
        {if !$sm.id_cat}
        <div  class="fltrht">
        {if $smarty.session.id_developer}
        <input type="button" value="Add New" onclick="addMsg();" class="buton" />
        {/if}
        </div>
        {/if}
        <span> {if $sm.pg_header}
        {$sm.pg_header}&nbsp;({$sm.next_prev->total})
        {else}
        {$sm.next_prev->module|capitalize:true} Lists
        {/if}</span>
        <div class="clear"></div>
    </div>
</div>
    {if $smarty.session.id_developer}
    <div class="hdng" align="center">Please does not remove Message Key starting with SETTING_</div><br />
    {/if}
<div class="bodyprt">
<table cellspacing="0" class="tbl_listing">
<thead>
<tr>
{if $sm.special}
<th>{$sm.special.prompt}</th>
{/if}
{foreach from=$sm.field item=item key=key}
{if $key == $smarty.session.$m.sort_by}
{if $smarty.session.$m.sort_order=="ASC"}
{assign var=cls value="asc"}
{else}
{assign var=cls value="desc"}
{/if}
{else}
{assign var=cls value=""}
{/if}
<th class="{$cls}">
{if $item.1!=0}
{if $sm.ajax}
<a href="javascript:get_next_page('##LBL_SITE_URL##{$sm.uri}/sort_by/{$key}',0,0,'{$smarty.request.page}_{$smarty.request.choice}')">{if $item!=""}{$item.0}{else}{$key}{/if}</a>
{else}
<a href="##LBL_SITE_URL##{$sm.uri}/sort_by/{$key}">{if $item!=""}{$item.0}{else}{$key}{/if}</a>
{/if}
{else}
{if $item!=""}{$item.0}{else}{$key}{/if}
{/if}
</th>
{/foreach}
{foreach from=$sm.links item=item key=key}
<th>
{$item.0}
</th>
{/foreach}
</tr>
</thead>
<tbody>
{section name=cur loop=$sm.list}
{assign var=x value=$sm.list[cur]}						
<tr {if $smarty.section.cur.iteration==1}class="first"{/if}>
{if $sm.special}
<td>
{assign var=id value=$sm.special.id}
<input type="checkbox" class="chkbox" value="{$x.$id}"/>
</td>
{/if}
{foreach from=$sm.field item=item key=key}
<td>
{if $item.anchor}
<a href="{$item.anchor}{$x.$key}">{$x.$key}</a>
{elseif $item.condition}
{assign var=cond value=$x.$key}
{$item.condition.$cond}
{else}
{if $item.format!=""}
{capture name=k}
{ldelim}"{$x.$key}"|{$item.format}{rdelim}
{/capture}
{eval var=$smarty.capture.k}
{elseif $item.image!=""}
<img src="{$item.image}{$x.$key}" />
{else}
{if $key=='lang_code'}
{assign var=language value=$lang_code[$x.lang_code]}
{$language}
{else}
{$x.$key}
{/if}
{/if}
{/if}
</td>
{/foreach}
{foreach from=$sm.links item=item key=key}
<td>
<a {if $item.function}href="javascript:void(0);"onclick='{$item.function}("{$item.1}{$x[$item.2]}",{$qstart});'{else}href="{$item.1}{$x[$item.2]}"{/if}>{if $item.3}<img src="{$item.3}" title="{$item.0}"/>{else}{$item.0}{/if}</a>									
</td>
{/foreach}
</tr>
{/section}
</tbody>
</table>
<br />
{if $total > $sm.limit}
{if $sm.type=='advance'}
<div class="pagination_adv">
{$sm.next_prev->generateadv()}
</div>
{elseif $sm.type=='box'}
<div class="pagination_box">
<div align="center">{$sm.next_prev->generate()}</div>
</div>
{elseif $sm.type=='normal'}
<div class="pagination">
<div align="center">{$sm.next_prev->generate()}</div>
</div>
{elseif $sm.type=='nextprev'}
<div class="pagination">
<div align="center">{$sm.next_prev->onlynextprev()}</div>
</div>
{elseif $sm.type=='extra'}
<div class="pagination_box">
<div align="center">{$sm.next_prev->generateextra()}</div>
</div>
{else}
{if $sm.type!='no'}
<div>
<div align="center">{$sm.next_prev->generate()}</div>
</div>
{/if}
{/if}
{/if}
</div>
</div>
{literal}
<script type="text/javascript">
function addMsg() {
    var url = "##LBL_ADMIN_SITE_URL##";
    $.fancybox.showActivity();
    $.post(url,{"page":"setting","choice":"addMsg",ce : 0},function(res){
    show_fancybox(res);
    css_even_odd();
    });
}

function editMsg(id_msg) {
    var url="##LBL_ADMIN_SITE_URL##";
    $.fancybox.showActivity();
    $.post(url,{"page":"setting","choice":"editMsg","id_msg":id_msg,ce:0},function(res) {
    show_fancybox(res);
    css_even_odd();
    });
}

function deleteMsg(key_name) {
    var ser_msg_name=$('#ser_msg_name').val()?$('#ser_msg_name').val():'';
    var msg = {/literal}"{$smarty.const.SETTING_CONFIRM_DEL_EN}"{literal};
    if(confirm(msg)) {
        var url="##LBL_ADMIN_SITE_URL##";
        $.post(url,{"page":"setting","choice":"deleteMsg","key_name":key_name,"ser_msg_name":ser_msg_name,ce:0},function(res) {
        var msg_del = {/literal}"{$smarty.const.SETTING_DELETE_SUC_EN}"{literal};
        alert(msg_del);
        $('#setting_msgList').html(res);
        });
    }else {
        return false;
    }
}
</script>
{/literal}
