{assign var=board_type value=$util->get_values_from_config(BOARD_TYPE)}
{assign var=match_type value=$util->get_values_from_config(MATCH_TYPE)}
{assign var=txt_srch value=$util->get_values_from_config(TEXT_SEARCH_TYPE)}
{literal}
<script type="text/javascript" src="##FLEXY_JS_PATH##jquery.multiautocomplete.js"></script>
<link rel="stylesheet" type="text/css" href="##CSS_PATH##multiautocomplete.css" />
<script type="text/javascript">
	
    function validateAttribute() {
	var validator=$("#adminaddattribute").validate({
	    rules: {
		"attribute[attribute_name]": {
		    required:true
		},
		"attribute[entry_type]":{
		    required: true
		},
		"attribute[search_type]": {
		    required:true
		},
		"attribute[attribute_values]": {
		    required:true
		},
//		"attribute[dropdown_values]": {
//		    required:true
//		},
		"attribute[datatype]": {
		    required:true
		},
		"attribute[text_values]": {
		    required:true
		},
		"attribute[attribute_label]": {
		    required:true
		},
		"attribute[optype]": {
		    required:true
		},
//		"attribute[id_course]":{
//		    required:true
//		}
	    },
	    messages: {
		"attribute[attribute_name]":{
		    required:flexymsg.required
		},
		"attribute[entry_type]":{
		    required:flexymsg.required
		},
		"attribute[search_type]": {
		    required:flexymsg.required
		},
		"attribute[attribute_values]": {
		    required:flexymsg.required
		},
//		"attribute[dropdown_values]": {
//		    required:flexymsg.required
//		},
		"attribute[datatype]": {
		    required:flexymsg.required
		},
		"attribute[text_values]": {
		    required:flexymsg.required
		},
		"attribute[attribute_label]": {
		    required:flexymsg.required
		},
		"attribute[optype]": {
		    required:flexymsg.required
		},
//		"attribute[id_course]": {
//		    required:flexymsg.required
//		}
	    }
	});
//	var courseSelected = true;
//	if($('#boardRadio').attr("checked") || $('#univRadio').attr("checked") || $('#otherRadio').attr("checked")){
//	   if($('#course_name').val()){
//	       courseSelected = true;
//	   }else{
//	       $('#errCourse').html("<font color='red'>This field is required.</font>");
//	       courseSelected = false;
//	   }
//	}
//	if(courseSelected){
//	    return validator.form();
//	}else{
//	    return false;
//	}
var x = validator.form();
var y = $("#attribute_error_name").text().length;
if (x && !y) {
$('#sbmt').attr("disabled",true);
return x;
} else {
$('#sbmt').removeAttr("disabled");
return false;
}
    }
    
    function hideCourseErrMsg(){
	$('#errCourse').html("");
    }
    function hideValueErrMsg(){
	$('#errValue').html("");
    }
	
    function callbackFun(response) {
	if(response=='no'){
	    $('#attribute_error_code').html('This code already exist.Choose another one');
	    $('#code_attribute').val('').focus();
	}else if(response=='noname'){
	    $('#attribute_error_name').html('This code already exist.Choose another one');
	    $('#name_attribute').val('').focus();
	}else{
	    var id_attribute = $('#id_attribute').val();
	    var mess = "";
	    if(id_attribute){
		 mess = "Attribute updated successfully";
	    }else{
		 mess = "Attribute added successfully";	
	    }
	    $.fancybox.close();
	    messageShow(mess);
	    $('#attribute_listing').html(response);
	    css_even_odd();
	}
    }
	
    function convertMe(obj){
	var cval=obj.value;
	var pattern=/[-\s]/g;
	var nval=cval.replace(pattern,"");
	nval = nval.toLowerCase();
	chkNameCodeExit('name', nval, 'code_attribute');
    }

    var code1,kc,cc;
    function chkSpecialChars(e) {
	code1 = e.which;
	if(!code1){
	    code1=e.keyCode;
	}
	kc=e.keyCode;
	cc=e.charCode;
	if(kc==8 && cc==0){//For Backspace
	    return true;
	}else if(kc==46 && cc==0){//For Delete
	    return true;
	}else if(kc==36 && cc==0){//For Home
	    return true;
	}else if(kc==35 && cc==0){//For End
	    return true;
	}else if(kc==39 && cc==0){//For Forward Key
	    return true;
	}else if(kc==37 && cc==0){//For Backward Key
	    return true;
	}else if(kc==9 && cc==0){//For Tab
	    return true;
	}else if(kc==46 || cc==46){
	    return true;
	}else if(kc==95 || cc==95){
	    return true;
	}else if(kc==32 || cc==32){
	    return false;
	}else if(97<=cc && cc<=122){
	    return true;
	}else if(97<=kc && kc<=122){
	    return true;
	}else if(65<=cc && cc<=90){
	    return true;
	}else if(65<=kc && kc<=90){
	    return true;
	}else if(48<=cc && cc<=57){
	    return true;
	}else if(48<=kc && kc<=57){
	    return true;
	}else{
	    return false;
	}	
    }
	
    function attributeExist(id_attribute){
        var attributename=$("#name_attribute").val();
        $.post(siteurl,{"page":"attribute","choice":"checkAttribute","attributename":attributename,'id_attribute':id_attribute,"ce":0},function(res){
	   if(res){
		$('#attribute_error_name').html("<font color='red'>This attribute is already exist.</font>");
		$("#name_attribute").val('');
		$("#name_attribute").focus();
	    }else{
		$('#attribute_error_name').html('');
	    }
        });
    }

      function showEntryType(obj){
	var entryType = obj.options[obj.selectedIndex].text;
	if(entryType == "Radio" || entryType == "Checkbox"){
	   $('#txtfield').hide();
	   $('#boardfield').hide();
	   $('#boardRadio').removeAttr("checked");
	   $('#univRadio').removeAttr("checked");
	   $('#otherRadio').removeAttr("checked");
	   $('#valuefield').show();
	   $('#valuetext').attr("value","");
	   $('#optType').show();
	   $('#strictType').removeAttr("checked");
	   $('#allType').removeAttr("checked");
	   $.post(siteurl,{"page" : "attribute", "choice" : "showType","ce" : 0},function(res){
		//alert(res);return;
		$('#searchtypetd').html(res);
	    });
	}else if(entryType == "Dropdown"){
	    $('#txtfield').hide();
//	    $('#valuefield').hide();
	    $('#valuefield').show();
	    $('#optType').hide();
	    $('#strictType').removeAttr("checked");
	    $('#allType').removeAttr("checked");
	    $('#valuetext').attr("value","");
	    $('#boardfield').show();
	    $('#searchtypetd').html('<select name="attribute[search_type]" id="searchtype"><option value="'+$(obj).val()+'">'+entryType+'</option></select>');
	    
	}else if(entryType == "Text"){
	    $('#valuefield').hide();
	    $('#boardfield').hide();
	    $('#boardRadio').removeAttr("checked");
	    $('#univRadio').removeAttr("checked");
	    $('#otherRadio').removeAttr("checked");
	    $('#optType').hide();
	    $('#strictType').removeAttr("checked");
	    $('#allType').removeAttr("checked");
	    $('#valuetext').attr("value","");
	    $('#txtfield').show();
	    var res = "{/literal}{$sm.res.text_values}{literal}";
	    if(!res){  
		$('#txt_dt_int').attr("checked","checked");
		$('#txt_dt_int_div').show();
		$('#txt_1').attr("checked","checked");
	    }
	    $('#searchtypetd').html('<select name="attribute[search_type]" id="searchtype"><option value="'+$(obj).val()+'">'+entryType+'</option></select>');
	    
	}else{
	    $('#txtfield').hide();
	    $('#boardfield').hide();
	    $('#boardRadio').removeAttr("checked");
	    $('#univRadio').removeAttr("checked");
	    $('#otherRadio').removeAttr("checked");
	    $('#valuefield').hide();
	    $('#optType').hide();
	    $('#strictType').removeAttr("checked");
	    $('#allType').removeAttr("checked");
	    $('#valuetext').attr("value","");
	    $('#searchtypetd').html('<select name="attribute[search_type]" id="searchtype"><option value="'+$(obj).val()+'">'+entryType+'</option></select>');
	}
    }   
     function showSearchType(obj){
	var searchType = obj.options[obj.selectedIndex].text;
	$('#entrytype').each(function(){
		$('option').each(function(){
		   if($(obj).val() == $(this).val()){
		       $(this).attr("selected", "selected");
		   } 
		});
	    });
	if(searchType == "Radio" || searchType == "Checkbox"){
	   $('#txtfield').hide();
	   $('#valuefield').show();
	   $('#valuetext').attr("value","");
	   $('#optType').show();
	   $('#strictType').removeAttr("checked");
	   $('#allType').removeAttr("checked");
	   $('#boardfield').hide();
	   $('#boardRadio').removeAttr("checked");
	   $('#univRadio').removeAttr("checked");
	   $('#otherRadio').removeAttr("checked");
	}else if(searchType == "Dropdown"){
	    $('#txtfield').hide();
//	    $('#valuefield').hide();
	    $('#valuefield').show();
	    $('#optType').hide();
	    $('#strictType').removeAttr("checked");
	    $('#allType').removeAttr("checked");
	    $('#valuetext').attr("value","");
	    $('#boardfield').show();	    
	}else if(searchType == "Text"){
	    $('#boardfield').hide();
	    $('#boardRadio').removeAttr("checked");
	    $('#univRadio').removeAttr("checked");
	    $('#otherRadio').removeAttr("checked");
	    $('#valuefield').hide();
	    $('#optType').hide();
	    $('#strictType').removeAttr("checked");
	    $('#allType').removeAttr("checked");
	    $('#valuetext').attr("value","");
	    $('#txtfield').show();
	    var res = "{/literal}{$sm.res.text_values}{literal}";
	    if(!res){
		$('#txt_dt_int').attr("checked","checked");
		$('#txt_dt_int_div').show();
		$('#txt_1').attr("checked","checked");
	    }
	}else{
	   $('#txtfield').hide();
	   $('#valuefield').hide();
	   $('#optType').hide();
	   $('#strictType').removeAttr("checked");
	   $('#allType').removeAttr("checked");
	   $('#valuetext').attr("value","");	   
	   $('#boardfield').hide();
	   $('#boardRadio').removeAttr("checked");
	   $('#univRadio').removeAttr("checked");
	   $('#otherRadio').removeAttr("checked");
	}
    }
    
    function ckeckname(id){
        var name=$("#name_attribute").val();
        $.post(siteurl,{'page':'attribute','choice':'unique_name','id':id,'name':name,'ce':0},function(res){//alert(res);//return false;
        if(res==1){
           $("#attribute_error_name").html("");
        }else{
           $("#attribute_error_name").html("This name is already exists.");
          }
        });  
    }

    function checkPattern(){
	var pattern=/(\s+)?\,+(\s+)?/g;
	var string = $('#valuetext').val();
	var nval=string.replace(pattern,",");
	$('#valuetext').attr("value",nval);
    }
    $(document).ready(function() {
	    var courses = $('#course_name').val();
	    var url = siteurl + 'attribute/autoSearchkey/course/'+encodeURIComponent(courses)+'/ce/0/';
	   // var url = siteurl + 'attribute/autoSearchkey/ce/0/';
	    $("#course_name").autocomplete({json_url:url,width:"200px",cache:false,json_cache:false,delay:0.2,firstselected:true});
	
	
	    var pname   = $('#attribute_name').val();
	    var etype = $('#entrytype').val();
	    var stype = $('#searchtype').val();
	    $('#pname').attr("value", pname);
	    $('#etype').attr("value",etype);
	    $('#stype').attr("value",stype);
//	    $('#otherRadio').click(function(){
//		$('#valuefield').show();
//	    });
//	    $('#boardRadio').click(function(){
//		$('#valuefield').hide();
//		$('#valuetext').attr("value","");
//	    });
//	    $('#univRadio').click(function(){
//		$('#valuefield').hide();
//		$('#valuetext').attr("value","");
//	    });
    });
</script> 
<style>
    label.error	{
	color:#FF0000;
	font-size:15px;
    }
	.listing_tbl tr td input[type="text"]{width:96%;}
	.listing_tbl tr td select{width:100%;}
	.holder{width:96% !important;}
	.facebook-auto{width:65.5% !important;overflow: none !important;}
	.facebook-auto ul{width:100% !important;}
	#searchtypetd table{margin:0px !important;}
	#searchtypetd table tr td{padding:0px !important;}
</style>
{/literal}
<!--by gayatree-->
<div id="dv2">
  <div style="width:500px;">
     <div class="headprt settheme">
            <div class="mdl">
                <span>{if $sm.res}Edit{else}Add{/if} Attribute</span>
            </div>
        </div>
    <div class="bodyprt">
      <form action="##LBL_ADMIN_SITE_URL##attribute/{if $sm.res}updateAttribute{else}insertAttribute{/if}/ce/0" name="adminaddattribute" id="adminaddattribute" method="post" onsubmit="return AsyncUpload.submitForm(this, validateAttribute, callbackFun);">
                <!--<form action="##LBL_ADMIN_SITE_URL##attribute/{if $sm.res}updateAttribute{else}insertAttribute{/if}/ce/0" name="adminaddattribute" id="adminaddattribute" method="post" onsubmit="return validateAttribute();">-->
                <input type="hidden" name="id_user" value="{$smarty.session.id_user}" /> 
                <input type="hidden" name="qstart" value="{$sm.qstart}" />   
                <input type="hidden" name="pname" id="pname" value="{$sm.pname}" />
                <input type="hidden" name="ctype" id="ctype" value="{$sm.ctype}" />
                <input type="hidden" name="stype" id="stype" value="{$sm.stype}" />
                <input type="hidden" id="referer" name='referer' value="{$sm.referer}" />
                <input type="hidden" name="id_attribute" id="id_attribute" value="{$sm.res.id_attribute}" />
                <table border="0" class="formtbl">
                    <tr>
                        <td>Name :</td>
                        <td align="left">
                            <input type="text" class="txt" name="attribute[attribute_name]" id="name_attribute" onblur="ckeckname('{$sm.res.id_attribute}');" value="{$sm.res.attribute_name|capitalize:true}" /><!-- onblur="attributeExist('{$sm.res.id_attribute}');" -->
                               <br/>
                            <span id='attribute_error_name' style=" color: red"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Entry Type :</td>
                        <td>
                            <select name="attribute[entry_type]" id="entrytype" onchange="showEntryType(this);" >
                            <option value="">--Select--</option>
                            {html_options options=$sm.attr|capitalize:true selected=$sm.res.entry_type}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Search Type :</td>
                        <td id="searchtypetd" style="vertical-align:top;">
                            <select name="attribute[search_type]" id="searchtype" onchange="showSearchType(this);">
                            <option value="">--Select--</option>
                            {html_options options=$sm.attr|capitalize:true selected=$sm.res.search_type}
                            </select>
                        </td>
                    </tr>
		     <tr id="txtfield" {if $sm.res.datatype}style="display:true;"{else}style="display:none;"{/if}>
                        <td>Type :</td>
			 <td>
			     <div>
				<input type="radio" name="attribute[datatype]" id="txt_dt_int" value="1" onclick="$('#txt_dt_int_div').show();" {if $sm.res.datatype==1}checked="checked"{/if}/>Integer
				<input type="radio" name="attribute[datatype]" id="txt_dt_str" value="2" onclick="$('#txt_dt_int_div').hide();" {if $sm.res.datatype==2}checked="checked"{/if}/>String
				<br/>
				<label style="display:none;" class="error" generated="true" for="attribute[datatype]">This field  required</label>
				<br/>
			    </div>
			     <div id="txt_dt_int_div"{if $sm.res.text_values}style="display:true;"{else}style="display:none;"{/if}>
				{foreach key=key item=item from=$txt_srch}
				    <input type="radio" id="txt_{$key}" name="attribute[text_values]" value="{$key}" {if $sm.res.text_values==$key}checked="checked"{/if}/>{$item}
				{/foreach}
				<br>
				<label style="display: none;" class="error" generated="true" for="attribute[text_values]">This field is required</label>
			    </div>
                        </td>
                    </tr>
                    <tr id="boardfield" {if $sm.res.dropdown_values}style="display:true;"{else}style="display:none;"{/if}>
                        <td colspan="2"><input type="hidden" id="otherRadio" name="attribute[dropdown_values]" value="{$board_type.other}" /></td>
                    </tr>
                    <tr id="valuefield" {if $sm.res.attribute_label}style="display:true;"{else}style="display:none;"{/if}>
                        <td>Value :</td>
                        <td align="left"><input type="text" id="valuetext" name="attribute[attribute_label]" value="{$sm.res.attribute_label|capitalize:true}" onblur="checkPattern();" onkeypress="hideValueErrMsg()"/>
                        <br><i>Note : Multiple values can be entered in comma(,) separated only.</i>
                        <br /><span id="errValue" class="error"></span>
                        </td>
                    </tr>
		    <tr id="optType" {if $sm.res.attribute_label}style="display:true;"{else}style="display:none;"{/if}>
                        <td>Match Type :</td>
                        <td>
			    <input type="radio" id="strictType" name="attribute[optype]" value="{$match_type.strict}" {if $sm.res.optype==$match_type.strict}checked="checked"{/if}/>Strict  <!--{$optype.strict}-->
                            <input type="radio" id="allType" name="attribute[optype]" value="{$match_type.all}" {if $sm.res.optype==$match_type.all}checked="checked"{/if}/>All	    <!--{$optype.all}-->
			    <br><label style="display: inline;" class="error" generated="true" for="attribute[optype]"></label>
			</td>
                    </tr>
<!--                    <tr>
                        <td>Courses :</td>
                        <td align="left">
                            <select name="attribute[id_course]" multiple="multiple" id="course_name" onchange="hideCourseErrMsg()">
                            {if $sm.res.id_course}
                            {assign var=courseArr value= ","|explode:$sm.res.id_course}
                            {assign var=countArr value=$courseArr|@count}
                            {section name=i loop=$courseArr}
                            {assign var=d value=$courseArr[i]}	    
                                {foreach key=key item=item from=$sm.course}
                                {if $key == $d}
                                 <option  selected="selected" value="{$d}">{$item}</option>
                                {/if}
                                {/foreach}
                            {/section}
                            {/if}
                            </select>
                            <br /><span id="errCourse" class="error"></span>
                        </td>
                    </tr>-->
 <tr>
                      <td></td>    
                           <td>
                           	<table>
                            	<tr>
                                	<td><div class="settheme fltlft"><input type="submit" class="login_btn buton" id="sbmt" name="submit" value="{if $sm.res}Update{else}Add{/if}"/></div></td>
                                    <td><div class="settheme fltlft"><input type="button" class="login_btn buton" name="cancel" value="Cancel" onclick="$.fancybox.close();" /></div></td>
                                </tr>
                            </table>
                           
                                
                           </td>
                      </tr>



<!--                    <tr>
                        <td>&nbsp;</td>
                        <td class="padd_tp">
                            <input type="submit" class="login_btn" name="submit" value="{if $sm.res}Update{else}Add{/if}"/>
                            <input type="button" class="login_btn" name="cancel" value="Cancel" onclick="$.fancybox.close();" />
                        </td>
                    </tr>-->
                </table>
                </form>
    </div>
  </div>
</div>
<!--by gayatree-->






<!--<div id="dv2">    
    <div class="smler_box">
	<div class="top"></div>
	<div class="mdl">
	    <div class="cont_hdr1 fltlft">
            <div class="cont_hdr_lft fltlft"></div>
            <div class="cont_hdr_mdl1 fltlft" align="left">{if $sm.res}Update{else}Add{/if} Attribute</div>
            <div class="cont_hdr_rht fltlft"></div>
            <div class="clear"></div>
	    </div>
	    <div class="clear"></div>
	    <center>
            <div class="txtbg_top_smler"></div>
            <div class="txtbg_mdl_smler">
                <form action="##LBL_ADMIN_SITE_URL##attribute/{if $sm.res}updateAttribute{else}insertAttribute{/if}/ce/0" name="adminaddattribute" id="adminaddattribute" method="post" onsubmit="return AsyncUpload.submitForm(this, validateAttribute, callbackFun);">
                <form action="##LBL_ADMIN_SITE_URL##attribute/{if $sm.res}updateAttribute{else}insertAttribute{/if}/ce/0" name="adminaddattribute" id="adminaddattribute" method="post" onsubmit="return validateAttribute();">
                <input type="hidden" name="id_user" value="{$smarty.session.id_user}" /> 
                <input type="hidden" name="qstart" value="{$sm.qstart}" />   
                <input type="hidden" name="pname" id="pname" value="{$sm.pname}" />
                <input type="hidden" name="ctype" id="ctype" value="{$sm.ctype}" />
                <input type="hidden" name="stype" id="stype" value="{$sm.stype}" />
                <input type="hidden" id="referer" name='referer' value="{$sm.referer}" />
                <input type="hidden" name="id_attribute" id="id_attribute" value="{$sm.res.id_attribute}" />
                <table border="0" width="92%" align="center" class="listing_tbl">
                    <tr>
                        <td width="23%">Name :</td>
                        <td align="left">
                            <input type="text" class="txt" name="attribute[attribute_name]" id="name_attribute" value="{$sm.res.attribute_name|capitalize:true}" /> onblur="attributeExist('{$sm.res.id_attribute}');" 
                               <br/>
                            <span id='attribute_error_name'></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Entry Type :</td>
                        <td>
                            <select name="attribute[entry_type]" id="entrytype" onchange="showEntryType(this);" >
                            <option value="">--Select--</option>
                            {html_options options=$sm.attr|capitalize:true selected=$sm.res.entry_type}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Search Type :</td>
                        <td id="searchtypetd" style="vertical-align:top;">
                            <select name="attribute[search_type]" id="searchtype" onchange="showSearchType(this);">
                            <option value="">--Select--</option>
                            {html_options options=$sm.attr|capitalize:true selected=$sm.res.search_type}
                            </select>
                        </td>
                    </tr>
		     <tr id="txtfield" {if $sm.res.datatype}style="display:true;"{else}style="display:none;"{/if}>
                        <td>Type :</td>
			 <td>
			     <div>
				<input type="radio" name="attribute[datatype]" id="txt_dt_int" value="1" onclick="$('#txt_dt_int_div').show();" {if $sm.res.datatype==1}checked="checked"{/if}/>Integer
				<input type="radio" name="attribute[datatype]" id="txt_dt_str" value="2" onclick="$('#txt_dt_int_div').hide();" {if $sm.res.datatype==2}checked="checked"{/if}/>String
				<br/>
				<label style="display:none;" class="error" generated="true" for="attribute[datatype]">This field  required</label>
				<br/>
			    </div>
			     <div id="txt_dt_int_div"{if $sm.res.text_values}style="display:true;"{else}style="display:none;"{/if}>
				{foreach key=key item=item from=$txt_srch}
				    <input type="radio" id="txt_{$key}" name="attribute[text_values]" value="{$key}" {if $sm.res.text_values==$key}checked="checked"{/if}/>{$item}
				{/foreach}
				<br>
				<label style="display: none;" class="error" generated="true" for="attribute[text_values]">This field is required</label>
			    </div>
                        </td>
                    </tr>
                    <tr id="boardfield" {if $sm.res.dropdown_values}style="display:true;"{else}style="display:none;"{/if}>
                        <td colspan="2"><input type="hidden" id="otherRadio" name="attribute[dropdown_values]" value="{$board_type.other}" /></td>
                    </tr>
                    <tr id="valuefield" {if $sm.res.attribute_label}style="display:true;"{else}style="display:none;"{/if}>
                        <td>Value :</td>
                        <td align="left"><input type="text" id="valuetext" name="attribute[attribute_label]" value="{$sm.res.attribute_label|capitalize:true}" onblur="checkPattern();" onkeypress="hideValueErrMsg()"/>
                        <br><i>Note : Multiple values can be entered in comma(,) separated only.</i>
                        <br /><span id="errValue" class="error"></span>
                        </td>
                    </tr>
		    <tr id="optType" {if $sm.res.attribute_label}style="display:true;"{else}style="display:none;"{/if}>
                        <td>Match Type :</td>
                        <td>
			    <input type="radio" id="strictType" name="attribute[optype]" value="{$match_type.strict}" {if $sm.res.optype==$match_type.strict}checked="checked"{/if}/>Strict  {$optype.strict}
                            <input type="radio" id="allType" name="attribute[optype]" value="{$match_type.all}" {if $sm.res.optype==$match_type.all}checked="checked"{/if}/>All	    {$optype.all}
			    <br><label style="display: inline;" class="error" generated="true" for="attribute[optype]"></label>
			</td>
                    </tr>
                    <tr>
                        <td>Courses :</td>
                        <td align="left">
                            <select name="attribute[id_course]" multiple="multiple" id="course_name" onchange="hideCourseErrMsg()">
                            {if $sm.res.id_course}
                            {assign var=courseArr value= ","|explode:$sm.res.id_course}
                            {assign var=countArr value=$courseArr|@count}
                            {section name=i loop=$courseArr}
                            {assign var=d value=$courseArr[i]}	    
                                {foreach key=key item=item from=$sm.course}
                                {if $key == $d}
                                 <option  selected="selected" value="{$d}">{$item}</option>
                                {/if}
                                {/foreach}
                            {/section}
                            {/if}
                            </select>
                            <br /><span id="errCourse" class="error"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td class="padd_tp">
                            <input type="submit" class="login_btn" name="submit" value="{if $sm.res}Update{else}Add{/if}"/>
                            <input type="button" class="login_btn" name="cancel" value="Cancel" onclick="$.fancybox.close();" />
                        </td>
                    </tr>
                </table>
                </form>	 
            </div>
            <div class="txtbg_btm_smler"></div>
	    </center>
	</div>
    <div class="btm"></div>
    </div>
</div>-->