
<!--<div class="smler_box">
    <div class="top"></div>
    <div class="mdl">
	<div class="cont_hdr1 fltlft">
            <div class="cont_hdr_lft fltlft"></div>
            <div class="cont_hdr_mdl1 fltlft" align="left">{$sm.res.attribute_name|capitalize:true}'s Attribute Detail</div>
            <div class="cont_hdr_rht fltlft"></div>
        </div>
        <div class="clear"></div>

        <center>
	    <div class="txtbg_top_smler"></div>
	    <div class="txtbg_mdl_smler">-->
<div id="dv2">
  <div style="width:500px;">
    <div class="headprt settheme">
            <div class="mdl">
                <span>{$sm.res.attribute_name|capitalize:true}'s Attribute Detail</span>
            </div>
        </div>
    <div class="bodyprt">
		<table border="0" align="center" class="formtbl">
		    <tr>
			<td>Name :</td>
			<td>{$sm.res.attribute_name|capitalize:true}</td>
		    </tr>
		    {if $sm.res.attribute_values}
		     <tr>
			<td>Values :</td>
			<td>{$sm.res.attribute_label|capitalize:true}</td>
		    </tr>
		    {/if}
		     <tr>
			<td>Entry Type :</td>
			<td>{foreach key=key item=item from=$sm.attr}{if $key==$sm.res.entry_type}{$item|capitalize:true}{/if}{/foreach}</td>
		    </tr>
		     <tr>
			<td>Search Type :</td>
			<td>{foreach key=key item=item from=$sm.attr}{if $key==$sm.res.search_type}{$item|capitalize:true}{/if}{/foreach}</td>
		    </tr>
		     <tr>
			<td>Courses :</td>
			<td>
			    {assign var=courseArr value= ","|explode:$sm.res.id_course}
				{assign var=countArr value=$courseArr|@count}
				    {section name=i loop=$courseArr}
				    {assign var=d value=$courseArr[i]}
					{if $d}
					    {foreach key=key item=item from=$sm.course}
					    {if $key == $d}
						{$sm.course.$d|capitalize:true}{if $smarty.section.i.index != $countArr-1},{/if}
					    {/if}
					    {/foreach}
					{else}
					    All
					{/if}
				    {/section}	
			</td>
		    </tr>    
		</table>
      </div>
    <div>
      </div>
<!--	    </div>
	    <div class="txtbg_btm_smler"></div>
        </center>
    </div>
    <div class="btm"></div>
</div>-->
{literal}
<script type="text/javascript">
    $(function() {
	$('#gallery a').lightBox();
    });
</script>
<style>
   
    #gallery ul li a{
	padding: 0px;
	margin: 0;
    }
   
</style>
{/literal}

